@using GurventVantilator.Application.DTOs
@model IEnumerable<MenuDto>

<div class="col-xxl-7 col-xl-7 d-none d-xl-block">
    <div class="it-header-menu it-header-dropdown">
        <nav class="it-menu-content">
            <ul>
                @foreach (var menu in Model)
                {
                    @await Html.PartialAsync("Components/Menu/_MenuRecursive", menu)
                }
            </ul>
        </nav>
    </div>
</div>