@use '../utils' as *;

/*----------------------------------------*/
/*  02. about css start
/*----------------------------------------*/

.it-about {
    &-right {
        margin-left: 75px;
        @media #{$xl,$lg}{
            margin-left: 30px;
        }
        @media #{$lg}{
            margin-left: 0px;
        }

        @media #{$md,$xs}{
            margin-left: 0;
            margin-top: 50px;
        }
        & p {
            line-height: 2;
            color: var(--it-common-black);
            @media #{$xl,$lg,$md}{
                & br{
                    display: none;
                }
            }
            @media #{$xs}{
                font-size: 15px;
                & br{
                    display: none;
                }
            }
        }
        & .row {
            [class*=col-]:first-child{
                & .it-about-funfact::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 1px;
                    height: 100%;
                    background: linear-gradient(180deg, rgba(224, 59, 59, 0) 0%, #e03b3b 50%, rgba(224, 59, 59, 0) 100%);
                    @media #{$md}{
                        right: 5%;
                    }
                    @media #{$xs}{
                        display: none;
                    }
                }
            }
            [class*=col-]:last-child{
                & .it-about-funfact {
                    padding-left: 60px;
                    @media #{$xs}{
                        padding-left: 0;
                    }
                }
            }
        }
    }
    &-thumb {
        & img {
            @media #{$xl,$lg}{
                max-width: 100%;
            }
            @media #{$md,$xs}{
                width: 100%;
            }
        }
        &-wrap {
            margin-right: -30px;
            @media #{$xl,$lg,$md,$xs}{
                margin-right: 0;
            }
        }
    }
    &-funfact {
        position: relative;
        margin-bottom: 30px;
        &-number {
            font-weight: 600;
            font-size: 80px; 
            @media #{$xl,$lg}{
                font-size: 50px;
            }
            @media #{$md,$xs}{
                font-size: 40px;
            }

            & i {
                font-style: normal;
            }
        }
        & span {
            font-size: 20px;
            @media #{$xl}{
                font-size: 17px;
            }
            @media #{$lg,$md,$xs}{
                font-size: 15px;
            }

        }
    }
    &-funfact-wrap {
        margin-bottom: 40px;
        border-bottom: 1px solid rgba(121, 121, 121, 0.3);
    }
    &-shape {
        &-1 {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;  

        }
    }
    &-btn {
        @media #{$xs}{
            flex-wrap: wrap;
        }
        & .it-btn-orange.mr-30 {
            @media #{$lg}{
                margin-right: 20px;
            }
        }
        & .it-slider-author-designation i {
            color: var(--it-common-black);
        }
        & .it-slider-author-designation span {
            color: var(--it-common-black);
        }
        & .it-slider-author {
            @media #{$lg}{
                width: 60%;
            }
            
        }
    }
    &-style-2 {
        & .it-about-thumb {
            & img {
                transform: translateX(-30px);
                @media #{$xl,$lg,$md,$xs}{
                    transform: translateX(0);
                }
            }
        }
        & .it-about-right {
            margin-left: 0;
            margin-right: 75px;
            @media #{$xl}{
                margin-right: 30px;
            }
            @media #{$lg,$md,$xs}{
                margin-right: 0;
                margin-top: 0;
                margin-bottom: 70px;
            }
        }
        & .it-about-shape-1 {
            right: auto;
            left: 0;
        }
    }
    &-style-3 {
        & .it-about-right {
            @media #{$lg}{
                margin-bottom: 0;
            }
        }
        & .it-about-thumb.mb-35{
            @media #{$md,$xs}{
                margin-bottom: 0;
            }
        }
    }
}
.it-about-2 {
    &-right {
        margin-left: 7px;
        @media #{$lg}{
            margin-left: 0;
        }
        @media #{$md,$xs}{
            margin-left: 0;
            margin-bottom: 70px;
        }
    }
    &-thumb {
        display: inline-block;
        padding-left: 50px;
        @media #{$xl,$lg}{
            padding-left: 30px;
            margin-right: 40px;
        }
        @media #{$xs}{
            padding-left: 20px;
            margin-right: 25px;
        }   
        @media #{$sm}{
            padding-left: 40px;
        }   
        & img {
            @media #{$xs}{
                width: 100%;
            } 
        }     
        &::after {
            content: '';
            position: absolute;
            right: -45px;
            bottom: 15px;
            height: 256px;
            width: 45px;
            background-color: var(--it-theme-1);
            animation: translateY 2.5s infinite alternate;
            @media #{$xl,$lg}{
                right: -25px;
                width: 25px;
            }
            @media #{$xs}{
                height: 41%;
                width: 20px;
                right: -20px;
            }
        }
    }
    &-experience {
        position: absolute;
        top: 0;
        left: 0;
        padding: 32px 47px;
        background-color: var(--it-common-black);
        @media #{$xl,$lg}{
            padding: 20px 20px;
        }
        @media #{$xs}{
            padding: 15px;
        } 
        @media #{$sm}{
            padding: 30px 40px;
        } 
        & span {
            font-weight: 500;
            font-size: 20px;
            display: block;
            margin-bottom: 5px;
            color: var(--it-common-white);
            font-family: var(--it-ff-heading);
            @media #{$xl,$lg}{
                font-size: 16px;
            }
            @media #{$xs}{
                font-size: 12px;
            } 
            @media #{$sm}{
                font-size: 16px;
            } 
            & i {
                font-weight: 700;
                font-size: 60px;
                font-style: normal;
                color: var(--it-theme-1);
                font-family: var(--it-ff-heading);
                @media #{$xl,$lg}{
                    font-size: 35px;
                }
                @media #{$xs}{
                    font-size: 12px;
                } 
                @media #{$sm}{
                    font-size: 16px;
                } 
            }
        }
        & p {
            font-weight: 500;
            font-size: 30px;
            margin-bottom: 0;
            color: var(--it-common-white);
            font-family: var(--it-ff-heading);
            @media #{$xl,$lg}{
                font-size: 25px;
            } 
            @media #{$xs}{
                font-size: 20px;
            } 
            @media #{$sm}{
                font-size: 28px;
            } 
        }
    }
    &-text {
        & p {
            margin-right: 60px;
            line-height: 2;
            color: var(--it-common-black-2);
            @media #{$xl,$lg,$md,$xs}{
                font-size: 15px;
                margin-right: 0;
            }
        }
    }
    &-list {
        & ul {
            & li {
                padding-left: 30px;
                position: relative;
                list-style-type: none;
                margin-bottom: 17px;
                font-weight: 600;
                font-size: 18px;
                letter-spacing: 0.01em;
                font-family: var(--it-ff-heading);
                color: var(--it-common-black);
                @media #{$lg}{
                    font-size: 15px;
                }
                & span {
                    position: absolute;
                    top: -2px;
                    left: 0;
                    & svg {
                        @media #{$lg}{
                            width: 16px;
                        }
                    }
                }
            }
        }
    }
    &-more-info {
        position: relative;
        z-index: 1;
        background-size: cover;
        background-repeat: no-repeat;
        width: 263px;
        padding: 33px 40px;
        margin-left: 30px;
        @media #{$xl,$lg}{
            padding: 20px 20px;
            margin-left: 0;
            width: 100%;
        }
        @media #{$xs}{
            margin-top: 35px;
            padding: 20px;
            margin-left: 0;
            width: 100%;
        }
        @media #{$sm}{
            padding: 40px;
            width: 70%;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            background: rgba(9, 18, 22, 0.8);
        }
        & ul {
            & li {
                list-style-type: none;
                &:not(:last-child){
                    padding-bottom: 20px;
                    margin-bottom: 25px;
                    border-bottom: 1px solid rgba($color: #fff, $alpha: .5);
                }
                & span {
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 1;
                    display: block;
                    margin-bottom: 5px;
                    color: var(--it-common-white);
                    font-family: var(--it-ff-heading);
                    @media #{$xl,$lg,$md}{
                        font-size: 25px;
                    }
                    @media #{$xs}{
                        font-size: 30px;
                    }
                    & i {
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                        @media #{$xl,$lg,$md,$xs}{
                            font-size: 16px;
                        }
                    }
                }
                & p {
                    margin-bottom: 0;
                    font-weight: 500;
                    font-size: 20px;
                    color: var(--it-common-white);
                    font-family: var(--it-ff-heading);
                    @media #{$xl,$lg,$md,$xs}{
                        font-size: 16px;
                    }
                }
            }
        }
    }
    &-shape {
        &-1 {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
        }
    }
}
.it-about-3 {
    &-thumb {
        height: 100%;
        @media #{$md}{
            margin-top: 70px;
            height: auto;
        }
        @media #{$xs}{
            height: auto;
        }
        & img {
            height: 100%;
        }
    }
    &-more {
        &-info {
            padding: 31px 30px;
            padding-top: 25px;
            background-color: #313537;
            @media #{$lg}{
                padding: 20px;
                padding-top: 25px;
            }
            @media #{$xs}{
                margin-bottom: 30px;
            }
            &:hover {
                &:hover {
                    & .it-about-3-more-arrow {
                        & a {
                            & svg,i {
                            transform: rotate(360deg);
                            transition: 0.6s;
                            color: var(--it-theme-1);
                            }
                            &::after {
                                top: 50%;
                                left: 50%;
                                transform: scale(1) translate(-50%, -50%);
                            }
                        }
                    }
                }
            }
            
        }
        &-title {
            font-weight: 700;
            font-size: 24px;
            line-height: 1.33;
            margin-bottom: 95px;
            color: var(--it-common-white);
            @media #{$xl}{
                font-size: 20px;
                margin-bottom: 70px;
            }
            @media #{$lg}{
                font-size: 17px;
                margin-bottom: 50px;
            }
            @media #{$md}{
                margin-bottom: 50px;
            }
            @media #{$xs}{
                font-size: 23px;
                margin-bottom: 50px;
            }
        }
        &-arrow {
            line-height: 0;
            & span {
                font-weight: 700;
                font-size: 18px;
                line-height: 1.56;
                color: var(--it-common-white);
                @media #{$lg}{
                    font-size: 14px;
                }
                @media #{$xs}{
                    font-size: 16px;
                }
            }
            & a {
                display: inline-block;
                height: 58px;
                width: 58px;
                line-height: 58px;
                text-align: center;
                background-color: var(--it-theme-1);
                position: relative;
                overflow: hidden;
                @media #{$xl,$lg,$md,$xs}{
                    height: 40px;
                    width: 40px;
                    line-height: 40px;
                }
                &::after {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 50%;
                    height: 100px;
                    width: 100px;
                    border-radius:50%;
                    transition: 0.5s ease;
                    transform: scale(0);
                    background-color: var(--it-common-white);
                }
                & svg,i {
                    position: relative;
                    z-index: 1;
                    color: var(--it-common-white);
                }
            }
        }
    }
    &-title {
        font-weight: 600;
        font-size: 25px;
        @media #{$xl}{
            font-size: 22px;
        }
        @media #{$lg,$md,$xs}{
            font-size: 20px;
        }
    }
    &-arrow {
        line-height: 0;
        margin-left: 20px;
        & a {
            display: inline-block;
            height: 58px;
            width: 58px;
            line-height: 58px;
            text-align: center;
            background-color: var(--it-theme-1);
            position: relative;
            overflow: hidden;
            @media #{$lg,$md,$xs}{
                height: 40px;
                width: 40px;
                line-height: 40px;
            }
            &::after {
                position: absolute;
                content: "";
                top: 0;
                left: 50%;
                height: 100px;
                width: 100px;
                border-radius:50%;
                transition: 0.5s ease;
                transform: scale(0);
                background-color: var(--it-common-white);
            }
            & svg,i {
                position: relative;
                z-index: 1;
                color: var(--it-common-white);
            }
        }
    }
    &-left {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &-right {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media #{$xs}{
            margin-top: 30px;
            margin-bottom: 50px;
            flex-wrap: wrap;
            height: auto;
        }
    }
    &-item {
        position: relative;
        padding: 20px 25px 20px 30px;
        border: 1px solid #797979;
        z-index: 1;
        @media #{$xl}{
            padding: 13px 25px 13px 30px;
        }
        @media #{$lg}{
            padding: 10px 15px;
        }
        &::after {
            position: absolute;
            content: "";
            top: auto;
            bottom: 0;
            left: 0;
            height: 0;
            width: 100%;
            background-color: var(--it-theme-1);
            transition: 0.4s;
            z-index: -1;
        }
        &:hover {
            border: 1px solid var(--it-theme-1);
            &::after {
                height: 100%;
                bottom: auto;
                top: 0;
            }
            & .it-about-3-title {
                color: var(--it-common-white);
            }
            & .it-about-3-arrow {
               & a {
                    & svg,i {
                        transform: rotate(360deg);
                        transition: 0.6s;
                        color: var(--it-theme-1);
                    }
                    &::after {
                        transform: scale(1) translate(-50%, -50%);
                        top: 50%;
                        left: 50%;
                    }
               }
            }
        }
    }
}
.it-about-4 {
    &-left {
        & p {
            line-height: 2;
            margin-right: 30px;
            color: var(--it-common-black);
            @media #{$xl}{
                margin-right: 0;
            }
            @media #{$lg,$md,$xs}{
                margin-right: 0;
                font-size: 16px;
            }
        }
    }
    &-right {
        @media #{$md,$xs}{
            margin-top: 50px;
        }
        & .it-custom-accordion .accordion-buttons {
            position: relative;
            text-align: left;
            padding: 31px 0;
            padding-right: 50px;
            width: 100%;
            font-weight: 700;
            color: var(--it-common-black);
            @media #{$md,$xs}{
                font-size: 20px;
            }
            & .it-accordion-btn {
                right: 0;
                height: 32px;
                width: 32px;
                line-height: 29px;
                color: var(--it-common-white);
                background-color: var(--it-common-black);
            }
            &:not(.collapsed){
                padding-bottom: 20px;
                & .it-accordion-btn {
                    background-color: var(--it-theme-1);
                }
            }
        }
        & .it-custom-accordion .accordion-body p {
            line-height: 1.62;
            margin-right: 0;
            font-size: 16px;
        }
        & .it-custom-accordion .accordion-body {
            padding: 0 0 20px 0;
            position: relative;
            z-index: 1;
        }
    }
    &-thumb {
        overflow: hidden;
        & img {
            transition: all 0.5s linear;
        }
        &:hover {
            & img {
                transform: scale(1.1);
            }
        }
    }
}