@use '../utils' as *;

/*----------------------------------------*/
/*  16. header css start
/*----------------------------------------*/
.it-header-transparent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.it-header-top {
    &-ptb {
        padding: 18px 0;
        @media #{$lg,$md,$xs}{
            padding: 12px 0;
        }
    }
    &-list {
        &-box {
            @media #{$xs}{
                text-align: center;
            }
            @media #{$sm}{
                text-align: start;
            }
            & ul {
                & li {
                    display: inline-block;
                    list-style-type: none;
                    padding-left: 30px;
                    position: relative;
                    @media #{$xs}{
                        padding-right: 0;
                        margin-right: 0;
                        border-right: none;
                    }
                    &:not(:last-child) {
                        padding-right: 48px;
                        margin-right: 44px;
                        border-right: 1px solid rgba($color: #fff, $alpha: .2);
                        @media #{$xl}{
                            padding-right: 30px;
                            margin-right: 26px;
                        }
                        @media #{$md,$xs}{
                            padding-right: 0px;
                            margin-right: 0px;
                            border-right: none;
                        }
                    }
                    & span {
                        font-weight: 400;
                        font-size: 14px;
                        letter-spacing: 0.01em;
                        display: inline-block;
                        font-family: var(--it-ff-body);
                        color: var(--it-common-white);
                        @media #{$sm}{
                            font-size: 13px;
                        }
                        & svg,i {
                            position: absolute;
                            top: 1px;
                            left: 0;
                            font-size: 20px;
                            color: var(--it-theme-1);    
                            @media #{$sm}{
                                font-size: 16px;
                                top: 3px;
                            }              
                        }
                    }
                }
            }
        }
        &-text {
            margin-left: 10px;
            & span {
                font-weight: 400;
                font-size: 12px;
                display: block;
                margin-bottom: 6px;
                color: var(--it-common-black-2);
            }
            & a {
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 0.01em;
                color: var(--it-common-black);
            }
        }
        &-icon {
            & span {
                display: inline-block;
                height: 53px;
                width: 53px;
                line-height: 49px;
                text-align: center;
                border-radius: 50%;
                text-align: center;
                background-color: #F3F3F3;
                border: 1px solid rgba(121, 121, 121, 0.1);
                position: relative;
                overflow: hidden;
                & svg,i {
                    position: relative;
                    z-index: 1;
                    color: var(--it-theme-1);
                    transition: .3s;
                }
                &::after {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 50%;
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                    transition: 0.5s ease;
                    transform: scale(0);
                    background-color: var(--it-theme-1);
                }
            }
        }
        &-wrap {
            & ul {
                & li {
                    list-style-type: none;
                    display: inline-block;
                    &:not(:last-child){
                        margin-right: 55px;
                    }
                    & .it-header-top-list  {
                        &:hover {
                            & .it-header-top-list-icon {
                                & span {
                                    &::after {
                                        top: 50%;
                                        left: 50%;
                                        transform: scale(1) translate(-50%, -50%);
                                    }
                                    & svg,i {
                                        color: var(--it-common-white);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &-social-box {
        & a {
            font-size: 14px;
            letter-spacing: 0.01em;
            display: inline-block;
            transition: .3s;
            height: 35px;
            width: 35px;
            line-height: 31px;
            margin: 0 5px;
            text-align: center;
            border: 1px solid #313537;
            color: var(--it-common-white);
            &:last-child{
                margin-right: 0;
            }
            &:hover {
                color: var(--it-theme-1);
            }
        }
    }
    &-contact {
        padding-right: 45px;
        @media #{$xxl}{
            padding-right: 15px;
        }
        & a {
            font-size: 14px;
            letter-spacing: 0.01em;
            font-family: var(--it-ff-heading);
            transition: .3s;
            &:hover {
                color: var(--it-theme-1);
            }
        }
        & span {
            display: inline-block;
            margin: 0 5px;
        }
    }
    &-style-2 {
        &.it-header-top-ptb {
            padding: 11px 0;
        }
        & .it-header-top-list-wrap ul li{
            @media #{$xs}{
                margin-right: 0;
            }
        }
        & .it-header-top-social-box {
            & span {
                font-weight: 500;
                font-size: 18px;
                margin-right: 13px;
                display: inline-block;
                color: var(--it-common-black);
                @media #{$xl,$lg,$md,$xs}{
                    font-size: 14px;
                }
                @media #{$sm}{
                    display: none;
                    margin-right: 8px;
                }
            }
            & a {
                width: 44px;
                height: 44px;
                line-height: 41px;
                border: 1px solid rgba(121, 121, 121, 0.15);      
                color: var(--it-common-black);
                @media #{$sm}{
                    width: 35px;
                    height: 35px;
                    line-height: 31px;
                }
                & svg,i {
                    @media #{$sm}{
                        width: 14px;
                        height: 14px;
                    }
                }
                &:hover {
                    color: var(--it-theme-1);
                }
            }
        }
    }
}
.it-header {
    &-ptb {
        @media #{$lg,$md,$xs}{
            padding: 15px 0;
        }
    }
    &-logo {
        position: absolute;
        top: 0;
        left: 5%;
        padding: 0 65px;
        background-color: var(--it-theme-1);
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        @media #{$xxl}{
            left: 2%;
        }
        @media #{$xl}{
            left: 0;
            padding: 0 30px;
        }
        @media #{$lg}{
            left: 0;
        }
        @media #{$lg,$md,$xs}{
            left: 0;
            padding: 0 45px;
        }

    }
    &-ml {
        margin-left: 420px;
        @media #{$xxl}{
            margin-left: 350px;
        }
        @media #{$xl}{
            margin-left: 230px;
        }
        @media #{$lg,$md,$xs}{
            margin-left: 0;
        }
    }
    &-menu {
        & > nav{
            & > ul{
                & > li{
                    list-style-type: none;
                    display: inline-block;
                    margin: 0px 17px;
                    @media #{$xxl}{
                        margin: 0px 10px;
                    }
                    @media #{$xl}{
                        margin: 0px 8px;
                    }
                    &:first-child {
                        margin-left: 0;
                    }
                    & > a {
                        font-weight: 600;
                        font-size: 15px;
                        letter-spacing: 0.01em;
                        text-transform: uppercase;
                        padding: 30px 0;
                        display: inline-block;
                        position: relative;
                        color: var(--it-common-black);
                        font-family: var(--it-ff-heading);
                        @media #{$xl}{
                            font-size: 13px;
                        } 
                        &::before {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            height: 4px;
                            width: 0;
                            margin: 0 auto;
                            transition: .3s;
                            opacity: 0;
                            background-color: var(--it-theme-1);
                        }                    
                    }
                    &:hover {
                        & > a {
                            color: var(--it-theme-1);
                            &::before {
                                width: 100%;
                                opacity: 1;
                            }
                        }
                        &.has-dropdown::after {
                            color: var(--it-theme-1);
                        }
                    }
                }
            }
        }
    }
    &-bar {
        & button {
            & span {
                margin-left: 20px;
                height: 48px;
                width: 48px;
                text-align: center;
                line-height: 45px;
                color: var(--it-common-white);
                background-color: var(--it-theme-1);
                transition: .3s;
                display: inline-block;
                @media #{$xs}{
                    height: 40px;
                    width: 40px;
                    line-height: 40px;
                }
                & svg {
                    @media #{$xs}{
                        width: 18px;
                    }
                }
            }
        }
    }
    &-search {
        margin-right: 27px;
        & button {
            height: 53px;
            width: 53px;
            line-height: 1;
            border-radius: 50%;
            position: relative;
            padding: 0;
            background-color: #F3F3F3;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                transition: .3s;
                border-radius: 50%;                
                background-color: var(--it-theme-1);
                transform: scale(0);
            }
            & svg {
                position: relative;
                z-index: 1;
                display: inline-block;
                width: 17px;
            }
            &:hover {
                &::after {
                    transform: scale(1);
                }
                & svg {
                    color: var(--it-common-white);
                }
            }
        }
        @media #{$md}{
            margin-right: 0;
        }
        @media #{$xs}{
            display: none;
        }
    }
    &-right-action {
        & .it-btn-orange {
            @media #{$xl}{
                font-size: 15px;
                padding: 15px 24px;
            }
        }
    }
    &-style-2 {
        & .it-header-menu nav > ul {
            margin-left: 75px;
            @media #{$xxl}{
                margin-left: 0;
            }
            @media #{$xl}{
                margin-left: 40px;
            }
        }
        & .it-header-menu nav ul li > a {
            color: var(--it-common-white);
        }
        & .it-header-menu nav ul li.has-dropdown a::after {
            color: var(--it-common-white);
        }
        & .it-header-menu > nav > ul > li {
            margin: 0px 18px;
            @media #{$xl}{
                margin: 0px 8px;
            }
            &:hover {
                & > a {
                    color: var(--it-theme-1);
                    &::before {
                        width: 100%;
                        opacity: 1;
                    }
                }
                &.has-dropdown {
                    & a {
                        &::after {
                            color: var(--it-theme-1);
                        }
                    }
                }
            }
        }
    }
    &-style-3 {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        & .it-header-menu {
            & nav {
                border-left: 1px solid rgba(255, 255, 255, 0.2);
                border-right: 1px solid rgba(255, 255, 255, 0.2);
                padding-left: 87px;
                margin-right: -40px;
                @media #{$xxl}{
                    padding-left: 50px;
                }
                @media #{$xl}{
                    padding-left: 0px;
                    margin-right: -80px;
                }
                & > ul {
                    & > li {
                        margin: 0;
                        padding: 0 19px;
                        transition: .4s;
                        position: relative;
                        @media #{$xxl}{
                            padding: 0 14px;
                        }
                        @media #{$xl}{
                            padding: 0 13px;
                        }
                        & > a {
                            padding: 29px 0;
                            line-height: 1.8;                           
                            @media #{$xl}{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    &-style-4 {
        & .it-header-menu {
            & nav {
                margin-left: 65px;
                @media #{$xxl,$xl}{
                    margin-left: 0;
                }             
            }
        }
        & .it-header-right-action {
            margin-left: -60px;
            @media #{$xxl}{
                margin-left: -120px;
            }
        }
    }
}
.header-sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	opacity: 1;
	visibility: visible;
	width: 100%;
	z-index: 999;
	visibility: visible;
    background-color: var(--it-common-white);
	animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
	box-shadow: 0px 1px 3px 0px rgba(18, 20, 32, 0.14);
    & .it-header-top-area {
        display: none;
    }    
    & .it-header-menu > nav > ul > li > a {
        padding: 27px 0;
        & .it-header-logo {
            display: none;
        }  
        & .it-header-logo-2 {
            display: block;
        }
    }    
    &.it-header-style-2 .it-header-menu > nav > ul > li > a {
        color: var(--it-common-black);
        &:hover {
            color: var(--it-theme-1);
        }
    }   
    &.it-header-style-2 .it-header-menu > nav > ul > li.has-dropdown > a {
        &:hover {
            &::after {
                color: var(--it-theme-1);
            }
        }
    }   
    &.it-header-style-2  .it-header-menu nav ul li.has-dropdown a::after {
        color: var(--it-common-black);
       
    } 
    
    & .it-header-logo-2 {
    }
 
    &.it-header-style-2 {
        & .it-header-logo-red {
            display: block !important;
        } 
        & .it-header-logo-2 {
            display: none;
        } 
    }
    &.it-header-style-3 .it-header-menu nav {
        border: none;
        padding-left: 0;
    }
    &.it-header-style-3 {
	    border-bottom: none;
        &.it-header-style-2 .it-header-menu nav ul li.has-dropdown a::after {
            color: var(--it-common-black);
        }
    }
}

.it-onepage {
    &-menu {
        & li {
            & > a {                
                &.active {
                    color: var(--it-theme-1) !important;
                    &::before {
                        width: 100%;
                        opacity: 1;
                    }
                }
            }
            &.has-dropdown{
                & > a {
                    &.active {                        
                        &::after {
                            color: var(--it-theme-1) !important;
                        }
                    }
                }
            }
        }
    }
}