
@use '../utils' as *;

/*----------------------------------------*/
/*  19. newsletter css start
/*----------------------------------------*/
.it-newsletter {
    &-bg {
        position: relative;
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 50%;
            width: 100%;
            z-index: -1;
            background-color: var(--it-common-black);
        }
    }
    &-wrap {
        padding: 56px 78px;
        background-color: var(--it-theme-1);
        @media #{$lg,$md}{
            padding: 56px 40px;
        }
        @media #{$xs}{
            padding: 40px 20px;
        }
    }
    &-input {
        &-box {
            text-align: end;
            margin-left: 85px;
            @media #{$md,$xs}{
                margin-top: 30px;
                margin-left: 0;
            }
            & input {
                line-height: 69px;
                height: 69px;
                padding-left: 35px;
                padding-right: 90px;
                background: rgba(255, 255, 255, 0.3);
                border: 1px solid rgba(255, 255, 255, 0.1);
                color: var(--it-common-white);
                &::placeholder {
                    color: var(--it-common-white);
                }
                @media #{$lg,$md,$xs}{
                    height: 56px;
                    line-height: 56px;
                    padding-left: 25px;
                }
            }
            & button {
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
                width: 40px;
                height: 40px;
                background-color: var(--it-common-white);
                @media #{$lg,$md,$xs}{
                    right: 25px;
                }
                &:hover {
                    background-color: var(--it-common-black);
                }
            }
            & .it-btn-orange {
                padding: 19px 40px;
            }
        }
    }
    &-title {
        font-weight: 600;
        font-size: 34px;
        line-height: 1.29;
        margin-bottom: 0;
        color: var(--it-common-white);
        @media #{$lg}{
            font-size: 28px;
        }
        @media #{$md}{
            font-size: 32px;
        }
        @media #{$xs}{
            font-size: 25px;
        }
    }
    &-style-2 {
        & .it-newsletter-wrap {
            padding: 31px 78px;
            background-color: transparent;
            border: 1px solid #313537;
            @media #{$xl,$lg}{
                padding: 31px 55px;           
            }
            @media #{$md,$xs}{
                padding: 25px 25px;           
            }
        }
        & .it-newsletter-input-box input {
            background: rgba(255, 255, 255, 0.1);
        }
        & .it-newsletter-input-box button {
            color: var(--it-common-white);
            background-color: var(--it-theme-1);
            &:hover {
                color: var(--it-theme-1);
                background-color: var(--it-common-white);
            }
        }
        & .it-newsletter-title {
            @media #{$xl}{
                font-size: 29px;                
            }
            @media #{$lg}{
                font-size: 24px;                
            }
            @media #{$md}{
                font-size: 24px;                
            }
            @media #{$xs}{
                font-size: 20px;                
            }
            @media #{$sm}{
                font-size: 22px;                
            }
        }
    }
}
