@use '../utils' as *;

/*----------------------------------------*/
/*  26. team css start
/*----------------------------------------*/

.it-team {
    &-top-info {
        padding: 23px 30px;
        display: inline-block;
        background-color: var(--it-common-black);
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: -5px;
            height: 62%;
            width: 5px;
            transition: .3s;
            transform: translateY(-50%);
            background: var(--it-theme-1);
            animation: zoom 3s infinite;
        }
        & ul {
            & li {
                list-style-type: none;
                &:not(:last-child){
                    padding-bottom: 15px;
                    margin-bottom: 15px;
                    border-bottom: 1px solid rgba($color: #fff, $alpha: .1);
                }
            }
        }
        &-number {
            margin-right: 10px;
            & span {
                font-weight: 700;
                font-size: 24px;
                color: transparent;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: var(--it-theme-1);
                font-family: var(--it-ff-heading);
            }
        }
        &-text {
            & span {
                display: block;
                font-weight: 700;
                font-size: 24px;
                margin-bottom: 10px;
                font-family: var(--it-ff-heading);
                color: var(--it-common-white);
            }
            & p {
                font-weight: 400;
                font-size: 14px;
                letter-spacing: 0.01em;
                color: #F3F3F3;
                margin-bottom: 0;
            }
        }
    }
    &-thumb {
        background-color: var(--it-gray-1);
        & img {
            transition: all 0.7s ease-in-out;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            background: linear-gradient(180deg, rgba(9, 18, 22, 0) 0%, #091216 100%);
        }
    }
    &-thumb-wrap {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: -7px;
            height: 0;
            width: 7px;
            opacity: 0;
            transition: .3s;
            transform: translateY(-50%);
            background: var(--it-theme-1);
        }
    }
    &-shape-1 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        z-index: -1;
    }
    &-title {
        font-weight: 600;
        font-size: 25px;
        margin-bottom: 10px;
        @media #{$xl,$lg,$md,$sm}{
            font-size: 19px;
        }
    }
    &-content {
        padding: 25px 20px;
    }
    &-social {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        z-index: 1;
        text-align: center;
        transform: perspective(400px) rotateX(-90deg);
        transition: all 0.3s ease-in-out;
        & > a {
            height: 50px;
            width: 50px;
            line-height: 50px;
            text-align: center;
            display: inline-block;
            transition: .3s;
            font-size: 16px;
            border-radius: 50%;
            margin: 0 3px;
            color: var(--it-common-white);
            border: 1px solid var(--it-common-white);
            @media #{$lg,$xs}{
                height: 35px;
                width: 35px;
                line-height: 35px;
                font-size: 12px;
            }
            &:hover {
                background-color: var(--it-theme-1);
                border: 1px solid var(--it-theme-1);
            }
        }
    }
    &-top-wrap {
        @media #{$xs}{
            padding-bottom: 40px;
        } 
        & .it-section-title-box {
            @media #{$md,$xs}{
                margin-bottom: 30px;
            }
        }
    }
    &-item {
        padding-left: 7px;
        &:hover {
            & .it-team-thumb {
                & img {
                    transform: scale(1.1) rotate(-2deg);
                }
                &::after {
                    opacity: 1;
                }
            }
            & .it-team-thumb-wrap {
                &::after {
                    opacity: 1;
                    height: 49%;
                }
            }
            & .it-team-social {
                transform: perspective(400px) rotateX(0deg);
            }
        }
    }
}
.it-team-inner-style {
    & .it-team-thumb {
        background-color: var(--it-common-white);
    }
}

/* details area start */
.it-team-details {
    &-area {
        & .it-team-content {
            padding: 0;
        }
        & .it-header-top-list-wrap ul li:not(:last-child) {
	        margin-right: 100px;
            @media #{$lg}{
                margin-right: 40px;
            }
            @media #{$xs}{
                margin-bottom: 20px;
            }
        }
        & .it-copyright-social {
            padding-bottom: 40px;
            margin-bottom: 34px;
            border-bottom: 1px solid rgba(121, 121, 121, 0.2);
            & a {
                color: var(--it-common-black);
                border: 1px solid rgba($color: #797979, $alpha: .15);
                &:hover {
                    color: var(--it-theme-1);
                }
            }
        }
        & .it-team-title {
            margin-bottom: 15px;
        }
        & .it-team-item {
            padding-left: 0;
            @media #{$md,$xs}{
                margin-bottom: 50px;
            }
            & img {
                max-width: inherit;
                @media #{$xs}{
                    max-width: 100%;                
                }
            }
        }
        & .it-sv-details-list {
            & ul {
                & li {
                    & span {
                        @media #{$lg,$md,$xs}{
                            top: 0;           
                        }
                    }
                    & p {
                        font-weight: 500;
                        font-size: 16px;
                        color: var(--it-common-black-2);
                        @media #{$xs}{
                           font-size: 14px;               
                        }
                    }
                }
            }
        }
    }
    &-title {
        font-weight: 600;
        font-size: 34px;
        @media #{$lg,$xs}{
            font-size: 28px;
        }
    }
    &-wrap {
        padding: 70px 75px;
        & p {
            font-weight: 400;
            font-size: 16px;
            line-height: 2;
            color: #57595c;
            @media #{$md,$xs}{
                font-size: 14px;             
            }
            & span {
                color: var(--it-theme-1);
            }
        }
    }
    &-shape-1 {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
    &-style-2 {
        & .it-team-details-wrap {
            padding: 0;
        }
    }    
}
.subscribe-popup {
    & .close {
        height: 50px;
        width: 50px;
        line-height: 43px;
        position: absolute;
        right: 20px;
        top: 20px;
        text-align: center;
        border-radius: 50%;
        background-color: var(--it-common-black);
        cursor: pointer;
        & i{
            font-size: 20px;
            font-weight: 400;
            display: inline-block;
            color: var(--it-common-white);
            transition: .3s;
        }
        &:hover{
            & i{
                transform: rotate(180deg);
            }
        }
    }
    & .it-team-details-wrap {
        @media #{$lg,$xs}{
            padding: 85px 30px;
        }
   }
}
.it-team-details-area {
    height: auto;
}
.it-team-details-wrap {
    height: auto;
}