@using GurventVantilator.Application.DTOs
@model SiteInfoDto

<div class="it-offcanvas-area">
    <div class="itoffcanvas">
        <div class="itoffcanvas__close-btn">
            <button class="close-btn"><i class="fal fa-times"></i></button>
        </div>
        <div class="itoffcanvas__logo">
            <a href="index.html">
                <img src="https://admin.gurvent.firatramazano.com/@Model.LogoPath" alt="">
            </a>
        </div>
        <div class="itoffcanvas__text">
            <p>@Model.SiteInformation</p>
        </div>
        <div class="it-menu-mobile d-xl-none"></div>
        <div class="itoffcanvas__info">
            <h3 class="offcanva-title">Bize Ulaşın</h3>
            <div class="it-info-wrapper mb-20 d-flex align-items-center">
                <div class="itoffcanvas__info-icon">
                    <a href="#"><i class="fal fa-envelope"></i></a>
                </div>
                <div class="itoffcanvas__info-address">
                    <span>E-Posta Adresi</span>
                    <a href="maito:hello@yourmail.com">@Model.Email1</a>
                </div>
            </div>
            <div class="it-info-wrapper mb-20 d-flex align-items-center">
                <div class="itoffcanvas__info-icon">
                    <a href="#"><i class="fal fa-phone-alt"></i></a>
                </div>
                <div class="itoffcanvas__info-address">
                    <span>Telefon</span>
                    <a href="tel:(00)45611227890">@Model.Phone1</a>
                </div>
            </div>
            <div class="it-info-wrapper mb-20 d-flex align-items-center">
                <div class="itoffcanvas__info-icon">
                    <a href="#"><i class="fas fa-map-marker-alt"></i></a>
                </div>
                <div class="itoffcanvas__info-address">
                    <span>Adres</span>
                    <a href="htits://www.google.com/maps/37.4801311,22.8928877,3z" target="_blank">@Model.Address</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="body-overlay"></div>