@using GurventVantilator.Application.Common
@using GurventVantilator.Application.DTOs
@using GurventVantilator.WebUI.ViewComponents
@model IEnumerable<ProductDto>

@await Component.InvokeAsync("Breadcrumb", new
{
title = "Ürünlerimiz",
pageTitle = "Ürünler",
pageKey = "Product",
parentUrl = Url.Action("Index", "Product")
})


            <!-- breadcrumb-area-start -->
            <div class="it-breadcrumb-area it-breadcrumb-overlay z-index-1 fix p-relative"
               data-background="assets/img/breadcrumb/breadcrumb.jpg">
               <div class="container">
                  <div class="row align-items-center">
                     <div class="col-xl-8 col-lg-8 col-md-7">
                        <div class="it-breadcrumb-content">
                           <div class="it-breadcrumb-title-box">
                              <h3 class="it-breadcrumb-title it-split-text it-split-in-right">Roof Installation</h3>
                           </div>
                           <div class="it-breadcrumb-list-wrap">
                              <div class="it-breadcrumb-list">
                                 <span><a href="index.html">Home</a></span>
                                 <span class="dvdr">
                                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none"
                                       xmlns="http://www.w3.org/2000/svg">
                                       <path
                                          d="M0.728891 0L0 0.728893L3.76852 4.5L0 8.27111L0.728891 9L5.23148 4.5L0.728891 0Z"
                                          fill="#E03B3B" />
                                    </svg>
                                 </span>
                                 <span><a href="index.html">Services</a></span>
                                 <span class="dvdr">
                                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none"
                                       xmlns="http://www.w3.org/2000/svg">
                                       <path
                                          d="M0.728891 0L0 0.728893L3.76852 4.5L0 8.27111L0.728891 9L5.23148 4.5L0.728891 0Z"
                                          fill="#E03B3B" />
                                    </svg>
                                 </span>
                                 <i>Roof Installation</i>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-5">
                        <div class="it-breadcrumb-right text-end">
                           <span class="it-breadcrumb-experience p-relative">
                              <i><img src="assets/img/hero/favicon.png" alt=""></i>
                              <b class="it-breadcrumb-experience-text">
                                 <img src="assets/img/hero/circle.png" alt="">
                              </b>
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- breadcrumb-area-end -->

            <!-- service-area-start -->
            <div class="it-service-2-area p-relative z-index-1 pt-125 pb-95">
               <div class="container">
                  <div class="row">
                     <div class="col-xl-12">
                        <div class="it-section-title-box text-center mb-65">
                           <span class="it-section-subtitle">Rooft Best services</span>
                           <h4 class="it-section-title it-split-text it-split-in-right mb-0">The United Way To Find <br>
                              Specialist Services</h4>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xl-4 col-lg-4 col-md-6 wow itfadeUp" data-wow-duration=".9s" data-wow-delay=".3s">
                        <div class="it-service-2-item it-img-anim-wrap mb-35">
                           <div class="fix p-relative">
                              <div class="it-service-2-thumb fix it-img-anim"
                                 data-displacement="assets/img/webgl/pattern-1.jpg" data-intensity="0.6"
                                 data-speedin="1" data-speedout="1">
                                 <img class="w-100" src="assets/img/service/service-2-1.jpg" alt="">
                              </div>
                              <div class="it-service-2-icon">
                                 <span>
                                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none"
                                       xmlns="http://www.w3.org/2000/svg">
                                       <path
                                          d="M37.8182 15.8811C37.7596 15.2124 37.4487 14.6405 36.919 14.2272L28.8987 7.97408C28.7205 7.83502 28.4713 7.84596 28.3049 7.99127L26.7307 6.57174L26.7807 6.51627C26.8643 6.42408 26.9072 6.30221 26.901 6.17799C26.8947 6.05377 26.8393 5.93736 26.7471 5.85377L25.5252 4.75142C25.3494 4.59283 25.2713 4.42017 25.2854 4.22252C25.3104 3.8858 25.5994 3.47877 26.0049 3.20846C26.4924 2.88424 27.0744 2.70064 27.6901 2.50611C27.8018 2.47096 27.9151 2.43502 28.0291 2.3983C28.508 2.24361 28.8237 1.89049 28.8752 1.45455C28.9252 1.02799 28.7072 0.6108 28.3057 0.366268C28.0362 0.202206 27.4924 0.0232997 25.8924 0.363143C25.0276 0.546737 24.1362 0.827206 23.7369 0.9983C22.1166 1.69127 21.3072 2.59205 20.283 3.73267C20.1987 3.82642 20.1127 3.92252 20.0244 4.02017C19.9315 4.1233 19.8885 4.26236 19.908 4.39986C20.0596 5.47174 19.8627 5.82721 19.7322 5.94283C19.5002 6.14908 18.9979 6.07408 18.6166 5.97486L18.6158 5.97721C18.4518 5.93424 18.2713 5.98033 18.1494 6.11471L16.7041 7.71705C16.6205 7.80924 16.5776 7.93111 16.5838 8.05533C16.5901 8.17955 16.6455 8.29596 16.7377 8.37955L19.6502 11.0069C19.7362 11.085 19.8487 11.1272 19.9643 11.1272C19.9721 11.1272 19.9807 11.1272 19.9885 11.1264C20.1127 11.1202 20.2291 11.0647 20.3127 10.9725L21.758 9.37017C21.8416 9.27799 21.8846 9.15611 21.8783 9.03189C21.8776 9.01939 21.876 9.00767 21.8744 8.99596C21.8237 8.60299 21.8112 7.9108 22.2994 7.68971C22.7666 7.47799 23.6471 7.71236 24.3119 8.46939C24.4002 8.57017 24.5276 8.62799 24.6612 8.62877C24.7916 8.62799 24.9229 8.5733 25.0127 8.47408L25.0385 8.44596L26.6119 9.86549C26.4854 10.046 26.4987 10.2936 26.6549 10.4569L33.6658 17.8186C34.1221 18.2975 34.7104 18.5506 35.3697 18.5506H35.4049C36.0783 18.5413 36.6729 18.2725 37.1237 17.7725L37.219 17.6663C37.6705 17.167 37.8768 16.5499 37.8182 15.8811ZM19.9322 9.99674L17.7158 7.99674L18.533 7.09049L20.7494 9.09049L19.9322 9.99674ZM24.6463 7.48267C23.7971 6.74986 22.7104 6.47642 21.9151 6.83658C21.6549 6.95377 21.158 7.2733 20.9799 8.03658L19.7776 6.95221C20.0002 6.89283 20.1924 6.79049 20.3565 6.64439C20.819 6.23267 20.9822 5.54439 20.8643 4.48971C20.9033 4.44596 20.9424 4.40299 20.9807 4.36002C21.9651 3.26392 22.676 2.47252 24.1057 1.8608C25.0963 1.43736 27.4119 0.920175 27.8182 1.16783C27.919 1.22955 27.9494 1.30221 27.944 1.34596C27.9369 1.40689 27.8588 1.46861 27.7401 1.50689C27.6283 1.54283 27.5174 1.57799 27.4072 1.61236C26.726 1.82721 26.0822 2.03033 25.4846 2.42799C24.9721 2.76939 24.4041 3.40142 24.3494 4.15377C24.3135 4.64439 24.5026 5.09205 24.8963 5.44674L25.7705 6.23502L24.6463 7.48267ZM26.1026 7.26783L27.6721 8.68424L27.2369 9.16627L25.6674 7.74986L26.1026 7.26783ZM36.5244 17.0381L36.4291 17.1444C36.1494 17.4538 35.8112 17.6077 35.394 17.6131C34.9783 17.6202 34.6338 17.4749 34.3463 17.1725L27.6354 10.1256L28.6666 8.98189L36.3432 14.967C36.6713 15.2225 36.8487 15.5483 36.8846 15.9631C36.9205 16.3772 36.8033 16.7288 36.5244 17.0381ZM27.9635 19.9905C27.8752 19.4506 27.583 18.9788 27.1416 18.6608L14.801 9.78971C14.3494 9.46471 13.7658 9.46627 13.3158 9.79283L7.98381 13.6616V12.4233C8.38146 12.3842 8.69318 12.0475 8.69318 11.6397V10.4139C8.69318 9.97955 8.34006 9.62642 7.90568 9.62642H3.20021C2.76584 9.62642 2.41271 9.97955 2.41271 10.4139V11.6397C2.41271 12.0475 2.72443 12.3842 3.12209 12.4233V17.1874L1.0135 18.717C0.101777 19.3788 -0.102129 20.6585 0.55959 21.571C0.879121 22.0116 1.35256 22.3014 1.8924 22.3874C2.00178 22.4045 2.11115 22.4131 2.21975 22.4131C2.47209 22.4131 2.71975 22.3655 2.95256 22.2749V37.3592C2.95256 37.6178 3.16271 37.828 3.42131 37.828H24.7393C24.9979 37.828 25.208 37.6178 25.208 37.3592V22.2249C25.544 22.3553 25.9112 22.3944 26.2776 22.335C26.8174 22.2467 27.2893 21.9545 27.6072 21.5131C27.9252 21.071 28.0518 20.5303 27.9635 19.9905ZM3.351 10.5647H7.75568V11.4905H3.351V10.5647ZM4.06037 12.428H7.04553V14.342L4.06037 16.5077V12.428ZM16.9643 36.8905H11.1979V28.2538H16.9643V36.8905ZM17.9018 36.8905V27.785C17.9018 27.5264 17.6916 27.3163 17.433 27.3163H10.7291C10.4705 27.3163 10.2604 27.5264 10.2604 27.785V36.8905H3.89084V21.6788L14.0682 14.2952L24.2713 21.6303V36.8905H17.9018ZM26.8463 20.9655C26.6752 21.2038 26.419 21.3616 26.1268 21.4092C25.8338 21.4569 25.5416 21.3889 25.3033 21.2178L14.3401 13.3374C14.176 13.2194 13.9549 13.2202 13.7908 13.3389L2.86271 21.267C2.62521 21.4397 2.33303 21.5085 2.04006 21.4624C1.74709 21.4155 1.49084 21.2592 1.31818 21.0217C0.960371 20.528 1.07053 19.8358 1.56428 19.4772L13.8658 10.5522C13.9268 10.5085 13.9932 10.4858 14.0604 10.4858C14.1268 10.4858 14.1932 10.5077 14.2533 10.5506L26.594 19.4225C26.8322 19.5936 26.9901 19.8491 27.0377 20.142C27.0862 20.4342 27.0182 20.7272 26.8463 20.9655Z"
                                          fill="white" />
                                    </svg>
                                 </span>
                              </div>
                           </div>
                           <div class="it-service-2-content">
                              <h4 class="it-service-2-title"><a class="border-line-black"
                                    href="service-details.html">Modified Roofing</a>
                              </h4>
                              <p>Interactive sessions on stress management, mindfulness, and self-care</p>
                              <a class="it-blog-btn border-line-orange" href="service-details.html">Explore More
                                 <span>
                                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none"
                                       xmlns="http://www.w3.org/2000/svg">
                                       <path
                                          d="M10.0035 3.90804L1.41153 12.5L0 11.0885L8.59097 2.49651H1.01922V0.5H12V11.4808H10.0035V3.90804Z"
                                          fill="currentcolor" />
                                    </svg>
                                 </span>
                              </a>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-6 wow itfadeUp" data-wow-duration=".9s" data-wow-delay=".5s">
                        <div class="it-service-2-item it-img-anim-wrap  mb-35">
                           <div class="fix p-relative">
                              <div class="it-service-2-thumb fix it-img-anim"
                                 data-displacement="assets/img/webgl/pattern-1.jpg" data-intensity="0.6"
                                 data-speedin="1" data-speedout="1">
                                 <img class="w-100" src="assets/img/service/service-2-2.jpg" alt="">
                              </div>
                              <div class="it-service-2-icon">
                                 <span>
                                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none"
                                       xmlns="http://www.w3.org/2000/svg">
                                       <path
                                          d="M37.125 34H36.5C36.4937 33.5839 36.4054 33.1732 36.24 32.7914C36.0746 32.4095 35.8355 32.0641 35.5363 31.775C35.1055 31.3385 34.5527 31.0428 33.9506 30.9269C33.6706 30.3493 33.2336 29.8623 32.6897 29.5215C32.1457 29.1807 31.5169 29 30.875 29C30.2331 29 29.6043 29.1807 29.0603 29.5215C28.5164 29.8623 28.0794 30.3493 27.7994 30.9269C27.1973 31.0428 26.6445 31.3385 26.2137 31.775C25.9145 32.0641 25.6754 32.4095 25.51 32.7914C25.3446 33.1732 25.2563 33.5839 25.25 34H17.75V19.625C17.75 19.4592 17.6842 19.3003 17.5669 19.1831C17.4497 19.0658 17.2908 19 17.125 19H8.375C8.20924 19 8.05027 19.0658 7.93306 19.1831C7.81585 19.3003 7.75 19.4592 7.75 19.625V34H5.25V16.7302L19 5.43402L32.75 16.7302V27.75C32.75 27.9158 32.8158 28.0747 32.9331 28.1919C33.0503 28.3092 33.2092 28.375 33.375 28.375C33.5408 28.375 33.6997 28.3092 33.8169 28.1919C33.9342 28.0747 34 27.9158 34 27.75V17.7571L34.6094 18.2578C34.7366 18.3624 34.9 18.4126 35.0639 18.3974C35.2279 18.3822 35.3792 18.3028 35.485 18.1766L37.6038 15.6516C37.6569 15.5883 37.6969 15.5151 37.7215 15.4363C37.7461 15.3574 37.7549 15.2744 37.7472 15.1922C37.7396 15.1099 37.7157 15.03 37.677 14.957C37.6383 14.884 37.5855 14.8194 37.5217 14.7669L34 11.874V1.5C33.9997 1.16858 33.8679 0.850831 33.6335 0.616482C33.3992 0.382133 33.0814 0.250331 32.75 0.25H27.75C27.4186 0.250331 27.1008 0.382133 26.8665 0.616482C26.6321 0.850831 26.5003 1.16858 26.5 1.5V5.71329L20.5048 0.788638C20.0758 0.451171 19.5458 0.267701 19 0.267701C18.4542 0.267701 17.9242 0.451171 17.4952 0.788638L0.478269 14.7669C0.414452 14.8193 0.361665 14.8839 0.322958 14.9569C0.284251 15.0299 0.260392 15.1098 0.252759 15.1921C0.245126 15.2744 0.253871 15.3573 0.278488 15.4362C0.303106 15.5151 0.343107 15.5883 0.396181 15.6516L2.51501 18.1766C2.62079 18.3028 2.77212 18.3821 2.93609 18.3973C3.10005 18.4125 3.26339 18.3624 3.39056 18.2578L4 17.7571V34H0.875C0.70924 34 0.550268 34.0658 0.433058 34.1831C0.315848 34.3003 0.25 34.4592 0.25 34.625V37.125C0.25 37.2908 0.315848 37.4497 0.433058 37.5669C0.550268 37.6842 0.70924 37.75 0.875 37.75H37.125C37.2908 37.75 37.4497 37.6842 37.5669 37.5669C37.6842 37.4497 37.75 37.2908 37.75 37.125V34.625C37.75 34.4592 37.6842 34.3003 37.5669 34.1831C37.4497 34.0658 37.2908 34 37.125 34ZM27.75 1.5H32.75V10.8472L27.75 6.74006V1.5ZM3.075 16.8995L1.75971 15.3321L18.2886 1.75482C18.4913 1.595 18.7419 1.50809 19 1.50809C19.2581 1.50809 19.5087 1.595 19.7114 1.75482L36.2403 15.3321L34.925 16.8995L19.3967 4.14221C19.285 4.05027 19.1447 4 19 4C18.8553 4 18.715 4.05027 18.6033 4.14221L3.075 16.8995ZM27.0911 32.6655C27.3843 32.3498 27.7896 32.1618 28.22 32.1418C28.3513 32.1438 28.4799 32.1043 28.5876 32.029C28.6952 31.9538 28.7764 31.8465 28.8196 31.7225C28.9655 31.2931 29.2422 30.9202 29.6108 30.6561C29.9794 30.392 30.4215 30.25 30.875 30.25C31.3285 30.25 31.7706 30.392 32.1392 30.6561C32.5078 30.9202 32.7845 31.2931 32.9304 31.7225C32.9722 31.8474 33.0531 31.9555 33.161 32.031C33.269 32.1065 33.3983 32.1453 33.53 32.1418C33.9593 32.1662 34.363 32.3535 34.6589 32.6655C34.8403 32.8381 34.9859 33.0449 35.0873 33.2739C35.1888 33.5029 35.2441 33.7496 35.25 34H26.5C26.5059 33.7496 26.5612 33.5029 26.6627 33.2739C26.7641 33.0449 26.9097 32.8381 27.0911 32.6655ZM9 20.25H16.5V34H9V20.25ZM36.5 36.5H1.5V35.25H36.5V36.5ZM20.875 19C20.7092 19 20.5503 19.0658 20.4331 19.1831C20.3158 19.3003 20.25 19.4592 20.25 19.625V27.125C20.25 27.2908 20.3158 27.4497 20.4331 27.5669C20.5503 27.6842 20.7092 27.75 20.875 27.75H29.625C29.7908 27.75 29.9497 27.6842 30.0669 27.5669C30.1842 27.4497 30.25 27.2908 30.25 27.125V19.625C30.25 19.4592 30.1842 19.3003 30.0669 19.1831C29.9497 19.0658 29.7908 19 29.625 19H20.875ZM29 22.75H25.875V20.25H29V22.75ZM24.625 20.25V22.75H21.5V20.25H24.625ZM21.5 24H24.625V26.5H21.5V24ZM25.875 26.5V24H29V26.5H25.875Z"
                                          fill="white" />
                                    </svg>
                                 </span>
                              </div>
                           </div>
                           <div class="it-service-2-content">
                              <h4 class="it-service-2-title"><a class="border-line-black"
                                    href="service-details.html">Residential
                                    Roofing</a></h4>
                              <p>Interactive sessions on stress management, mindfulness, and self-care</p>
                              <a class="it-blog-btn border-line-orange" href="service-details.html">Explore More
                                 <span>
                                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none"
                                       xmlns="http://www.w3.org/2000/svg">
                                       <path
                                          d="M10.0035 3.90804L1.41153 12.5L0 11.0885L8.59097 2.49651H1.01922V0.5H12V11.4808H10.0035V3.90804Z"
                                          fill="currentcolor" />
                                    </svg>
                                 </span>
                              </a>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-6 wow itfadeUp" data-wow-duration=".9s" data-wow-delay=".7s">
                        <div class="it-service-2-item it-img-anim-wrap  mb-35">
                           <div class="fix p-relative">
                              <div class="it-service-2-thumb fix it-img-anim"
                                 data-displacement="assets/img/webgl/pattern-1.jpg" data-intensity="0.6"
                                 data-speedin="1" data-speedout="1">
                                 <img class="w-100" src="assets/img/service/service-2-3.jpg" alt="">
                              </div>
                              <div class="it-service-2-icon">
                                 <span>
                                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                                       xmlns="http://www.w3.org/2000/svg">
                                       <path
                                          d="M30.0682 23.1564H26.5403C26.2382 23.1564 25.9934 23.4013 25.9934 23.7033V26.3411C25.9934 26.6431 26.2382 26.888 26.5403 26.888H30.0682C30.3702 26.888 30.615 26.6431 30.615 26.3411V23.7033C30.615 23.4013 30.3702 23.1564 30.0682 23.1564ZM29.5213 25.7942H27.0871V24.2502H29.5213V25.7942ZM30.615 10.1473V7.50953C30.615 7.2075 30.3702 6.96266 30.0682 6.96266H20.304C20.002 6.96266 19.7571 7.2075 19.7571 7.50953V10.1473C19.7571 10.4494 20.002 10.6942 20.304 10.6942H30.0682C30.3702 10.6942 30.615 10.4494 30.615 10.1473ZM29.5213 9.60047H20.8509V8.05641H29.5213V9.60047ZM39.3137 35.9116H39.115V4.03633H39.2078C39.5098 4.03633 39.7546 3.79148 39.7546 3.48945V1.00781C39.7546 0.705781 39.5098 0.460938 39.2078 0.460938H17.7011C17.399 0.460938 17.1542 0.705781 17.1542 1.00781V3.48945C17.1542 3.71797 17.2944 3.91344 17.4934 3.99523V5.82805L1.27652 10.5273C1.04277 10.595 0.881836 10.8091 0.881836 11.0526V35.9116H0.686523C0.384492 35.9116 0.139648 36.1565 0.139648 36.4585V38.9908C0.139648 39.2928 0.384492 39.5377 0.686523 39.5377H39.3137C39.6157 39.5377 39.8606 39.2928 39.8606 38.9908V36.4585C39.8606 36.1565 39.6157 35.9116 39.3137 35.9116ZM18.2479 1.55469H38.6608V2.94258H18.2479V1.55469ZM25.0514 21.4358C25.0486 21.4332 25.0458 21.4306 25.0429 21.428L18.5871 15.7844V4.03633H38.0213V35.9116H23.9815V24.3838C23.9983 24.3843 24.0152 24.3849 24.032 24.3849C24.5029 24.3849 24.9373 24.1731 25.2379 23.8435C25.7916 23.2364 25.9053 22.2144 25.0514 21.4358ZM24.3182 22.2473C24.5242 22.4368 24.6093 22.6452 24.5643 22.8505C24.5222 23.0422 24.3742 23.2045 24.1871 23.264C23.9856 23.328 23.7689 23.2613 23.5596 23.0704L15.8964 16.1022C15.7921 16.0073 15.6604 15.9599 15.5286 15.9599C15.3967 15.9599 15.2651 16.0073 15.1609 16.102L7.50199 23.0585C7.2752 23.2375 7.0477 23.2963 6.85988 23.2238C6.70887 23.1656 6.59965 23.0302 6.57457 22.8704C6.54293 22.6684 6.65238 22.4547 6.88293 22.2686C6.89004 22.2629 6.89699 22.257 6.90387 22.2508L14.5841 15.3888C15.119 14.9109 15.9279 14.9081 16.4678 15.3844L24.3182 22.2473ZM16.913 28.5279H14.1324C13.1942 28.5279 12.431 29.2912 12.431 30.2293V35.9116H8.15777V23.933C8.17191 23.9221 8.18629 23.9119 8.20035 23.9005C8.20863 23.8938 8.21668 23.887 8.22457 23.8798L15.5284 17.2457L22.8232 23.879C22.8446 23.8985 22.8662 23.9172 22.8878 23.9355V35.9116H18.6146V30.2293C18.6146 29.2911 17.8511 28.5279 16.913 28.5279ZM17.5208 30.2293V35.9056H13.5248V30.2293C13.5248 29.8942 13.7974 29.6216 14.1325 29.6216H16.9131C17.2482 29.6216 17.5208 29.8942 17.5208 30.2293ZM7.06402 24.347V25.7942H5.32777V24.2502H6.48309C6.67113 24.3202 6.86684 24.3519 7.06402 24.347ZM5.32777 19.9302V18.3862H7.76184V19.9302H5.32777ZM13.3796 14.9983H11.564V13.4543H13.9982V14.4555C13.9496 14.4929 13.9017 14.5317 13.8553 14.5732L13.3796 14.9982V14.9983ZM1.97559 11.4634L17.4934 6.96688V14.8282L17.1894 14.5625C16.5982 14.0411 15.8222 13.8452 15.0919 13.9735V12.9074C15.0919 12.6054 14.8471 12.3605 14.545 12.3605H11.0171C10.7151 12.3605 10.4703 12.6054 10.4703 12.9074V15.5452C10.4703 15.8472 10.7151 16.092 11.0171 16.092H12.1554L8.85559 19.0402V17.8393C8.85559 17.5373 8.61074 17.2924 8.30871 17.2924H4.7809C4.47887 17.2924 4.23402 17.5373 4.23402 17.8393V20.477C4.23402 20.7791 4.47887 21.0239 4.7809 21.0239H6.63543L6.18465 21.4266C5.65293 21.8612 5.40137 22.4483 5.49402 23.0397C5.5002 23.0791 5.50832 23.1179 5.51746 23.1563H4.78098C4.47895 23.1563 4.2341 23.4012 4.2341 23.7032V26.341C4.2341 26.6431 4.47895 26.8879 4.78098 26.8879H7.0641V28.5542H4.78098C4.47895 28.5542 4.2341 28.7991 4.2341 29.1011V31.7389C4.2341 32.0409 4.47895 32.2858 4.78098 32.2858H7.0641V35.9116H1.97559V11.4634ZM7.06402 29.6481V31.1921H5.32777V29.6481H7.06402ZM38.7668 38.4439H1.2334V37.0054H38.7668V38.4439ZM30.0682 17.7584H26.5403C26.2382 17.7584 25.9934 18.0033 25.9934 18.3053V20.9431C25.9934 21.2452 26.2382 21.49 26.5403 21.49H30.0682C30.3702 21.49 30.615 21.2452 30.615 20.9431V18.3053C30.615 18.0033 30.3702 17.7584 30.0682 17.7584ZM29.5213 20.3963H27.0871V18.8522H29.5213V20.3963ZM30.0682 28.5543H26.5403C26.2382 28.5543 25.9934 28.7991 25.9934 29.1012V31.739C25.9934 32.041 26.2382 32.2859 26.5403 32.2859H30.0682C30.3702 32.2859 30.615 32.041 30.615 31.739V29.1012C30.615 28.7991 30.3702 28.5543 30.0682 28.5543ZM29.5213 31.1921H27.0871V29.6481H29.5213V31.1921ZM17.2167 23.2034H13.7093C13.4073 23.2034 13.1625 23.4482 13.1625 23.7502V26.679C13.1625 26.981 13.4073 27.2259 13.7093 27.2259H17.2167C17.5187 27.2259 17.7636 26.981 17.7636 26.679V23.7502C17.7636 23.4482 17.5187 23.2034 17.2167 23.2034ZM16.6698 26.1321H14.2562V24.2971H16.6698V26.1321ZM32.7766 16.092H36.3044C36.6064 16.092 36.8513 15.8472 36.8513 15.5452V12.9074C36.8513 12.6054 36.6064 12.3605 36.3044 12.3605H32.7766C32.4746 12.3605 32.2297 12.6054 32.2297 12.9074V15.5452C32.2297 15.8472 32.4746 16.092 32.7766 16.092ZM33.3235 13.4544H35.7575V14.9984H33.3235V13.4544ZM23.8319 12.3606H20.304C20.002 12.3606 19.7571 12.6055 19.7571 12.9075V15.5452C19.7571 15.8473 20.002 16.0921 20.304 16.0921H23.8319C24.1339 16.0921 24.3788 15.8473 24.3788 15.5452V12.9075C24.3788 12.6055 24.1339 12.3606 23.8319 12.3606ZM23.285 14.9983H20.8509V13.4543H23.285V14.9983ZM32.7766 26.888H36.3044C36.6064 26.888 36.8513 26.6431 36.8513 26.3411V23.7033C36.8513 23.4013 36.6064 23.1564 36.3044 23.1564H32.7766C32.4746 23.1564 32.2297 23.4013 32.2297 23.7033V26.3411C32.2297 26.6431 32.4746 26.888 32.7766 26.888ZM33.3235 24.2502H35.7575V25.7942H33.3235V24.2502ZM32.7766 21.49H36.3044C36.6064 21.49 36.8513 21.2452 36.8513 20.9431V18.3053C36.8513 18.0033 36.6064 17.7584 36.3044 17.7584H32.7766C32.4746 17.7584 32.2297 18.0033 32.2297 18.3053V20.9431C32.2297 21.2452 32.4746 21.49 32.7766 21.49ZM33.3235 18.8522H35.7575V20.3963H33.3235V18.8522ZM32.7766 32.2859H36.3044C36.6064 32.2859 36.8513 32.041 36.8513 31.739V29.1012C36.8513 28.7991 36.6064 28.5543 36.3044 28.5543H32.7766C32.4746 28.5543 32.2297 28.7991 32.2297 29.1012V31.739C32.2297 32.041 32.4746 32.2859 32.7766 32.2859ZM33.3235 29.6481H35.7575V31.1921H33.3235V29.6481ZM30.0682 12.3606H26.5403C26.2382 12.3606 25.9934 12.6055 25.9934 12.9075V15.5452C25.9934 15.8473 26.2382 16.0921 26.5403 16.0921H30.0682C30.3702 16.0921 30.615 15.8473 30.615 15.5452V12.9075C30.615 12.6055 30.3702 12.3606 30.0682 12.3606ZM29.5213 14.9983H27.0871V13.4543H29.5213V14.9983ZM4.7809 16.092H8.30871C8.61074 16.092 8.85559 15.8472 8.85559 15.5452V12.9074C8.85559 12.6054 8.61074 12.3605 8.30871 12.3605H4.7809C4.47887 12.3605 4.23402 12.6054 4.23402 12.9074V15.5452C4.23402 15.8472 4.47887 16.092 4.7809 16.092ZM5.32777 13.4544H7.76184V14.9984H5.32777V13.4544ZM32.7766 10.6942H36.3044C36.6064 10.6942 36.8513 10.4494 36.8513 10.1473V7.50953C36.8513 7.2075 36.6064 6.96266 36.3044 6.96266H32.7766C32.4746 6.96266 32.2297 7.2075 32.2297 7.50953V10.1473C32.2297 10.4494 32.4746 10.6942 32.7766 10.6942ZM33.3235 8.05641H35.7575V9.60047H33.3235V8.05641Z"
                                          fill="white" />
                                    </svg>
                                 </span>
                              </div>
                           </div>
                           <div class="it-service-2-content">
                              <h4 class="it-service-2-title"><a class="border-line-black"
                                    href="service-details.html">Commercial
                                    Roofing</a></h4>
                              <p>Interactive sessions on stress management, mindfulness, and self-care</p>
                              <a class="it-blog-btn border-line-orange" href="service-details.html">Explore More
                                 <span>
                                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none"
                                       xmlns="http://www.w3.org/2000/svg">
                                       <path
                                          d="M10.0035 3.90804L1.41153 12.5L0 11.0885L8.59097 2.49651H1.01922V0.5H12V11.4808H10.0035V3.90804Z"
                                          fill="currentcolor" />
                                    </svg>
                                 </span>
                              </a>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-6 wow itfadeUp" data-wow-duration=".9s" data-wow-delay=".9s">
                        <div class="it-service-2-item it-img-anim-wrap  mb-35">
                           <div class="fix p-relative">
                              <div class="it-service-2-thumb fix it-img-anim"
                                 data-displacement="assets/img/webgl/pattern-1.jpg" data-intensity="0.6"
                                 data-speedin="1" data-speedout="1">
                                 <img class="w-100" src="assets/img/service/service-2-4.jpg" alt="">
                              </div>
                              <div class="it-service-2-icon">
                                 <span>
                                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                                       xmlns="http://www.w3.org/2000/svg">
                                       <g clip-path="url(#clip0_2294_12500)">
                                          <path
                                             d="M23.0239 8.66608C23.3236 8.83881 23.7051 8.73657 23.8778 8.43811C24.8818 6.70288 26.7489 5.625 28.7496 5.625C31.8514 5.625 34.3746 8.1485 34.3746 11.25C34.3746 12.2983 34.0835 13.3182 33.5323 14.1998C33.3492 14.4928 33.4384 14.8782 33.7307 15.0613C33.8339 15.1257 33.9486 15.1562 34.0615 15.1562C34.2697 15.1562 34.4735 15.0522 34.5919 14.8627C35.2676 13.782 35.6246 12.5327 35.6246 11.25C35.6246 7.45911 32.5405 4.375 28.7496 4.375C26.304 4.375 24.0231 5.69183 22.7963 7.81189C22.6229 8.11066 22.7255 8.49304 23.0239 8.66608Z"
                                             fill="white" />
                                          <path
                                             d="M39.375 10.625H37.5C37.1545 10.625 36.875 10.9048 36.875 11.25C36.875 11.5952 37.1545 11.875 37.5 11.875H39.375C39.7205 11.875 40 11.5952 40 11.25C40 10.9048 39.7205 10.625 39.375 10.625Z"
                                             fill="white" />
                                          <path
                                             d="M34.9375 5.68732C35.0974 5.68732 35.2573 5.62628 35.3794 5.50421L36.7051 4.17822C36.9492 3.93408 36.9492 3.53827 36.7051 3.29443C36.4609 3.05029 36.0654 3.05029 35.8213 3.29443L34.4956 4.62042C34.2515 4.86456 34.2515 5.26038 34.4956 5.50421C34.6177 5.62628 34.7776 5.68732 34.9375 5.68732Z"
                                             fill="white" />
                                          <path
                                             d="M28.75 3.125C29.0955 3.125 29.375 2.84515 29.375 2.5V0.625C29.375 0.279846 29.0955 0 28.75 0C28.4045 0 28.125 0.279846 28.125 0.625V2.5C28.125 2.84515 28.4045 3.125 28.75 3.125Z"
                                             fill="white" />
                                          <path
                                             d="M22.1211 5.50421C22.2432 5.62628 22.4031 5.68732 22.563 5.68732C22.7229 5.68732 22.8828 5.62628 23.0049 5.50421C23.249 5.26038 23.249 4.86456 23.0049 4.62042L21.6792 3.29443C21.4351 3.05029 21.0396 3.05029 20.7954 3.29443C20.5513 3.53827 20.5513 3.93408 20.7954 4.17822L22.1211 5.50421Z"
                                             fill="white" />
                                          <path
                                             d="M29.9201 9.69452C29.8096 9.49738 29.6015 9.375 29.375 9.375H10C9.78063 9.375 9.57708 9.49005 9.46416 9.67834L0.0891612 25.3033C-0.0268056 25.4965 -0.0298574 25.737 0.0812266 25.9329C0.192005 26.1288 0.39983 26.25 0.62505 26.25H3.12505V39.375C3.12505 39.7202 3.4049 40 3.75005 40H36.25C36.5955 40 36.875 39.7202 36.875 39.375V26.25H38.125C38.3466 26.25 38.5523 26.1325 38.664 25.9412C38.7763 25.7495 38.7787 25.5133 38.6701 25.3195L29.9201 9.69452ZM4.37505 25.7981L11.25 14.3399L18.125 25.7981V38.75H15V30.625C15 30.2798 14.7202 30 14.375 30H8.12505C7.7799 30 7.50005 30.2798 7.50005 30.625V38.75H4.37505V25.7981ZM8.75005 38.75V31.25H13.75V35H13.125C12.7799 35 12.5 35.2798 12.5 35.625C12.5 35.9702 12.7799 36.25 13.125 36.25H13.75V38.75H8.75005ZM36.25 25H30V22.5H32.5C32.7228 22.5 32.9285 22.3813 33.0408 22.1887C33.1525 21.9962 33.1531 21.7584 33.0427 21.5649L28.0427 12.8149C27.9316 12.6202 27.724 12.5 27.5 12.5H15C14.7773 12.5 14.5713 12.6187 14.4596 12.8113C14.3476 13.0038 14.347 13.2416 14.4574 13.4351L19.4574 22.1851C19.5685 22.3798 19.7757 22.5 20 22.5H28.75V27.5H24.375C23.686 27.5 23.125 28.0606 23.125 28.75V36.25C23.125 36.9394 23.686 37.5 24.375 37.5H30.625C31.3141 37.5 31.875 36.9394 31.875 36.25V35.625H33.125C33.4705 35.625 33.75 35.3452 33.75 35C33.75 34.6548 33.4705 34.375 33.125 34.375H31.875V33.125H33.125C33.4705 33.125 33.75 32.8452 33.75 32.5C33.75 32.1548 33.4705 31.875 33.125 31.875H31.875V30.625H33.125C33.4705 30.625 33.75 30.3452 33.75 30C33.75 29.6548 33.4705 29.375 33.125 29.375H31.875V28.75C31.875 28.0606 31.3141 27.5 30.625 27.5H30V26.25H35.625V38.75H19.375V26.25H27.5C27.8455 26.25 28.125 25.9702 28.125 25.625C28.125 25.2798 27.8455 25 27.5 25H19.1041L11.7859 12.8033C11.5601 12.4268 10.94 12.4268 10.7142 12.8033L3.39605 25H1.72887L10.3541 10.625H29.0088L37.0588 25H36.25ZM30.6252 30.0005L30.6254 32.4985C30.6254 32.499 30.625 32.4995 30.625 32.5C30.625 32.5005 30.6254 32.501 30.6254 32.5015L30.6255 34.9975C30.6255 34.9984 30.625 34.9991 30.625 35C30.625 35.0009 30.6255 35.0016 30.6255 35.0025L30.6257 36.25H24.375V28.75H30.625L30.6252 29.9995C30.6252 29.9993 30.6252 29.9997 30.6252 29.9995C30.6252 29.9997 30.6252 30.0003 30.6252 30.0005ZM20.8874 13.75L22.6729 16.875H18.125C18.0416 16.875 17.9626 16.8928 17.8898 16.9225L16.077 13.75H20.8874ZM22.3269 13.75H27.1375L28.923 16.875H24.1124L22.3269 13.75ZM23.3871 18.125L25.1726 21.25H20.3626L18.5769 18.125H23.3871ZM26.6121 21.25L24.8266 18.125H29.375C29.4585 18.125 29.5374 18.1071 29.6101 18.0775L31.4228 21.25H26.6121Z"
                                             fill="white" />
                                          <path
                                             d="M8.75 27.5H13.75C14.0952 27.5 14.375 27.2202 14.375 26.875V24.375C14.375 22.652 12.973 21.25 11.25 21.25C9.52698 21.25 8.125 22.652 8.125 24.375V26.875C8.125 27.2202 8.40485 27.5 8.75 27.5ZM9.375 24.375C9.375 23.3411 10.2161 22.5 11.25 22.5C12.2839 22.5 13.125 23.3411 13.125 24.375V26.25H9.375V24.375Z"
                                             fill="white" />
                                          <path
                                             d="M27.6356 31.7518L28.0592 30.9046C28.2136 30.5958 28.0884 30.2204 27.7796 30.066C27.4708 29.9119 27.096 30.0367 26.941 30.3456L26.316 31.5956C26.1957 31.8363 26.2427 32.1269 26.4332 32.317L27.3646 33.2484L26.941 34.0956C26.7866 34.4044 26.9117 34.7798 27.2205 34.9342C27.3103 34.979 27.4055 35.0001 27.4995 35.0001C27.729 35.0001 27.9493 34.8738 28.0592 34.6546L28.6842 33.4046C28.8044 33.1639 28.7574 32.8733 28.567 32.6832L27.6356 31.7518Z"
                                             fill="white" />
                                       </g>
                                       <defs>
                                          <clipPath id="clip0_2294_12500">
                                             <rect width="40" height="40" fill="white" />
                                          </clipPath>
                                       </defs>
                                    </svg>
                                 </span>
                              </div>
                           </div>
                           <div class="it-service-2-content">
                              <h4 class="it-service-2-title"><a class="border-line-black"
                                    href="service-details.html">Vegetative
                                    Roofing</a></h4>
                              <p>Interactive sessions on stress management, mindfulness, and self-care</p>
                              <a class="it-blog-btn border-line-orange" href="service-details.html">Explore More
                                 <span>
                                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none"
                                       xmlns="http://www.w3.org/2000/svg">
                                       <path
                                          d="M10.0035 3.90804L1.41153 12.5L0 11.0885L8.59097 2.49651H1.01922V0.5H12V11.4808H10.0035V3.90804Z"
                                          fill="currentcolor" />
                                    </svg>
                                 </span>
                              </a>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-6 wow itfadeUp" data-wow-duration=".9s" data-wow-delay="1.1s">
                        <div class="it-service-2-item it-img-anim-wrap  mb-35">
                           <div class="fix p-relative">
                              <div class="it-service-2-thumb fix it-img-anim"
                                 data-displacement="assets/img/webgl/pattern-1.jpg" data-intensity="0.6"
                                 data-speedin="1" data-speedout="1">
                                 <img class="w-100" src="assets/img/service/service-2-5.jpg" alt="">
                              </div>
                              <div class="it-service-2-icon">
                                 <span>
                                    <svg width="40" height="29" viewBox="0 0 40 29" fill="none"
                                       xmlns="http://www.w3.org/2000/svg">
                                       <path
                                          d="M37.4196 28.75V16.25H39.3551C39.4668 16.25 39.5766 16.2218 39.6738 16.1683C39.7709 16.1148 39.852 16.0378 39.9091 15.9448C39.9663 15.8518 39.9976 15.746 39.9999 15.6378C40.0022 15.5296 39.9754 15.4227 39.9222 15.3275L31.535 0.3275C31.4797 0.228493 31.3978 0.145799 31.298 0.0881529C31.1982 0.030507 31.0841 5.0135e-05 30.9679 0H9.0321C8.91589 5.0135e-05 8.80185 0.030507 8.70203 0.0881529C8.60221 0.145799 8.52031 0.228493 8.465 0.3275L0.0777784 15.3275C0.0245982 15.4227 -0.00215576 15.5296 0.000135751 15.6378C0.00242727 15.746 0.0336857 15.8518 0.0908509 15.9448C0.148016 16.0378 0.229128 16.1148 0.326247 16.1683C0.423365 16.2218 0.53316 16.25 0.644883 16.25H2.58039V28.75H3.87074V16.25H21.9355V28.75H23.2259V16.25H36.1293V28.75H37.4196ZM16.3096 1.25L14.4651 4.54875L14.238 1.25H16.3096ZM1.72812 15L9.4192 1.25H12.9476L13.2896 6.21688C13.3746 7.41076 13.9232 8.52917 14.825 9.34703C15.7268 10.1649 16.915 10.6215 18.1503 10.625C19.0326 10.6242 19.8841 10.939 20.5415 11.509C21.1988 12.0791 21.6158 12.8642 21.7123 13.7137L21.86 15H1.72812ZM22.9942 13.5731C22.9019 12.7696 22.5978 12.0026 22.111 11.3458C21.6243 10.6891 20.9713 10.1647 20.2148 9.82312L23.793 3.42375L22.6587 2.82875L18.9593 9.44312C18.6921 9.39888 18.4215 9.37609 18.1503 9.375C17.3582 9.37286 16.589 9.11738 15.9621 8.64825C15.3353 8.17911 14.8859 7.52258 14.6838 6.78063L17.7767 1.25H20.1806L16.8522 7.2025L17.9864 7.7975L21.6478 1.25H26.6859L22.6587 8.4525L23.793 9.0475L28.153 1.25H29.8847L22.9942 13.5731ZM26.233 15L30.9679 6.33562L35.7028 15H26.233ZM31.5382 4.7075C31.4779 4.61358 31.3939 4.5361 31.2941 4.48238C31.1943 4.42866 31.0821 4.40047 30.9679 4.40047C30.8537 4.40047 30.7415 4.42866 30.6417 4.48238C30.5419 4.5361 30.4579 4.61358 30.3976 4.7075L24.7743 15H23.6639L30.9679 1.9375L38.2719 15H37.1615L31.5382 4.7075Z"
                                          fill="white" />
                                    </svg>
                                 </span>
                              </div>
                           </div>
                           <div class="it-service-2-content">
                              <h4 class="it-service-2-title"><a class="border-line-black"
                                    href="service-details.html">Single Ply
                                    Roofing</a></h4>
                              <p>Interactive sessions on stress management, mindfulness, and self-care</p>
                              <a class="it-blog-btn border-line-orange" href="service-details.html">Explore More
                                 <span>
                                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none"
                                       xmlns="http://www.w3.org/2000/svg">
                                       <path
                                          d="M10.0035 3.90804L1.41153 12.5L0 11.0885L8.59097 2.49651H1.01922V0.5H12V11.4808H10.0035V3.90804Z"
                                          fill="currentcolor" />
                                    </svg>
                                 </span>
                              </a>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-6 wow itfadeUp" data-wow-duration=".9s" data-wow-delay="1.3s">
                        <div class="it-service-2-item it-img-anim-wrap  mb-35">
                           <div class="fix p-relative">
                              <div class="it-service-2-thumb fix it-img-anim"
                                 data-displacement="assets/img/webgl/pattern-1.jpg" data-intensity="0.6"
                                 data-speedin="1" data-speedout="1">
                                 <img class="w-100" src="assets/img/service/service-2-6.jpg" alt="">
                              </div>
                              <div class="it-service-2-icon">
                                 <span>
                                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                                       xmlns="http://www.w3.org/2000/svg">
                                       <path
                                          d="M39.1081 15.7385L26.8669 7.16976C26.7811 5.40633 26.0201 3.7435 24.7417 2.52581C23.4634 1.30812 21.7655 0.628906 20 0.628906C18.2345 0.628906 16.5366 1.30812 15.2583 2.52581C13.9799 3.7435 13.2189 5.40633 13.1331 7.16976L0.891875 15.7385C0.809517 15.7961 0.742258 15.8727 0.6958 15.9618C0.649342 16.0509 0.625056 16.1499 0.625 16.2504V38.7504C0.625 38.9162 0.690848 39.0751 0.808058 39.1923C0.925268 39.3095 1.08424 39.3754 1.25 39.3754H6.25C6.37583 39.3752 6.49869 39.3371 6.6025 39.266L16.93 32.2035C17.8385 31.5957 18.9069 31.2712 20 31.2712C21.0931 31.2712 22.1615 31.5957 23.07 32.2035L33.3975 39.266C33.5013 39.3371 33.6242 39.3752 33.75 39.3754H38.75C38.9158 39.3754 39.0747 39.3095 39.1919 39.1923C39.3092 39.0751 39.375 38.9162 39.375 38.7504V16.2504C39.3749 16.1499 39.3507 16.0509 39.3042 15.9618C39.2577 15.8727 39.1905 15.7961 39.1081 15.7385ZM26.875 8.70101L31.6544 12.0466L32.6875 13.5941C33.3062 14.5231 33.6685 15.5991 33.7376 16.7131C33.8068 17.8271 33.5803 18.9395 33.0812 19.9379L32.265 21.5704L26.875 17.7998V8.70101ZM26.875 19.326L32.0119 22.9216L33.1994 25.2998C33.7542 26.4084 33.8949 27.6787 33.5962 28.8818C33.2975 30.085 32.5789 31.1419 31.57 31.8623L30.7906 32.4185L26.875 29.6754V19.326ZM14.375 7.50039C14.375 6.00854 14.9676 4.5778 16.0225 3.52291C17.0774 2.46802 18.5082 1.87539 20 1.87539C21.4918 1.87539 22.9226 2.46802 23.9775 3.52291C25.0324 4.5778 25.625 6.00854 25.625 7.50039V26.056C24.9923 25.1511 24.1505 24.4122 23.1713 23.9021C22.192 23.3919 21.1042 23.1255 20 23.1255C18.8958 23.1255 17.808 23.3919 16.8287 23.9021C15.8495 24.4122 15.0077 25.1511 14.375 26.056V7.50039ZM7.3125 13.5941L8.34437 12.0466L13.125 8.70101V17.7998L7.735 21.5729L6.91875 19.9379C6.41967 18.9395 6.19323 17.8271 6.26238 16.7131C6.33152 15.5991 6.69379 14.5231 7.3125 13.5941ZM13.125 19.326V29.6754L9.20813 32.4166L8.42875 31.8604C7.41982 31.14 6.70127 30.0831 6.40255 28.8799C6.10382 27.6768 6.24454 26.4065 6.79937 25.2979L7.98688 22.9229L13.125 19.326ZM1.875 16.576L5.71813 13.8885C5.23189 14.9253 4.98673 16.0588 5.00102 17.2039C5.01531 18.349 5.28868 19.476 5.80062 20.5004L6.7 22.2991L1.875 25.6748V16.576ZM1.875 27.201L5.83812 24.4266L5.68125 24.7391C4.99398 26.1138 4.81995 27.6887 5.19049 29.1802C5.56104 30.6718 6.45182 31.9821 7.7025 32.8754L8.1225 33.1754L1.8725 37.5504L1.875 27.201ZM33.9438 38.1254L23.7756 31.1685C22.6635 30.4078 21.3474 30.0007 20 30.0007C18.6526 30.0007 17.3365 30.4078 16.2244 31.1685L6.05625 38.1254H3.2325L14.1075 30.5123C14.19 30.4548 14.2574 30.3782 14.3039 30.2891C14.3505 30.2 14.3749 30.1009 14.375 30.0004C14.375 28.5085 14.9676 27.0778 16.0225 26.0229C17.0774 24.968 18.5082 24.3754 20 24.3754C21.4918 24.3754 22.9226 24.968 23.9775 26.0229C25.0324 27.0778 25.625 28.5085 25.625 30.0004C25.6251 30.1009 25.6493 30.1999 25.6958 30.289C25.7423 30.3781 25.8095 30.4547 25.8919 30.5123L36.7675 38.1254H33.9438ZM38.125 37.5498L31.875 33.1748L32.295 32.8748C33.5457 31.982 34.4366 30.6721 34.8076 29.181C35.1786 27.6898 35.0053 26.1151 34.3187 24.7404L34.1619 24.4279L38.125 27.201V37.5498ZM38.125 25.6748L33.3 22.2998L34.1994 20.5004C34.7116 19.4758 34.9851 18.3484 34.9994 17.203C35.0137 16.0575 34.7684 14.9237 34.2819 13.8866L38.125 16.576V25.6748Z"
                                          fill="white" />
                                    </svg>
                                 </span>
                              </div>
                           </div>
                           <div class="it-service-2-content">
                              <h4 class="it-service-2-title"><a class="border-line-black"
                                    href="service-details.html">Eaves Roofing</a>
                              </h4>
                              <p>Interactive sessions on stress management, mindfulness, and self-care</p>
                              <a class="it-blog-btn border-line-orange" href="service-details.html">Explore More
                                 <span>
                                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none"
                                       xmlns="http://www.w3.org/2000/svg">
                                       <path
                                          d="M10.0035 3.90804L1.41153 12.5L0 11.0885L8.59097 2.49651H1.01922V0.5H12V11.4808H10.0035V3.90804Z"
                                          fill="currentcolor" />
                                    </svg>
                                 </span>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-12">
                        <div class="it-service-2-btn mt-20 text-center  wow itfadeUp" data-wow-duration=".9s"
                           data-wow-delay=".7s">
                           <a href="service.html" class="it-btn-orange">
                              <span>
                                 <span class="text-1">View All SErvices</span>
                                 <span class="text-2">View All SErvices</span>
                              </span>
                              <i>
                                 <svg width="12" height="13" viewBox="0 0 12 13" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                       d="M10.0035 3.90804L1.41153 12.5L0 11.0885L8.59097 2.49651H1.01922V0.5H12V11.4808H10.0035V3.90804Z"
                                       fill="white" />
                                 </svg>
                                 <svg width="12" height="13" viewBox="0 0 12 13" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                       d="M10.0035 3.90804L1.41153 12.5L0 11.0885L8.59097 2.49651H1.01922V0.5H12V11.4808H10.0035V3.90804Z"
                                       fill="white" />
                                 </svg>
                              </i>

                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- service-area-end -->

            <!-- funfact-area-start -->
            <div class="it-funfact-area p-relative z-index-1 gray-bg pt-125">
               <img class="it-service-shape-1" src="assets/img/shape/service-1-1.png" alt="">
               <div class="container">
                  <div class="it-funfact-top-wrap pb-65">
                     <div class="container">
                        <div class="row align-items-end">
                           <div class="col-xxl-8 col-xl-7 col-lg-6">
                              <div class="it-section-title-box">
                                 <span class="it-section-subtitle">Fun facts</span>
                                 <h4 class="it-section-title it-split-text it-split-in-right mb-0">The Mission to
                                    Provide <br>
                                    The Best Roofing</h4>
                              </div>
                           </div>
                           <div class="col-xxl-4 col-xl-5 col-lg-6 wow itfadeUp" data-wow-duration=".9s"
                              data-wow-delay=".3s">
                              <div class="it-funfact-text">
                                 <p>With a passion for precision and a commitment to
                                    quality we have been empowering industries and
                                    driving progress. We specialize in helping individuals
                                    and families regain control of</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="it-funfact-wrap">
                     <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 wow itfadeUp" data-wow-duration=".9s"
                           data-wow-delay=".3s">
                           <div class="it-funfact-item it-funfact-col-1 mb-30">
                              <h5 class="it-funfact-title">
                                 <i class="purecounter" data-purecounter-duration="1" data-purecounter-end="435"></i>+
                              </h5>
                              <span>Project Completed</span>
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInDown" data-wow-duration=".9s"
                           data-wow-delay=".5s">
                           <div class="it-funfact-item it-funfact-col-2 mb-30">
                              <h5 class="it-funfact-title">
                                 <i class="purecounter" data-purecounter-duration="1" data-purecounter-end="150"></i>+
                              </h5>
                              <span>Our Happy Clients</span>
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 wow itfadeUp" data-wow-duration=".9s"
                           data-wow-delay=".7s">
                           <div class="it-funfact-item it-funfact-col-3 mb-30">
                              <h5 class="it-funfact-title">
                                 <i class="purecounter" data-purecounter-duration="1" data-purecounter-end="310"></i>+
                              </h5>
                              <span>Working People</span>
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInDown" data-wow-duration=".9s"
                           data-wow-delay=".9s">
                           <div
                              class="it-funfact-item it-funfact-col-4 mb-30 d-flex justify-content-center justify-content-lg-end">
                              <div>
                                 <h5 class="it-funfact-title">
                                    <i class="purecounter" data-purecounter-duration="1"
                                       data-purecounter-end="150"></i>+
                                 </h5>
                                 <span>Experienced Staff</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- funfact-area-end -->

            <!-- contact-area-start -->
            <div class="it-contact-area it-contact-inner-style  z-index-1 pt-130 pb-130"
               data-background="assets/img/shape/service-bg.jpg">
               <div class="container">
                  <div class="row align-items-center">
                     <div class="col-xl-5 col-lg-6">
                        <div class="it-contact-left">
                           <div class="it-section-title-box mb-20">
                              <span class="it-section-subtitle">How Can We Help You?</span>
                              <h4 class="it-section-title text-white mb-0">Have questions? <br>
                                 Get in touch!</h4>
                           </div>
                           <p class="mb-40">Don’t be afraid man! <br>
                              say Hello</p>
                           <div class="it-contact-list-wrap">
                              <div class="it-contact-list-box">
                                 <div class="it-contact-list mb-40">
                                    <span>
                                       <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                          xmlns="http://www.w3.org/2000/svg">
                                          <path
                                             d="M16.25 1.25004C16.25 0.918522 16.3817 0.60058 16.6161 0.36616C16.8505 0.131739 17.1685 4.30844e-05 17.5 4.30844e-05C20.8141 0.00368258 23.9914 1.32181 26.3348 3.66523C28.6782 6.00864 29.9963 9.18595 30 12.5C30 12.8316 29.8683 13.1495 29.6339 13.3839C29.3994 13.6183 29.0815 13.75 28.75 13.75C28.4185 13.75 28.1005 13.6183 27.8661 13.3839C27.6317 13.1495 27.5 12.8316 27.5 12.5C27.497 9.84879 26.4425 7.30698 24.5678 5.43226C22.693 3.55754 20.1512 2.50302 17.5 2.50004C17.1685 2.50004 16.8505 2.36835 16.6161 2.13393C16.3817 1.89951 16.25 1.58156 16.25 1.25004ZM17.5 7.50004C18.8261 7.50004 20.0978 8.02683 21.0355 8.96451C21.9732 9.90219 22.5 11.174 22.5 12.5C22.5 12.8316 22.6317 13.1495 22.8661 13.3839C23.1005 13.6183 23.4185 13.75 23.75 13.75C24.0815 13.75 24.3994 13.6183 24.6339 13.3839C24.8683 13.1495 25 12.8316 25 12.5C24.998 10.5115 24.2072 8.60503 22.8011 7.19893C21.395 5.79284 19.4885 5.00203 17.5 5.00004C17.1685 5.00004 16.8505 5.13174 16.6161 5.36616C16.3817 5.60058 16.25 5.91852 16.25 6.25004C16.25 6.58156 16.3817 6.89951 16.6161 7.13393C16.8505 7.36835 17.1685 7.50004 17.5 7.50004ZM28.8662 20.9238C29.5906 21.6502 29.9974 22.6342 29.9974 23.66C29.9974 24.6859 29.5906 25.6699 28.8662 26.3963L27.7287 27.7075C17.4912 37.5088 -7.42127 12.6025 2.22873 2.33254L3.66623 1.08254C4.39344 0.37839 5.36865 -0.0111456 6.38086 -0.00178836C7.39308 0.00756884 8.36091 0.415066 9.07498 1.13254C9.11373 1.17129 11.43 4.18004 11.43 4.18004C12.1173 4.90208 12.4999 5.8612 12.4982 6.85805C12.4966 7.85489 12.1109 8.81276 11.4212 9.53254L9.97373 11.3525C10.7748 13.2989 11.9526 15.0679 13.4394 16.5577C14.9262 18.0475 16.6927 19.2288 18.6375 20.0338L20.4687 18.5775C21.1886 17.8884 22.1463 17.5032 23.1429 17.5018C24.1394 17.5004 25.0982 17.883 25.82 18.57C25.82 18.57 28.8275 20.885 28.8662 20.9238ZM27.1462 22.7413C27.1462 22.7413 24.155 20.44 24.1162 20.4013C23.8587 20.146 23.5107 20.0027 23.1481 20.0027C22.7855 20.0027 22.4375 20.146 22.18 20.4013C22.1462 20.4363 19.625 22.445 19.625 22.445C19.4551 22.5803 19.2529 22.6689 19.0383 22.7022C18.8237 22.7356 18.6041 22.7124 18.4012 22.635C15.8818 21.697 13.5934 20.2285 11.691 18.3289C9.78865 16.4293 8.31673 14.1431 7.37498 11.625C7.29148 11.4194 7.26426 11.1952 7.29611 10.9755C7.32797 10.7558 7.41775 10.5485 7.55623 10.375C7.55623 10.375 9.56498 7.85254 9.59873 7.82004C9.85407 7.56252 9.99733 7.21456 9.99733 6.85192C9.99733 6.48927 9.85407 6.14131 9.59873 5.88379C9.55998 5.84629 7.25873 2.85254 7.25873 2.85254C6.99736 2.61818 6.65624 2.49266 6.30529 2.50173C5.95435 2.51079 5.62016 2.65375 5.37123 2.90129L3.93373 4.15129C-3.11877 12.6313 18.47 33.0225 25.9012 26L27.04 24.6875C27.3068 24.4404 27.4671 24.0991 27.4869 23.7359C27.5068 23.3727 27.3846 23.016 27.1462 22.7413Z"
                                             fill="#E03B3B" />
                                       </svg>
                                    </span>
                                    <a href="tel:+000123456789">(+000) 123 456 789</a>
                                 </div>
                                 <div class="it-contact-list mb-55">
                                    <span>
                                       <svg width="30" height="28" viewBox="0 0 30 28" fill="none"
                                          xmlns="http://www.w3.org/2000/svg">
                                          <path
                                             d="M23.75 0.25H6.25C4.59301 0.251985 3.00445 0.911102 1.83277 2.08277C0.661102 3.25445 0.00198482 4.84301 0 6.5L0 21.5C0.00198482 23.157 0.661102 24.7456 1.83277 25.9172C3.00445 27.0889 4.59301 27.748 6.25 27.75H23.75C25.407 27.748 26.9956 27.0889 28.1672 25.9172C29.3389 24.7456 29.998 23.157 30 21.5V6.5C29.998 4.84301 29.3389 3.25445 28.1672 2.08277C26.9956 0.911102 25.407 0.251985 23.75 0.25ZM6.25 2.75H23.75C24.4985 2.75147 25.2294 2.97689 25.8487 3.39725C26.468 3.81762 26.9473 4.41368 27.225 5.10875L17.6525 14.6825C16.948 15.3841 15.9943 15.7781 15 15.7781C14.0057 15.7781 13.052 15.3841 12.3475 14.6825L2.775 5.10875C3.05269 4.41368 3.53202 3.81762 4.15131 3.39725C4.7706 2.97689 5.50152 2.75147 6.25 2.75ZM23.75 25.25H6.25C5.25544 25.25 4.30161 24.8549 3.59835 24.1517C2.89509 23.4484 2.5 22.4946 2.5 21.5V8.375L10.58 16.45C11.7533 17.6203 13.3428 18.2775 15 18.2775C16.6572 18.2775 18.2467 17.6203 19.42 16.45L27.5 8.375V21.5C27.5 22.4946 27.1049 23.4484 26.4017 24.1517C25.6984 24.8549 24.7446 25.25 23.75 25.25Z"
                                             fill="#E03B3B" />
                                       </svg>
                                    </span>
                                    <a href="mailto:Rooft@example.com">Rooft@example.com</a>
                                 </div>
                                 <div class="it-contact-social">
                                    <span>Follow</span>
                                    <a href="#">
                                       <svg width="14" height="13" viewBox="0 0 14 13" fill="none"
                                          xmlns="http://www.w3.org/2000/svg">
                                          <path fill-rule="evenodd" clip-rule="evenodd"
                                             d="M4.41177 0H0L5.23083 6.87316L0.334618 12.6389H2.59681L6.29998 8.27809L9.58823 12.5988H14L8.6172 5.52593L8.62673 5.53813L13.2614 0.0802914H10.9992L7.55741 4.13336L4.41177 0ZM2.43522 1.20371H3.80866L11.5648 11.395H10.1913L2.43522 1.20371Z"
                                             fill="currentcolor"></path>
                                       </svg>
                                    </a>
                                    <a href="#">
                                       <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                                          xmlns="http://www.w3.org/2000/svg">
                                          <path
                                             d="M17 8.5C17 3.80558 13.1944 0 8.5 0C3.80558 0 0 3.80558 0 8.5C0 12.7426 3.10833 16.2591 7.17188 16.8967V10.957H5.01367V8.5H7.17188V6.62734C7.17188 4.49703 8.44087 3.32031 10.3825 3.32031C11.3124 3.32031 12.2852 3.48633 12.2852 3.48633V5.57813H11.2133C10.1574 5.57813 9.82812 6.23334 9.82812 6.90554V8.5H12.1855L11.8087 10.957H9.82812V16.8967C13.8917 16.2591 17 12.7426 17 8.5Z"
                                             fill="white" />
                                       </svg>
                                    </a>
                                    <a href="#">
                                       <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                          xmlns="http://www.w3.org/2000/svg">
                                          <path
                                             d="M11.5 1H4.5C2.567 1 1 2.567 1 4.5V11.5C1 13.433 2.567 15 4.5 15H11.5C13.433 15 15 13.433 15 11.5V4.5C15 2.567 13.433 1 11.5 1Z"
                                             stroke="white" stroke-width="1.5" stroke-linecap="round"
                                             stroke-linejoin="round" />
                                          <path
                                             d="M10.7963 7.55921C10.8827 8.14178 10.7832 8.73676 10.5119 9.25952C10.2407 9.78228 9.81148 10.2062 9.28542 10.471C8.75935 10.7358 8.16319 10.8279 7.58173 10.7344C7.00027 10.6408 6.46311 10.3663 6.04667 9.94982C5.63022 9.53338 5.35569 8.99622 5.26213 8.41476C5.16856 7.8333 5.26073 7.23714 5.52551 6.71107C5.79029 6.18501 6.21421 5.75583 6.73697 5.48458C7.25973 5.21333 7.85471 5.11382 8.43728 5.20021C9.03152 5.28833 9.58167 5.56524 10.0065 5.99003C10.4313 6.41482 10.7082 6.96496 10.7963 7.55921Z"
                                             stroke="white" stroke-width="1.5" stroke-linecap="round"
                                             stroke-linejoin="round" />
                                          <path d="M11.8477 4.15039H11.8577" stroke="white" stroke-width="1.5"
                                             stroke-linecap="round" stroke-linejoin="round" />
                                       </svg>
                                    </a>
                                    <a href="#">
                                       <svg width="15" height="15" viewBox="0 0 15 15" fill="none"
                                          xmlns="http://www.w3.org/2000/svg">
                                          <path
                                             d="M10.2579 4.73828C11.5141 4.73828 12.7188 5.2373 13.6071 6.12555C14.4954 7.01381 14.9944 8.21854 14.9944 9.47473V15.0006H11.8367V9.47473C11.8367 9.056 11.6704 8.65442 11.3743 8.35834C11.0782 8.06225 10.6767 7.89591 10.2579 7.89591C9.8392 7.89591 9.43762 8.06225 9.14154 8.35834C8.84545 8.65442 8.67911 9.056 8.67911 9.47473V15.0006H5.52148V9.47473C5.52148 8.21854 6.0205 7.01381 6.90876 6.12555C7.79701 5.2373 9.00174 4.73828 10.2579 4.73828Z"
                                             fill="white" />
                                          <path d="M3.15763 5.52734H0V15.0002H3.15763V5.52734Z" fill="white" />
                                          <path
                                             d="M1.57881 3.15763C2.45077 3.15763 3.15763 2.45077 3.15763 1.57881C3.15763 0.706859 2.45077 0 1.57881 0C0.706859 0 0 0.706859 0 1.57881C0 2.45077 0.706859 3.15763 1.57881 3.15763Z"
                                             fill="white" />
                                       </svg>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-7 col-lg-6">
                        <div class="it-contact-form-box z-index-1 p-relative">
                           <h4 class="it-contact-form-title mb-10">Get in touch!</h4>
                           <p>With a passion for precision and a commitment to quality we have been
                              empowering industries and driving progress. We specialize</p>
                           <form action="#">
                              <div class="it-contact-input-wrap">
                                 <div class="row gx-30">
                                    <div class="col-sm-6 mb-20">
                                       <div class="it-contact-input-box">
                                          <input type="text" placeholder="Full Name">
                                       </div>
                                    </div>
                                    <div class="col-sm-6 mb-20">
                                       <div class="it-contact-input-box">
                                          <input type="email" placeholder="Email">
                                       </div>
                                    </div>
                                    <div class="col-sm-6 mb-20">
                                       <div class="it-contact-input-box">
                                          <input type="text" placeholder="Phone">
                                       </div>
                                    </div>
                                    <div class="col-sm-6 mb-20">
                                       <div class="it-contact-input-box">
                                          <div class="postbox__select">
                                             <select>
                                                <option>Subject*</option>
                                                <option>New Roof Installation</option>
                                                <option>Roof Repair</option>
                                                <option>Roof Inspection</option>
                                                <option>Gutter Installation</option>
                                                <option>Roof Replacement</option>
                                             </select>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-sm-12 mb-40">
                                       <div class="it-contact-input-box">
                                          <textarea placeholder="Project Description*"></textarea>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="it-contact-btn">
                                    <button type="submit" class="it-btn-orange">
                                       <span>
                                          <span class="text-1">Submit now</span>
                                          <span class="text-2">Submit now</span>
                                       </span>
                                       <i>
                                          <svg width="12" height="13" viewBox="0 0 12 13" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                             <path
                                                d="M10.0035 3.90804L1.41153 12.5L0 11.0885L8.59097 2.49651H1.01922V0.5H12V11.4808H10.0035V3.90804Z"
                                                fill="white" />
                                          </svg>
                                          <svg width="12" height="13" viewBox="0 0 12 13" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                             <path
                                                d="M10.0035 3.90804L1.41153 12.5L0 11.0885L8.59097 2.49651H1.01922V0.5H12V11.4808H10.0035V3.90804Z"
                                                fill="white" />
                                          </svg>
                                       </i>

                                    </button>
                                 </div>
                              </div>
                           </form>
                           <img class="it-contact-shape-1" src="assets/img/shape/contact-1-1.png" alt="">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- contact-area-end -->

            <!-- service-area-start -->
            <div class="it-service-3-area pt-120 pb-95">
               <div class="container">
                  <div class="row">
                     <div class="col-xl-12">
                        <div class="it-section-title-box text-center mb-65">
                           <span class="it-inner-title">Our Service Process</span>
                        </div>
                     </div>
                  </div>
                  <div class="row gx-35">
                     <div class="col-lg-6">
                        <div class="it-service-3-item mb-35">
                           <div class="it-service-3-top-wrap d-flex align-items-center justify-content-between mb-25">
                              <div class="it-service-3-icon">
                                 <span>
                                    <svg width="64" height="70" viewBox="0 0 64 70" fill="none"
                                       xmlns="http://www.w3.org/2000/svg">
                                       <path
                                          d="M60.1842 24.9758C61.3873 23.6633 62.1215 21.9174 62.1215 20.002C62.1215 15.9373 58.8115 12.6301 54.7414 12.6301C50.6713 12.6301 47.3613 15.9373 47.3613 20.002C47.3613 23.4979 49.81 26.4305 53.083 27.1838C53.0488 27.218 53.016 27.2508 52.9818 27.285L45.5758 34.6855H36.9133C34.9213 34.6855 33.3012 36.3043 33.3012 38.2949C33.3012 38.7994 33.4051 39.2793 33.5938 39.7168H30.4C30.5873 39.2807 30.6926 38.7994 30.6926 38.2949C30.6926 36.3057 29.0725 34.6855 27.0805 34.6855H18.418L11.0119 27.285C10.9791 27.2521 10.9449 27.218 10.9121 27.1852C14.1879 26.4318 16.6379 23.4992 16.6379 20.0033C16.6379 15.9387 13.3252 12.6314 9.25371 12.6314C5.18496 12.6314 1.87363 15.9387 1.87363 20.0033C1.87363 21.9187 2.60918 23.6646 3.81094 24.9771C1.9666 25.7045 0.658203 27.5023 0.658203 29.5996V49.6357C0.658203 51.8602 2.46973 53.6703 4.69688 53.6703H14.5297V65.9668C14.5297 68.1912 16.3412 70.0014 18.5684 70.0014C20.7955 70.0014 22.607 68.1912 22.607 65.9668V49.6344C22.607 48.9686 22.4443 48.341 22.1572 47.7873H30.9059V64.4766H29.0629C27.5371 64.4766 26.2971 65.7152 26.2971 67.2369V68.9062C26.2971 69.5105 26.7865 70 27.3908 70H36.6111C37.2154 70 37.7049 69.5105 37.7049 68.9062V67.2355C37.7049 65.7139 36.4635 64.4752 34.9391 64.4752H33.0934V47.7859H41.8365C41.5494 48.3396 41.3867 48.9686 41.3867 49.633V65.9641C41.3867 68.1885 43.1982 69.9986 45.4254 69.9986C47.6525 69.9986 49.4641 68.1885 49.4641 65.9641V53.6676H59.2969C61.524 53.6676 63.3355 51.8574 63.3355 49.633V29.5982C63.3369 27.4996 62.0285 25.7031 60.1842 24.9758ZM35.516 67.2355V67.8125H28.4832V67.2355C28.4832 66.9197 28.743 66.6627 29.0615 66.6627H34.9363C35.2563 66.6627 35.516 66.9197 35.516 67.2355ZM49.5502 20.002C49.5502 17.1432 51.8799 14.8176 54.7428 14.8176C57.6057 14.8176 59.9353 17.1432 59.9353 20.002C59.9353 22.8607 57.6057 25.1863 54.7428 25.1863C51.8799 25.1863 49.5502 22.8607 49.5502 20.002ZM35.4914 38.2936C35.4914 37.5102 36.1299 36.8717 36.916 36.8717H46.0311C46.3209 36.8717 46.5984 36.7568 46.8035 36.5518L54.5309 28.8313C55.5672 27.7949 56.5461 26.816 58.3631 26.816C59.8998 26.816 61.1494 28.0643 61.1494 29.5982V45.5998H53.8377V36.6406L56.423 34.058C56.851 33.6314 56.851 32.9383 56.4244 32.5117C55.9978 32.0838 55.3047 32.0838 54.8781 32.5103L48.1775 39.2027C47.8289 39.5541 47.4324 39.7168 46.932 39.7168H36.9174C36.1299 39.7154 35.4914 39.0783 35.4914 38.2936ZM48.0244 45.5984V41.7539C48.6615 41.5748 49.2385 41.2344 49.7252 40.7463L51.6502 38.824V45.5984H48.0244ZM12.349 45.5984V38.824L14.2713 40.7436C14.7594 41.2344 15.3363 41.5748 15.9748 41.7539V45.5984H12.349ZM18.1623 41.9029H45.8383V45.5984H18.1623V41.9029ZM9.25644 14.8176C12.1221 14.8176 14.4531 17.1432 14.4531 20.002C14.4531 22.8607 12.1221 25.1863 9.25644 25.1863C6.39355 25.1863 4.06387 22.8607 4.06387 20.002C4.06387 17.1432 6.39355 14.8176 9.25644 14.8176ZM5.63613 26.816C7.45176 26.816 8.43066 27.7949 9.46699 28.8313L17.1943 36.5531C17.3994 36.7582 17.677 36.873 17.9668 36.873H27.0818C27.868 36.873 28.5064 37.5102 28.5064 38.2949C28.5064 39.0783 27.868 39.7168 27.0818 39.7168H17.0672C16.5654 39.7168 16.1703 39.5527 15.8189 39.2L9.12109 32.5103C8.69453 32.0838 8.00137 32.0838 7.5748 32.5117C7.14824 32.9396 7.14824 33.6314 7.57617 34.058L10.1615 36.6406V45.5998H2.8498V29.5982C2.8498 28.0643 4.09941 26.816 5.63613 26.816ZM20.425 49.6344V65.9654C20.425 66.984 19.5938 67.8125 18.5738 67.8125C17.5539 67.8125 16.7227 66.984 16.7227 65.9654V52.5752C16.7227 51.9709 16.2332 51.4814 15.6289 51.4814H4.70098C3.67969 51.4814 2.8498 50.6529 2.8498 49.6344V47.7873H18.5738C19.5951 47.7859 20.425 48.6145 20.425 49.6344ZM61.1494 49.6344C61.1494 50.6529 60.3182 51.4814 59.2982 51.4814H48.3717C47.7674 51.4814 47.2779 51.9709 47.2779 52.5752V65.9654C47.2779 66.984 46.4467 67.8125 45.4268 67.8125C44.4068 67.8125 43.5756 66.984 43.5756 65.9654V49.6344C43.5756 48.6158 44.4068 47.7873 45.4268 47.7873H61.1508V49.6344H61.1494ZM20.4551 19.8133H21.1729V22.5217C21.1729 22.9428 21.4148 23.3256 21.7936 23.5074C21.9439 23.5799 22.1053 23.6154 22.2666 23.6154C22.5113 23.6154 22.7533 23.5334 22.9516 23.3748L27.3895 19.8133H32.8678C34.5344 19.8133 35.8906 18.4584 35.8906 16.7932V15.9182H36.6084L41.0463 19.4797C41.2445 19.6383 41.4865 19.7203 41.7312 19.7203C41.8926 19.7203 42.0539 19.6848 42.2043 19.6123C42.583 19.4305 42.825 19.0463 42.825 18.6266V15.9182H43.5469C45.2107 15.9182 46.5656 14.5646 46.5656 12.9021V3.02012C46.5656 1.35488 45.2121 0 43.5469 0H31.1301C29.4635 0 28.1072 1.35488 28.1072 3.02012V3.89512H20.4551C18.7885 3.89512 17.4322 5.25 17.4322 6.91523V16.7932C17.4336 18.4584 18.7885 19.8133 20.4551 19.8133ZM30.2961 3.02012C30.2961 2.56895 30.6789 2.1875 31.1314 2.1875H43.5482C43.998 2.1875 44.3795 2.56895 44.3795 3.02012V12.9021C44.3795 13.3588 44.0062 13.7307 43.5482 13.7307H41.7326C41.1283 13.7307 40.6389 14.2201 40.6389 14.8244V16.3461L37.6789 13.9713C37.4848 13.8154 37.2428 13.7307 36.9939 13.7307H35.892V6.91523C35.892 5.25 34.5357 3.89512 32.8691 3.89512H30.2961V3.02012ZM19.6211 6.91523C19.6211 6.45586 19.9957 6.08262 20.4564 6.08262H32.8691C33.3299 6.08262 33.7045 6.45586 33.7045 6.91523V16.7932C33.7045 17.2443 33.3217 17.6258 32.8691 17.6258H27.0053C26.7564 17.6258 26.5145 17.7105 26.3203 17.8664L23.3604 20.2412V18.7195C23.3604 18.1152 22.8709 17.6258 22.2666 17.6258H20.4551C19.9943 17.6258 19.6197 17.2525 19.6197 16.7932V6.91523H19.6211ZM21.4955 13.6186C21.4955 13.0143 21.985 12.5248 22.5893 12.5248H30.7336C31.3379 12.5248 31.8273 13.0143 31.8273 13.6186C31.8273 14.2229 31.3379 14.7123 30.7336 14.7123H22.5893C21.9863 14.7123 21.4955 14.2229 21.4955 13.6186ZM24.2709 10.0885C24.2709 9.48418 24.7604 8.99473 25.3646 8.99473H30.735C31.3393 8.99473 31.8287 9.48418 31.8287 10.0885C31.8287 10.6928 31.3393 11.1822 30.735 11.1822H25.3646C24.7604 11.1822 24.2709 10.6928 24.2709 10.0885ZM21.4969 10.0885C21.4969 9.48418 21.9863 8.99473 22.5906 8.99473H22.592C23.1963 8.99473 23.6857 9.48418 23.6857 10.0885C23.6857 10.6928 23.1963 11.1822 22.592 11.1822C21.9877 11.1822 21.4969 10.6928 21.4969 10.0885Z"
                                          fill="#E03B3B" />
                                    </svg>
                                 </span>
                              </div>
                              <span class="it-service-3-number">
                                 01
                              </span>
                           </div>
                           <div class="it-service-3-content">
                              <h4 class="it-service-3-title mb-10">Initial Consultation & Inspection</h4>
                              <p class="mb-0">We start with a no-obligation consultation. Our roofing experts
                                 conduct a comprehensive inspection of your roof, identifying any
                                 damage or potential issues. We discuss your options </p>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-6">
                        <div class="it-service-3-item mb-35">
                           <div class="it-service-3-top-wrap d-flex align-items-center justify-content-between mb-25">
                              <div class="it-service-3-icon">
                                 <span>
                                    <svg width="71" height="70" viewBox="0 0 71 70" fill="none"
                                       xmlns="http://www.w3.org/2000/svg">
                                       <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M10.1414 30.4115L0.688173 26.6199C0.272412 26.453 0 26.0517 0 25.6057C0 25.1596 0.272412 24.7582 0.688173 24.5914L17.5329 17.8351V9.18874L10.7118 12.7772C10.1755 13.0593 9.50991 12.8551 9.2265 12.3216C8.94295 11.788 9.14816 11.1258 9.68434 10.8438L18.1183 6.40701C18.2753 6.32422 18.451 6.28016 18.632 6.28016C18.813 6.28016 18.9887 6.32422 19.1457 6.40701L27.5798 10.8438C28.116 11.1258 28.3212 11.788 28.0377 12.3216C27.7541 12.8551 27.0885 13.0593 26.5523 12.7772L19.7311 9.18874V16.9534L34.4009 11.0696V2.90873L27.5798 6.49699C27.0435 6.77912 26.3779 6.5751 26.0943 6.04147C25.8109 5.50799 26.016 4.8458 26.5523 4.56367L34.9863 0.126847C35.1433 0.0440524 35.319 0 35.5 0C35.681 0 35.8567 0.0440524 36.0137 0.126847L44.4477 4.56367C44.984 4.8458 45.1891 5.50799 44.9057 6.04147C44.6221 6.5751 43.9565 6.77912 43.4202 6.49699L36.5991 2.90873V11.0696L51.2689 16.9534V9.18874L44.4477 12.7772C43.9115 13.0593 43.2459 12.8551 42.9623 12.3216C42.6788 11.788 42.884 11.1258 43.4202 10.8438L51.8543 6.40701C52.0113 6.32422 52.187 6.28016 52.368 6.28016C52.549 6.28016 52.7247 6.32422 52.8817 6.40701L61.3157 10.8438C61.8518 11.1258 62.0571 11.788 61.7735 12.3216C61.4901 12.8551 60.8245 13.0593 60.2882 12.7772L53.4671 9.18874V17.8351L70.3118 24.5914C70.7276 24.7582 71 25.1596 71 25.6057C71 26.0517 70.7276 26.453 70.3118 26.6199L60.8586 30.4115L70.3118 34.203C70.3836 34.2319 70.4519 34.268 70.5158 34.311C70.8165 34.5128 71 34.8515 71 35.2173V44.4229C71 44.8689 70.7276 45.2702 70.3118 45.4371L59.5196 49.7656L70.3118 54.0944C70.7276 54.2612 71 54.6625 71 55.1085C71 55.5547 70.7276 55.956 70.3118 56.1228L35.9109 69.9207C35.6473 70.0264 35.3527 70.0264 35.0891 69.9207L0.688173 56.1228C0.272412 55.956 0 55.5547 0 55.1085C0 54.6625 0.272412 54.2612 0.688173 54.0944L11.4804 49.7656L0.688173 45.4371C0.272412 45.2702 0 44.8689 0 44.4229V35.2173C0 34.8515 0.183544 34.5128 0.484217 34.311C0.54812 34.268 0.616419 34.2319 0.688173 34.203L10.1414 30.4115ZM17.5329 20.1932L4.0386 25.6057L35.5 38.2245L66.9614 25.6057L53.4671 20.1932V21.8281C53.4671 22.4317 52.9745 22.9216 52.368 22.9216C51.7613 22.9216 51.2689 22.4317 51.2689 21.8281V19.3115L38.7297 14.2821L36.5991 13.4276V22.5219C36.5991 23.1255 36.1065 23.6154 35.5 23.6154C34.8935 23.6154 34.4009 23.1255 34.4009 22.5219V13.4276L32.2703 14.2821L19.7311 19.3115V21.8281C19.7311 22.4317 19.2387 22.9216 18.632 22.9216C18.0255 22.9216 17.5329 22.4317 17.5329 21.8281V20.1932ZM57.9191 31.5905L35.9109 40.4177C35.6473 40.5235 35.3527 40.5235 35.0891 40.4177L13.0809 31.5905L4.0386 35.2173L35.5 47.8362L66.9614 35.2173L57.9191 31.5905ZM68.8019 36.8371L66.0372 37.9459L65.9799 44.8164C67.7345 44.1127 68.8019 43.6846 68.8019 43.6846V36.8371ZM63.8317 38.8306L60.1488 40.3077L60.0914 47.1782C61.4245 46.6437 62.6678 46.1449 63.7743 45.7011L63.8317 38.8306ZM57.9432 41.1924L54.2607 42.6694L54.2034 49.5399C55.4573 49.037 56.6942 48.5409 57.8858 48.0629L57.9432 41.1924ZM52.0551 43.5541L48.3713 45.0317L48.3139 51.9022C49.5246 51.4167 50.7613 50.9205 51.9978 50.4246L52.0551 43.5541ZM46.1657 45.9163L42.481 47.3941L42.4236 54.2648C43.5756 53.8027 44.8158 53.3052 46.1083 52.7868L46.1657 45.9163ZM40.2753 48.2788L36.5991 49.7533V56.6008C37.4899 56.2436 38.7338 55.7448 40.218 55.1494L40.2753 48.2788ZM56.5801 50.9447L35.9109 59.2349C35.6501 59.3396 35.3554 59.3418 35.0891 59.2349L14.4199 50.9447L4.0386 55.1085L35.5 67.7274L66.9614 55.1085L56.5801 50.9447ZM2.19813 36.8371V43.6846L5.57289 45.0383L5.62989 38.2135L2.19813 36.8371ZM7.76365 45.917L11.4683 47.4029L11.5253 40.5782L7.82064 39.0922L7.76365 45.917ZM34.4009 49.7533L31.3768 48.5404L31.3198 55.3652L34.4009 56.6008V49.7533ZM29.1859 47.6617L25.4911 46.1797L25.4341 53.0043L29.129 54.4863L29.1859 47.6617ZM23.3002 45.301L19.6042 43.8185L19.5472 50.6433L23.2432 52.1256L23.3002 45.301ZM17.4133 42.9398L13.7162 41.4569L13.6592 48.2816L17.3563 49.7644L17.4133 42.9398Z"
                                          fill="#E03B3B" />
                                    </svg>
                                 </span>
                              </div>
                              <span class="it-service-3-number">
                                 02
                              </span>
                           </div>
                           <div class="it-service-3-content">
                              <h4 class="it-service-3-title mb-10">Tailored Roofing Plan</h4>
                              <p class="mb-0">We start with a no-obligation consultation. Our roofing experts
                                 conduct a comprehensive inspection of your roof, identifying any
                                 damage or potential issues. We discuss your options </p>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-6">
                        <div class="it-service-3-item mb-35">
                           <div class="it-service-3-top-wrap d-flex align-items-center justify-content-between mb-25">
                              <div class="it-service-3-icon">
                                 <span>
                                    <svg width="78" height="70" viewBox="0 0 78 70" fill="none"
                                       xmlns="http://www.w3.org/2000/svg">
                                       <path
                                          d="M71.3581 13.1811C63.56 13.1811 59.9756 13.1811 55.2581 13.1811V6.5624C55.2581 2.94365 52.3134 0 48.6945 0H29.6462C26.0274 0 23.0826 2.94353 23.0826 6.5624V13.1811C18.4082 13.1811 14.2612 13.1811 6.98254 13.1811C3.55021 13.1811 0.757812 15.9747 0.757812 19.407V63.7753C0.757812 67.2077 3.55021 70 6.98254 70H71.358C74.7917 70 77.5839 67.2076 77.5839 63.7753V19.407C77.5841 15.9747 74.7917 13.1811 71.3581 13.1811ZM63.566 15.5819V67.5993H14.7748V15.5819H63.566ZM47.8329 13.1811H30.509V7.42646H47.8329V13.1811ZM25.4835 6.5624C25.4835 4.2683 27.351 2.40082 29.6463 2.40082H48.6946C50.9899 2.40082 52.8574 4.2683 52.8574 6.5624V13.1811H50.2339V6.5624C50.2339 5.71479 49.5434 5.02552 48.6948 5.02552H29.6462C28.7986 5.02552 28.1081 5.71479 28.1081 6.5624V13.1811H25.4834L25.4835 6.5624ZM3.15863 63.7754V19.407C3.15863 17.2982 4.87366 15.5819 6.98254 15.5819H12.3738V67.5993H6.98254C4.87366 67.5993 3.15863 65.8843 3.15863 63.7754ZM75.1833 63.7754C75.1833 65.8843 73.467 67.5993 71.3581 67.5993H65.9669V15.5819H71.3581C73.467 15.5819 75.1833 17.2982 75.1833 19.407V63.7754Z"
                                          fill="#E03B3B" />
                                       <path
                                          d="M23.1511 57.6102C25.7166 60.1781 29.8677 60.1792 32.4343 57.6102L42.6061 47.4395C42.8312 47.2144 42.9578 46.9096 42.9578 46.5908C42.9578 46.272 42.8312 45.9672 42.6061 45.7421L39.6611 42.7976L49.4003 33.0583L50.9773 34.6347C51.2036 34.861 51.5096 34.9864 51.826 34.9864C51.8646 34.9864 51.9045 34.984 51.9443 34.9806C52.3019 34.9454 52.6255 34.7508 52.8247 34.4519L56.9113 28.3232C57.2289 27.8472 57.1656 27.2131 56.7612 26.8086L53.9536 24.001C53.548 23.5954 52.9126 23.5321 52.439 23.851L46.3093 27.9375C46.0104 28.1368 45.8158 28.4603 45.7806 28.8179C45.7454 29.1755 45.8721 29.5307 46.1264 29.7851L47.7028 31.3608L37.9635 41.1001L35.0192 38.1562C34.5503 37.6874 33.7907 37.6874 33.3217 38.1562L23.1509 48.327C20.583 50.8925 20.5819 55.0435 23.1511 57.6102ZM52.9526 26.3947L54.3675 27.8097L51.6396 31.9021C51.4458 31.7084 48.7043 28.9681 48.8589 29.1227L52.9526 26.3947ZM24.8484 50.0243L34.1703 40.7024L40.0599 46.5908L30.7368 55.9127C29.1613 57.4882 26.424 57.4882 24.8484 55.9127C23.2186 54.2829 23.2184 51.6544 24.8484 50.0243Z"
                                          fill="#E03B3B" />
                                       <path
                                          d="M27.8116 53.7972L35.0023 46.6066C35.2368 46.3721 35.2368 45.9923 35.0023 45.7579C34.7679 45.5234 34.3881 45.5234 34.1536 45.7579L26.9629 52.9486C26.7285 53.183 26.7285 53.5628 26.9629 53.7972C27.1974 54.0318 27.5772 54.0318 27.8116 53.7972Z"
                                          fill="#E03B3B" />
                                    </svg>
                                 </span>
                              </div>
                              <span class="it-service-3-number">
                                 03
                              </span>
                           </div>
                           <div class="it-service-3-content">
                              <h4 class="it-service-3-title mb-10">Professional Installation or Repair</h4>
                              <p class="mb-0">We start with a no-obligation consultation. Our roofing experts
                                 conduct a comprehensive inspection of your roof, identifying any
                                 damage or potential issues. We discuss your options </p>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-6">
                        <div class="it-service-3-item mb-35">
                           <div class="it-service-3-top-wrap d-flex align-items-center justify-content-between mb-25">
                              <div class="it-service-3-icon">
                                 <span>
                                    <svg width="112" height="70" viewBox="0 0 112 70" fill="none"
                                       xmlns="http://www.w3.org/2000/svg">
                                       <path
                                          d="M111.837 67.9502L88.5006 23.9269V1.39124C88.5006 0.623737 87.8756 0 87.1065 0H70.8806C70.1115 0 69.4864 0.623737 69.4864 1.39124V7.47093H63.603H48.267H32.9311C32.4129 7.47093 31.9389 7.75614 31.6972 8.21293L23.8132 23.1478L15.9291 38.0827L8.04501 53.0177L0.160938 67.9502C-0.173664 68.5833 0.0284919 69.367 0.627988 69.7612C0.862674 69.9165 1.12989 69.9907 1.39246 69.9907C1.80142 69.9907 2.20573 69.8122 2.47992 69.4736C4.39691 67.1016 6.66013 65.8425 9.02558 65.8379C11.3655 65.8286 13.7263 67.1248 15.6479 69.4806L15.6526 69.4783C15.7409 69.5873 15.8408 69.6847 15.9639 69.7658C16.1986 69.9212 16.4658 69.9954 16.7284 69.9954C17.1374 69.9954 17.5417 69.8168 17.8159 69.4783C19.7329 67.1062 21.9961 65.8472 24.3615 65.8425C26.7154 65.8333 29.0646 67.1294 30.9839 69.4852L30.9885 69.4829C31.0768 69.5919 31.1767 69.6893 31.2999 69.7704C31.5346 69.9258 31.8018 70 32.0644 70C32.4733 70 32.8776 69.8215 33.1518 69.4829C35.0688 67.1109 37.332 65.8518 39.6975 65.8472H39.7137C41.9096 65.8472 44.1054 66.981 45.9504 69.054C45.9829 69.149 46.0224 69.2418 46.0758 69.3276C46.3291 69.7449 46.7822 70 47.2702 70H110.605C111.093 70 111.546 69.7449 111.8 69.3276C112.053 68.9009 112.067 68.3815 111.837 67.9502ZM72.2724 2.78247H85.71V18.6657L80.1681 8.21061C79.9265 7.75614 79.4524 7.47093 78.9366 7.47093C78.9366 7.47093 78.9366 7.47093 78.9343 7.47093H72.2724V2.78247ZM64.4418 10.2557H76.6223L70.7156 21.3995C68.5291 19.3567 65.9777 18.253 63.366 18.253C63.359 18.253 63.3497 18.253 63.3427 18.253C62.16 18.2553 60.9912 18.4849 59.8643 18.9278L64.4418 10.2557ZM54.9033 51.2253C52.7284 49.2103 50.191 48.1205 47.5978 48.1205C47.5908 48.1205 47.5816 48.1205 47.5746 48.1205C46.3918 48.1228 45.2231 48.3524 44.0961 48.7953L48.9966 39.5134C50.8974 37.2016 53.1304 35.9773 55.4656 35.9704H55.4819C57.5708 35.9704 59.6598 36.9999 61.4466 38.885L54.9033 51.2253ZM39.6324 51.2856C37.4412 49.2312 34.8829 48.1205 32.2642 48.1205C32.2572 48.1205 32.2479 48.1205 32.241 48.1205C31.0582 48.1228 29.8894 48.3524 28.7625 48.7953L33.663 39.5134C35.5637 37.2016 37.7967 35.9773 40.132 35.9704H40.1483C42.2535 35.9704 44.361 37.0161 46.1572 38.9314L39.6324 51.2856ZM41.5471 24.5762C43.4478 22.2644 45.6808 21.0401 48.0137 21.0332H48.03C50.1352 21.0332 52.2427 22.0789 54.0389 23.9942L47.5165 36.3507C45.3253 34.2963 42.767 33.1856 40.1483 33.1856C40.1413 33.1856 40.132 33.1856 40.125 33.1856C38.9423 33.1879 37.7735 33.4175 36.6466 33.8603L41.5471 24.5762ZM62.8106 36.3112C60.6287 34.2824 58.0844 33.1879 55.4819 33.1879C55.4749 33.1879 55.4656 33.1879 55.4586 33.1879C54.2759 33.1902 53.1071 33.4198 51.9802 33.8627L56.8807 24.5785C58.7814 22.2667 61.0144 21.0424 63.3474 21.0355H63.3636C65.4619 21.0355 67.5578 22.0719 69.3493 23.971L62.8106 36.3112ZM49.1059 10.2557H61.291L55.3982 21.4181C53.2071 19.3637 50.6487 18.253 48.03 18.253C48.023 18.253 48.0137 18.253 48.0068 18.253C46.824 18.2553 45.6553 18.4849 44.5283 18.9278L49.1059 10.2557ZM33.7699 10.2557H45.955L40.0623 21.4181C37.8711 19.3637 35.3128 18.253 32.6941 18.253C32.6871 18.253 32.6778 18.253 32.6708 18.253C31.4881 18.2553 30.3193 18.4849 29.1924 18.9278L33.7699 10.2557ZM26.2111 24.5762C28.1119 22.2644 30.3449 21.0401 32.6778 21.0332H32.6941C34.7993 21.0332 36.9068 22.0789 38.703 23.9942L32.1805 36.3507C29.9894 34.2963 27.431 33.1856 24.8123 33.1856C24.8053 33.1856 24.796 33.1856 24.7891 33.1856C23.6063 33.1879 22.4376 33.4175 21.3106 33.8603L26.2111 24.5762ZM18.3271 39.5111C20.2278 37.1993 22.4608 35.975 24.7937 35.9681H24.81C26.9152 35.9681 29.0227 37.0138 30.8189 38.9291L24.2965 51.2856C22.1053 49.2312 19.547 48.1205 16.9282 48.1205C16.9213 48.1205 16.912 48.1205 16.905 48.1205C15.7223 48.1228 14.5535 48.3524 13.4265 48.7953L18.3271 39.5111ZM16.4124 66.2205C14.2212 64.1661 11.6629 63.0554 9.04417 63.0554C9.0372 63.0554 9.0279 63.0554 9.02093 63.0554C7.83821 63.0577 6.66942 63.2873 5.54246 63.7302L10.443 54.446C12.3437 52.1342 14.5767 50.9099 16.9097 50.903H16.9259C19.0311 50.903 21.1387 51.9487 22.9348 53.864L16.4124 66.2205ZM31.7483 66.2205C29.5572 64.1661 26.9988 63.0554 24.3801 63.0554C24.3731 63.0554 24.3639 63.0554 24.3569 63.0554C23.1742 63.0577 22.0054 63.2873 20.8784 63.7302L25.7789 54.446C27.6797 52.1342 29.9127 50.9099 32.2456 50.903H32.2619C34.3671 50.903 36.4746 51.9487 38.2708 53.864L31.7483 66.2205ZM39.7161 63.0554C39.7091 63.0554 39.6998 63.0554 39.6928 63.0554C38.5101 63.0577 37.3413 63.2873 36.2144 63.7302L41.1149 54.446C43.0156 52.1342 45.2486 50.9099 47.5816 50.903H47.5978C49.6775 50.903 51.7594 51.9232 53.5417 53.7944L46.9983 66.1393C44.8257 64.1383 42.2999 63.0554 39.7161 63.0554ZM56.4671 67.2106L78.9389 24.9518L101.411 67.2106H56.4671ZM104.566 67.2106L80.1681 21.33C79.9265 20.8755 79.4524 20.5903 78.9366 20.5903C78.4207 20.5903 77.9467 20.8755 77.7051 21.33L53.3093 67.2106H49.5845L78.9366 11.8394L108.289 67.2106H104.566Z"
                                          fill="#E03B3B" />
                                    </svg>
                                 </span>
                              </div>
                              <span class="it-service-3-number">
                                 04
                              </span>
                           </div>
                           <div class="it-service-3-content">
                              <h4 class="it-service-3-title mb-10">Post-Installation Inspection & Clean-Up</h4>
                              <p class="mb-0">We start with a no-obligation consultation. Our roofing experts
                                 conduct a comprehensive inspection of your roof, identifying any
                                 damage or potential issues. We discuss your options </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- service-area-end -->