@model HomeViewModel

@{
    ViewData["Title"] = "Ana Sayfa";
}

<!-- hero-area-start -->
@await Html.PartialAsync("Partials/_Slider", Model.Slider)
<!-- hero-area-end -->

<!-- about-area-start -->
@await Html.PartialAsync("Partials/_Service", Model.Services)
<!-- about-area-end -->

<!-- brand-area-start -->
@await Html.PartialAsync("Partials/_Company", Model.Companies)
<!-- brand-area-end -->

<!-- choose-area-start -->
<div class="it-choose-area it-choose-overlay z-index-1 pt-125" data-background="assets/img/choose/bg-1-1.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-lg-8">
                <div class="it-choose-content">
                    <div class="it-section-title-box mb-25">
                        <span class="it-section-subtitle">Why Choose Us</span>
                        <h4 class="it-section-title it-split-text it-split-in-right mb-0 text-white">Expertise &
                            Experience</h4>
                    </div>
                    <div class="it-custom-accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-items">
                                <h4 class="accordion-header" id="headingOne">
                                    <button class="accordion-buttons " type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <span><svg width="41" height="40" viewBox="0 0 41 40" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M30.7967 35.4546C31.0184 35.7428 30.9645 36.1562 30.6762 36.378C27.5959 38.7475 23.9088 40 20.0137 40C16.1186 40 12.4316 38.7475 9.35118 36.378C9.06294 36.1562 9.00902 35.7428 9.23077 35.4546C9.45251 35.1664 9.86587 35.1124 10.1542 35.3342C13.0023 37.525 16.4117 38.6831 20.0138 38.6831C23.6159 38.6831 27.0252 37.525 29.8733 35.3342C30.1616 35.1124 30.575 35.1664 30.7967 35.4546H30.7967ZM3.1709 21.7001C3.18991 21.7017 3.20884 21.7025 3.22769 21.7025C3.56598 21.7025 3.85365 21.4433 3.88304 21.1C4.37731 15.3133 7.97176 10.2074 13.2637 7.77503C13.5941 7.62318 13.7389 7.23223 13.587 6.90178C13.4351 6.57133 13.0442 6.42672 12.7137 6.57857C6.99195 9.20852 3.10546 14.7299 2.57086 20.988C2.53991 21.3503 2.80849 21.6691 3.1709 21.7001ZM26.7637 7.77273C32.0555 10.2051 35.65 15.3118 36.1444 21.1C36.1737 21.4433 36.4614 21.7025 36.7997 21.7025C36.8185 21.7025 36.8375 21.7016 36.8565 21.7001C37.2189 21.6691 37.4876 21.3503 37.4566 20.988C36.922 14.7284 33.0354 9.20613 27.3137 6.57627C26.9833 6.42442 26.5924 6.56911 26.4404 6.89948C26.2886 7.22985 26.4334 7.62087 26.7637 7.77273H26.7637ZM12.6281 18.4077L14.0451 18.7421C14.3749 18.8182 14.6582 19.0211 14.8395 19.3128C14.948 19.4873 15.0108 19.6807 15.028 19.8793H16.5315C15.7313 18.618 15.1952 16.9398 15.1952 14.8033C15.1952 14.5127 15.3858 14.2564 15.6642 14.1728L19.8242 12.9223C19.9478 12.8852 20.0796 12.8851 20.2033 12.9223L24.3632 14.1728C24.6416 14.2565 24.8321 14.5127 24.8321 14.8033C24.8321 17.0859 24.2202 18.8456 23.3279 20.1323L23.9627 20.4509C24.3344 20.6374 24.7044 20.6692 25.0907 20.5513L25.0282 20.2846C24.9493 19.9509 25.0059 19.6055 25.1878 19.3128C25.3692 19.0212 25.6524 18.8182 25.9854 18.7413L27.3936 18.4085C28.0853 18.25 28.7765 18.6789 28.9393 19.3636L28.9397 19.3654L30.6568 26.6792C30.8193 27.367 30.3919 28.0602 29.7038 28.2238L28.2879 28.5556C28.1903 28.5788 28.0916 28.5903 27.9934 28.5903C27.7593 28.5903 27.5281 28.5252 27.3225 28.3983C27.2136 28.3311 27.1169 28.2495 27.0342 28.1565C26.7559 28.2788 26.4678 28.3386 26.1846 28.3386C26.1805 28.3386 26.1764 28.3384 26.1723 28.3383C26.1123 28.6625 25.9579 28.9723 25.7078 29.2223C25.4414 29.4902 25.0984 29.6561 24.7267 29.703C24.6812 30.0623 24.5225 30.4098 24.2473 30.6851C23.9303 31.0038 23.5057 31.1804 23.053 31.1809C23.0524 31.1809 23.0517 31.1809 23.0511 31.1809C22.746 31.1809 22.454 31.099 22.1975 30.9489C22.1253 31.0734 22.0383 31.1902 21.9342 31.2949C21.6036 31.6255 21.1693 31.7907 20.7352 31.7907C20.3041 31.7907 19.8735 31.6277 19.5445 31.3018C19.478 31.4074 19.4006 31.507 19.3104 31.5972C18.9937 31.9158 18.5689 32.0925 18.1159 32.093C18.1151 32.093 18.1142 32.093 18.1134 32.093C17.6612 32.093 17.237 31.9178 16.9187 31.5995L13.1817 27.8742C13.0759 28.0884 12.9133 28.2696 12.7049 28.3982C12.4996 28.5248 12.2686 28.5899 12.0342 28.5899C11.9354 28.5899 11.8359 28.5783 11.7375 28.5549L10.3257 28.2241C9.63565 28.06 9.20821 27.3667 9.37086 26.6782L11.0882 19.3634C11.2512 18.6779 11.9423 18.2492 12.6282 18.4075L12.6281 18.4077ZM26.3178 20.0159L28.02 27.2658L29.3676 26.95L27.6649 19.6975L26.3178 20.0159ZM23.3719 21.6277L22.4545 21.1675C21.7646 21.84 20.9937 22.3077 20.2401 22.5837C20.167 22.6105 20.0903 22.6239 20.0136 22.6239C19.937 22.6239 19.8603 22.6104 19.7872 22.5837C19.3366 22.4187 18.88 22.1841 18.438 21.8793L16.6184 23.9221C16.6078 23.934 16.6054 23.9392 16.6051 23.9397C16.6051 23.9397 16.6045 23.9452 16.6067 23.9572C16.6089 23.9694 16.6118 23.9757 16.6126 23.9769C16.6126 23.9769 16.6159 23.9804 16.6259 23.9857C17.2509 24.3167 18.008 24.2757 18.6047 23.8801L19.6862 23.16C20.5105 22.6104 21.5778 22.7159 22.2818 23.4163L25.6886 26.8136C25.9129 27.0243 26.2153 27.0779 26.5008 26.9523L26.585 26.9147L25.3926 21.8362C25.1456 21.9039 24.8967 21.9378 24.649 21.9378C24.2146 21.9378 23.7836 21.8341 23.372 21.6275L23.3719 21.6277ZM16.5229 15.2896C16.672 18.6444 18.3587 20.5451 20.0137 21.257C21.6686 20.5451 23.3553 18.6444 23.5045 15.2896L20.0137 14.2404L16.5229 15.2896ZM13.5643 26.3964L17.8491 30.6677C17.9194 30.738 18.013 30.7763 18.1134 30.7763H18.1139C18.1722 30.7762 18.2839 30.7619 18.3778 30.6674C18.4488 30.5964 18.4872 30.5026 18.487 30.402C18.487 30.3437 18.4727 30.2321 18.3782 30.1381C18.2837 30.0442 17.1057 28.8681 17.1057 28.8681C16.8483 28.6112 16.8479 28.1943 17.1048 27.937C17.3617 27.6796 17.7786 27.6791 18.036 27.9361L20.4718 30.367C20.6174 30.5117 20.8553 30.5112 21.0015 30.3651C21.071 30.2953 21.1097 30.2 21.1093 30.0982C21.1091 30.0406 21.0948 29.9303 21.0019 29.8386C20.9943 29.8311 20.9877 29.8229 20.9805 29.8152L18.7392 27.5806C18.4816 27.3238 18.481 26.907 18.7378 26.6494C18.9945 26.3919 19.4114 26.3912 19.669 26.648L22.7861 29.7555C22.9323 29.9009 23.1698 29.9011 23.3147 29.7553C23.4595 29.6105 23.4595 29.3681 23.3161 29.2247L20.3748 26.2929C20.1173 26.0362 20.1166 25.6192 20.3733 25.3617C20.6301 25.1042 21.047 25.1035 21.3046 25.3602L24.2466 28.2927C24.3169 28.363 24.4104 28.4013 24.5109 28.4013C24.5693 28.4052 24.6811 28.3873 24.7753 28.2925C24.9186 28.1492 24.9181 27.9091 24.7766 27.7647C24.7658 27.7545 24.7549 27.7447 24.7443 27.7342L21.3521 24.3492C21.0984 24.0967 20.7132 24.0581 20.4164 24.256L19.3335 24.9771C18.3333 25.6401 17.0611 25.7065 16.0122 25.1508C15.6372 24.9545 15.3871 24.6133 15.3109 24.1916C15.2346 23.7697 15.3506 23.3619 15.6377 23.0434L17.2831 21.1961H14.7853L13.5644 26.3964H13.5643ZM13.7095 20.0159L12.3624 19.698L10.6597 26.9501L12.0075 27.2659L13.7096 20.016L13.7095 20.0159ZM19.5867 19.4068C19.5938 19.4068 19.6009 19.4067 19.6081 19.4064C19.7858 19.4007 19.9536 19.3233 20.0734 19.1919L21.8792 17.2112C22.1242 16.9425 22.1049 16.526 21.8362 16.281C21.5674 16.036 21.1509 16.0553 20.9059 16.324L19.5562 17.8045L19.0894 17.3549C18.8275 17.1026 18.4106 17.1104 18.1583 17.3723C17.906 17.6342 17.9138 18.051 18.1757 18.3033L19.1299 19.2225C19.2528 19.3408 19.4166 19.4068 19.5867 19.4068ZM14.6936 10.6716V8.82852C14.6936 7.14828 16.0121 5.75273 17.7259 5.51059C17.2521 4.80401 17.0057 3.89282 17.0057 3.00772C17.0057 1.34921 18.3551 0 20.0136 0C21.6722 0 23.0215 1.34929 23.0215 3.00772C23.0215 3.89274 22.7752 4.80393 22.3014 5.51059C24.0153 5.75273 25.3337 7.14828 25.3337 8.82852V10.6716C25.3337 11.0352 25.0389 11.33 24.6752 11.33C24.3116 11.33 24.0168 11.0352 24.0168 10.6716V8.82852C24.0168 7.70449 23.009 6.7901 21.7704 6.7901H18.2567C17.0181 6.7901 16.0105 7.70458 16.0105 8.82852V10.6716C16.0105 11.0352 15.7157 11.33 15.352 11.33C14.9884 11.33 14.6936 11.0352 14.6936 10.6716H14.6936ZM18.3227 3.00772C18.3227 4.03142 18.8473 5.47315 20.0136 5.47315C21.2912 5.47315 21.7046 3.81208 21.7046 3.00772C21.7046 2.07538 20.946 1.31687 20.0136 1.31687C19.0812 1.31687 18.3227 2.07538 18.3227 3.00772ZM16.6977 9.13412V10.6716C16.6977 11.0352 16.9925 11.33 17.3562 11.33C17.7198 11.33 18.0147 11.0352 18.0147 10.6716V9.13412C18.0147 8.7705 17.7198 8.47569 17.3562 8.47569C16.9925 8.47569 16.6977 8.7705 16.6977 9.13412ZM22.0126 9.13412V10.6716C22.0126 11.0352 22.3074 11.33 22.6711 11.33C23.0347 11.33 23.3295 11.0352 23.3295 10.6716V9.13412C23.3295 8.7705 23.0347 8.47569 22.6711 8.47569C22.3074 8.47569 22.0126 8.7705 22.0126 9.13412ZM9.33678 31.379C9.33678 30.255 8.32915 29.3405 7.09055 29.3405H3.57693C2.33834 29.3405 1.33062 30.255 1.33062 31.379V33.2221C1.33062 33.5857 1.03579 33.8805 0.672147 33.8805C0.308504 33.8805 0.0136719 33.5857 0.0136719 33.2221V31.379C0.0136719 29.699 1.33186 28.3036 3.04546 28.0612C2.57193 27.3551 2.32583 26.4448 2.32583 25.5606C2.32583 23.9022 3.67521 22.5529 5.33374 22.5529C6.99228 22.5529 8.34166 23.9022 8.34166 25.5606C8.34166 26.4448 8.09555 27.3551 7.62203 28.0612C9.33554 28.3036 10.6537 29.699 10.6537 31.379V33.2221C10.6537 33.5857 10.3589 33.8805 9.99526 33.8805C9.63161 33.8805 9.33678 33.5857 9.33678 33.2221V31.379ZM3.6427 25.5606C3.6427 26.5834 4.16734 28.0238 5.33366 28.0238C6.61127 28.0238 7.02463 26.3643 7.02463 25.5606C7.02463 24.6283 6.26606 23.8698 5.33366 23.8698C4.40126 23.8698 3.6427 24.6283 3.6427 25.5606ZM7.9911 31.0286C7.62746 31.0286 7.33263 31.3234 7.33263 31.687V33.2221C7.33263 33.5857 7.62746 33.8805 7.9911 33.8805C8.35475 33.8805 8.64958 33.5857 8.64958 33.2221V31.687C8.64958 31.3234 8.35475 31.0286 7.9911 31.0286ZM2.67391 31.0286C2.31027 31.0286 2.01544 31.3234 2.01544 31.687V33.2221C2.01544 33.5857 2.31027 33.8805 2.67391 33.8805C3.03756 33.8805 3.33239 33.5857 3.33239 33.2221V31.687C3.33239 31.3234 3.03756 31.0286 2.67391 31.0286ZM40.0137 31.379V33.2221C40.0137 33.5857 39.7188 33.8805 39.3552 33.8805C38.9916 33.8805 38.6967 33.5857 38.6967 33.2221V31.379C38.6967 30.255 37.689 29.3405 36.4504 29.3405H32.9367C31.6981 29.3405 30.6905 30.255 30.6905 31.379V33.2221C30.6905 33.5857 30.3956 33.8805 30.032 33.8805C29.6684 33.8805 29.3735 33.5857 29.3735 33.2221V31.379C29.3735 29.699 30.6917 28.3035 32.4053 28.0612C31.9318 27.3551 31.6857 26.4448 31.6857 25.5606C31.6857 23.9022 33.0351 22.5529 34.6936 22.5529C36.3521 22.5529 37.7015 23.9022 37.7015 25.5606C37.7015 26.4448 37.4554 27.3551 36.9819 28.0612C38.6955 28.3036 40.0137 29.699 40.0137 31.379ZM33.0026 25.5606C33.0026 26.3643 33.416 28.0238 34.6936 28.0238C35.8599 28.0238 36.3846 26.5834 36.3846 25.5606C36.3846 24.6283 35.626 23.8698 34.6936 23.8698C33.7612 23.8698 33.0026 24.6283 33.0026 25.5606ZM32.0362 31.0286C31.6726 31.0286 31.3778 31.3234 31.3778 31.687V33.2221C31.3778 33.5857 31.6726 33.8805 32.0362 33.8805C32.3999 33.8805 32.6947 33.5857 32.6947 33.2221V31.687C32.6947 31.3234 32.3999 31.0286 32.0362 31.0286ZM37.351 31.0286C36.9874 31.0286 36.6926 31.3234 36.6926 31.687V33.2221C36.6926 33.5857 36.9874 33.8805 37.351 33.8805C37.7147 33.8805 38.0095 33.5857 38.0095 33.2221V31.687C38.0095 31.3234 37.7147 31.0286 37.351 31.0286Z"
                                                    fill="white" />
                                            </svg></span>
                                        Quick Response
                                        <span class="it-accordion-btn">
                                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M10.0035 8.59196L1.41153 0L0 1.41153L8.59097 10.0035H1.01922V12H12V1.01922H10.0035V8.59196Z"
                                                    fill="currentcolor" />
                                            </svg>
                                        </span>
                                    </button>
                                </h4>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="mb-0">Et purus duis sollicitudin dignissim ha. Egest nulla quis
                                            venenatis cras sed eu massa
                                            eu faucibus. Urna fusce aenea tortor pretium Et purus duis sollicitudin
                                            dignissim
                                            habitant Et purus duis sollicitudin dignissim ha. Egest nulla quis
                                            venenatis</p>

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-items">
                                <h4 class="accordion-header" id="headingTwo">
                                    <button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <span>
                                            <svg width="34" height="40" viewBox="0 0 34 40" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M28.4468 26.331L29.7055 25.6179C30.8917 24.9452 31.572 23.7885 31.572 22.4443V20.704C31.572 20.27 31.6713 19.9073 31.8933 19.5285L32.78 18.0217C33.4665 16.8568 33.4665 15.5205 32.7802 14.3559L31.8938 12.8497C31.6713 12.4701 31.572 12.1073 31.572 11.6734V9.93306C31.572 8.58893 30.8917 7.43227 29.7052 6.75938L28.1705 5.89004C27.7832 5.66939 27.5125 5.40405 27.2924 5.02901L26.4053 3.52175C25.7187 2.35646 24.5399 1.68809 23.1708 1.68809H21.3946C20.951 1.68809 20.582 1.59139 20.1989 1.37502L18.6628 0.504853C17.4758 -0.168284 16.1139 -0.168284 14.9269 0.504853L13.3916 1.37453C13.0077 1.59131 12.6381 1.68801 12.1927 1.68801H10.4189C9.04705 1.68801 7.86792 2.3567 7.18428 3.52192L6.29815 5.02769C6.07493 5.40496 5.80383 5.67095 5.42065 5.88922L3.88435 6.75955C2.69666 7.43318 2.01554 8.58992 2.01554 9.93315V11.6735C2.01554 12.1104 1.91697 12.4731 1.69653 12.849L0.809812 14.3557C0.12332 15.5206 0.12332 16.8569 0.809645 18.0216L1.69603 19.5279C1.91697 19.9045 2.01554 20.2672 2.01554 20.7041V22.4444C2.01554 23.7877 2.69666 24.9444 3.88468 25.6182L5.14309 26.3311L0.386291 34.4143C0.259712 34.6293 0.267262 34.8958 0.405584 35.1036C0.543989 35.3115 0.790268 35.4248 1.04116 35.3979L6.33128 34.8235L8.47044 39.6062C8.57211 39.8335 8.7954 39.9854 9.04797 39.999C9.06039 39.9997 9.07272 40 9.08505 40C9.32378 40 9.54573 39.8752 9.66602 39.6708L14.4232 31.5873L14.9264 31.8723C15.5202 32.209 16.1575 32.3774 16.7948 32.3774C17.432 32.3774 18.0693 32.2091 18.6627 31.8725L19.1662 31.5873L23.9235 39.6708C24.0438 39.8752 24.2657 40 24.5045 40C24.5168 40 24.5292 39.9997 24.5415 39.999C24.7941 39.9854 25.0174 39.8335 25.1191 39.6062L27.2582 34.8235L32.5483 35.3979C32.7989 35.4249 33.0455 35.3115 33.1839 35.1036C33.3222 34.8958 33.3298 34.6292 33.2032 34.4143L28.4465 26.3311L28.4468 26.331ZM6.19111 27.1837C6.22768 27.2364 6.26342 27.2907 6.29756 27.3485L6.8927 28.3598L3.70308 33.7841L2.21174 33.946L6.19111 27.1836V27.1837ZM6.67402 33.4615L5.35824 33.6044L7.72876 29.5732C8.41844 30.2888 9.36069 30.6872 10.4191 30.6872H10.4573L7.89476 35.0416L7.36236 33.8514C7.24451 33.5877 6.96509 33.43 6.67402 33.4615ZM9.16692 37.8861L8.56389 36.5379L12.007 30.6872H12.193C12.5848 30.6872 12.9196 30.764 13.2591 30.9328L9.167 37.8861H9.16692ZM17.9916 30.7324C17.22 31.17 16.3701 31.1701 15.5981 30.7323L14.0614 29.8617C13.4679 29.5265 12.8742 29.3703 12.193 29.3703H10.4192C9.52661 29.3703 8.79088 28.9539 8.3468 28.1971L7.45916 26.6887C7.1144 26.106 6.67973 25.6798 6.09196 25.3478L4.55625 24.4778C3.78344 24.0395 3.35782 23.3173 3.35782 22.4443V20.704C3.35782 20.0329 3.19945 19.4505 2.85897 18.87L1.97192 17.3627C1.52583 16.6056 1.52583 15.7716 1.97209 15.0143L2.85948 13.5065C3.19953 12.9269 3.35782 12.3444 3.35782 11.6733V9.93298C3.35782 9.06002 3.78344 8.33783 4.55591 7.89966L6.09331 7.02875C6.68283 6.69288 7.11684 6.26714 7.45983 5.68742L8.34722 4.17958C8.78525 3.43303 9.54045 3.00482 10.4191 3.00482H12.1929C12.8769 3.00482 13.4705 2.84944 14.062 2.51538L15.5983 1.64505C16.3701 1.20737 17.22 1.20746 17.9915 1.64505L19.5286 2.51579C20.1194 2.84944 20.7124 3.00482 21.3946 3.00482H23.1708C24.0606 3.00482 24.7966 3.42242 25.2432 4.18041L26.1297 5.68676C26.4685 6.2641 26.9028 6.69058 27.498 7.02958L29.0337 7.89958C29.805 8.33701 30.2298 9.05919 30.2298 9.93306V11.6734C30.2298 12.3415 30.3888 12.924 30.731 13.5074L31.6181 15.0147C32.0642 15.7718 32.0642 16.6057 31.6179 17.3631L30.7305 18.871C30.3889 19.4535 30.2298 20.036 30.2298 20.7041V22.4444C30.2298 23.3184 29.8051 24.0406 29.034 24.4778L27.4987 25.3475C26.906 25.6823 26.4709 26.1091 26.1301 26.6901L25.2434 28.1969C24.7975 28.9536 24.0615 29.3704 23.1708 29.3704H21.3946C20.7151 29.3704 20.1221 29.5265 19.5278 29.8622L17.9915 30.7325L17.9916 30.7324ZM24.4231 37.886L20.331 30.9328C20.6707 30.7639 21.0046 30.6872 21.3948 30.6872H21.5831L25.0253 36.54L24.4232 37.886H24.4231ZM26.916 33.4615C26.6245 33.43 26.3456 33.5877 26.2277 33.8514L25.6946 35.0435L23.1326 30.6872H23.171C24.2272 30.6872 25.1688 30.2889 25.8595 29.5736L28.2313 33.6044L26.916 33.4616V33.4615ZM29.8868 33.7841L26.6962 28.3617L27.293 27.3477C27.3268 27.29 27.3623 27.2358 27.3987 27.1831L31.3784 33.946L29.8868 33.7841ZM25.9633 10.9941C23.0442 6.03653 16.5564 4.33143 11.5009 7.19311L11.5006 7.19327C6.4472 10.0577 4.70942 16.4222 7.62676 21.3809C9.58591 24.7098 13.1517 26.5728 16.8137 26.5728C18.6075 26.5728 20.4251 26.1253 22.0869 25.1841C27.1415 22.3205 28.8804 15.955 25.9632 10.9941H25.9633ZM8.78911 20.7225C6.24161 16.3926 7.75921 10.8349 12.172 8.33355C16.5866 5.83523 22.2524 7.32388 24.8011 11.6525C27.3484 15.9844 25.8299 21.5431 21.4161 24.0438C17.0024 26.5436 11.338 25.0534 8.7892 20.7225H8.78911ZM21.0976 13.5252H19.6262L19.7588 12.1508C19.8893 10.8014 19.1315 9.9943 18.3226 9.79291C17.4247 9.56954 16.5241 10.0458 16.1336 10.9459L14.8255 13.8886C14.8152 13.9 14.7541 13.9312 14.649 13.9312H11.8291C11.3109 13.9312 10.8894 14.3448 10.8894 14.8532V20.5851C10.8894 21.0935 11.3109 21.5071 11.8291 21.5071H20.5364C21.2962 21.5071 21.8334 21.0173 21.9734 20.1969C21.9743 20.1914 21.9752 20.1858 21.976 20.1802L22.6941 15.1877C22.6985 15.1573 22.7007 15.1265 22.7007 15.0957C22.7007 14.2297 21.9815 13.5252 21.0976 13.5252ZM13.9401 20.1903H12.2316V15.248H13.9401V20.1903ZM20.6485 19.9869C20.6262 20.1126 20.5957 20.1686 20.5838 20.1868C20.5752 20.1884 20.5601 20.1903 20.5366 20.1903H15.2823V15.132C15.6295 14.9966 15.9055 14.7486 16.0537 14.4189L17.3662 11.4669C17.526 11.0985 17.794 11.0198 17.9926 11.0692C18.3026 11.1464 18.4716 11.5221 18.4227 12.0265L18.2206 14.1215C18.2028 14.3061 18.2651 14.4895 18.3924 14.6267C18.5195 14.7639 18.6997 14.842 18.8887 14.842H21.0977C21.2282 14.842 21.34 14.9409 21.3565 15.0642L20.6486 19.9868L20.6485 19.9869Z"
                                                    fill="white" />
                                            </svg>
                                        </span>
                                        Highly Recommend
                                        <span class="it-accordion-btn">
                                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M10.0035 8.59196L1.41153 0L0 1.41153L8.59097 10.0035H1.01922V12H12V1.01922H10.0035V8.59196Z"
                                                    fill="currentcolor" />
                                            </svg>
                                        </span>
                                    </button>
                                </h4>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="mb-0">Et purus duis sollicitudin dignissim ha. Egest nulla quis
                                            venenatis cras sed eu massa
                                            eu faucibus. Urna fusce aenea tortor pretium Et purus duis sollicitudin
                                            dignissim
                                            habitant Et purus duis sollicitudin dignissim ha. Egest nulla quis
                                            venenatis</p>

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-items">
                                <h4 class="accordion-header" id="headingFour">
                                    <button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                        <span>
                                            <svg width="39" height="40" viewBox="0 0 39 40" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M14.6899 4.30646L16.507 5.7563L15.8955 7.98921C15.8025 8.32824 15.9275 8.68074 16.2138 8.88728C16.3628 8.99478 16.5361 9.04881 16.7098 9.04881C16.87 9.04881 17.0305 9.00292 17.1726 8.91058L19.123 7.64308L21.0737 8.91058C21.3697 9.103 21.7461 9.09389 22.0323 8.88736C22.3186 8.6809 22.4436 8.3284 22.3508 7.98937L21.7393 5.75622L23.5563 4.30646C23.8322 4.08638 23.9398 3.72831 23.8303 3.3942C23.7209 3.06001 23.4219 2.83307 23.0684 2.81605L20.74 2.70339L19.9125 0.53992C19.9124 0.53984 19.9124 0.53984 19.9124 0.539759C19.7869 0.211775 19.477 -8.06223e-05 19.1229 2.30159e-08C18.7687 8.06683e-05 18.459 0.212017 18.3336 0.53992L17.5061 2.70339L15.1777 2.81605C14.8242 2.83315 14.5252 3.06009 14.4158 3.3942C14.3064 3.72831 14.414 4.08646 14.6899 4.30646ZM17.8673 3.97767C18.2029 3.96146 18.4967 3.74944 18.6156 3.43799L19.123 2.11113L19.6304 3.43767C19.7495 3.74952 20.0432 3.96146 20.3788 3.97767L21.8069 4.04678L20.6923 4.93606C20.4305 5.14501 20.3184 5.48791 20.4066 5.80912L20.7817 7.17872L19.5854 6.40138C19.445 6.31009 19.284 6.26445 19.123 6.26445C18.9621 6.26445 18.8011 6.31009 18.6605 6.4013L17.4643 7.17864L17.8394 5.80888C17.9274 5.48719 17.8152 5.14445 17.5535 4.9359L16.4391 4.0467L17.8673 3.97767ZM1.77816 16.7882L3.95147 15.9509L5.59396 17.5933C5.75692 17.7563 5.97139 17.8421 6.19074 17.8421C6.30699 17.8421 6.42455 17.8179 6.53649 17.7684C6.85974 17.6256 7.05594 17.3066 7.03611 16.9558L6.90564 14.6453L8.98683 13.6021C9.30268 13.4437 9.48271 13.1157 9.44575 12.7664C9.40878 12.417 9.16377 12.1333 8.82151 12.0436L6.56753 11.4528L6.21129 9.1659C6.15727 8.81865 5.8986 8.54711 5.55244 8.47397C5.20637 8.4009 4.85866 8.54461 4.6671 8.83986L3.40465 10.7853L1.10347 10.415C0.755764 10.3588 0.414804 10.5191 0.237702 10.8237C0.0606011 11.1281 0.0906596 11.5005 0.314067 11.7722L1.78774 13.5653L0.721887 15.6234C0.560059 15.9358 0.608478 16.3064 0.845289 16.5675C1.08194 16.8287 1.448 16.9153 1.77816 16.7882ZM3.49084 12.1065C3.82213 12.1599 4.15383 12.0132 4.33581 11.733L5.11002 10.5399L5.32855 11.943C5.38014 12.2722 5.62304 12.5398 5.94743 12.6249L7.32979 12.9872L6.05345 13.627C5.75392 13.777 5.57243 14.089 5.59103 14.422L5.67105 15.8391L4.66361 14.8316C4.5021 14.6703 4.28536 14.5841 4.06447 14.5841C3.96186 14.5841 3.85837 14.6027 3.75909 14.641L2.4262 15.1545L3.07985 13.8924C3.23364 13.5959 3.1957 13.2374 2.98334 12.9791L2.07955 11.8793L3.49084 12.1065ZM38.0084 10.8237C37.8313 10.5193 37.4918 10.359 37.1428 10.4151L34.8416 10.7855L33.579 8.8401C33.3876 8.54478 33.0397 8.40098 32.6939 8.47413C32.3476 8.54711 32.0889 8.81857 32.0348 9.1659L31.6785 11.4529L29.4245 12.0437C29.0824 12.1334 28.8374 12.417 28.8004 12.7665C28.7633 13.1159 28.9436 13.444 29.2595 13.6023L31.3404 14.6454L31.2099 16.956C31.1902 17.3068 31.3863 17.6258 31.7096 17.7686C31.8216 17.818 31.9391 17.8421 32.0554 17.8421C32.2747 17.8421 32.4893 17.7563 32.6523 17.5933L34.2946 15.951L36.4678 16.7882C36.7976 16.9153 37.1638 16.8288 37.4008 16.5678C37.6376 16.3067 37.6862 15.9362 37.5243 15.6236L36.4584 13.5654L37.9321 11.7723C38.1555 11.5004 38.1855 11.1281 38.0084 10.8237ZM35.166 13.8922L35.8198 15.1544L34.4866 14.6408C34.1736 14.5205 33.8189 14.5954 33.5821 14.8318L32.5749 15.8391L32.6549 14.4215C32.6735 14.0889 32.492 13.777 32.1925 13.6268L30.9163 12.987L32.2985 12.6247C32.6233 12.5396 32.8662 12.2718 32.9175 11.9424L33.136 10.5398L33.9101 11.7327C34.0919 12.0132 34.4238 12.1597 34.7551 12.1064L36.1665 11.8792L35.2627 12.9789C35.0506 13.2372 35.0126 13.5955 35.166 13.8922ZM9.53162 30.6467C9.65494 30.7828 9.83066 30.8605 10.015 30.8605L28.2311 30.8605C28.4156 30.8605 28.5913 30.7827 28.7145 30.6465C28.8378 30.5104 28.897 30.3287 28.8773 30.1466C28.6213 27.7714 27.4932 25.5772 25.7009 23.9683C24.6292 23.0062 23.3705 22.3006 22.015 21.8861C23.4528 20.9483 24.4048 19.3338 24.4048 17.502C24.4048 14.6109 22.0354 12.2589 19.123 12.2589C16.2106 12.2589 13.8413 14.6109 13.8413 17.502C13.8413 19.3337 14.7932 20.9482 16.2311 21.8861C14.8754 22.3007 13.6168 23.0062 12.545 23.9684C10.7527 25.5773 9.62471 27.7716 9.36865 30.1468C9.34907 30.3288 9.4083 30.5105 9.53162 30.6467ZM15.1412 17.5021C15.1412 15.3225 16.9275 13.5493 19.1231 13.5493C21.3188 13.5493 23.105 15.3225 23.105 17.5021C23.105 19.6812 21.3193 21.4542 19.1242 21.4548C19.1239 21.4548 19.1235 21.4548 19.1232 21.4548C19.1229 21.4548 19.1225 21.4548 19.1221 21.4548C16.927 21.4542 15.1412 19.6812 15.1412 17.5021ZM19.1223 22.7451H19.1231H19.1239C23.2393 22.7455 26.7108 25.6325 27.4772 29.5702L10.7688 29.5703C11.5353 25.6325 15.0067 22.7455 19.1223 22.7451ZM35.6208 23.3611C35.7087 22.6702 35.7537 21.9694 35.7537 21.2705C35.7537 20.9142 35.4627 20.6254 35.1038 20.6254C34.7449 20.6254 34.4539 20.9142 34.4539 21.2705C34.4539 21.8985 34.4148 22.528 34.338 23.149C32.8295 23.2413 31.6306 24.4882 31.6306 26.0084C31.6306 26.924 32.066 27.7401 32.7415 28.2651C30.5477 32.4742 26.5487 35.4077 21.8666 36.2452C21.4886 35.0993 20.402 34.269 19.123 34.269C17.8442 34.269 16.7574 35.0993 16.3796 36.2451C11.7281 35.4127 7.7459 32.5072 5.54359 28.3387C6.27539 27.8184 6.75365 26.968 6.75365 26.0083C6.75365 24.4417 5.48039 23.1654 3.90727 23.1438C3.83083 22.5246 3.79216 21.8968 3.79216 21.2704C3.79216 20.9142 3.50116 20.6253 3.14224 20.6253C2.78333 20.6253 2.49233 20.9142 2.49233 21.2704C2.49233 21.9889 2.5401 22.7092 2.63279 23.4186C1.65695 23.8788 0.980471 24.8664 0.980471 26.0083C0.980471 27.5883 2.27534 28.8738 3.86706 28.8738C4.02734 28.8738 4.18446 28.8601 4.33768 28.8351C5.50053 31.0688 7.17974 33.0316 9.22039 34.5352C11.2986 36.0665 13.7241 37.098 16.2654 37.5363C16.4629 38.9267 17.6688 40 19.123 40C20.5773 40 21.7831 38.9267 21.9806 37.5364C24.5312 37.0965 26.9645 36.0593 29.0478 34.5189C31.086 33.0118 32.7609 31.047 33.92 28.8118C34.1128 28.8522 34.3125 28.8738 34.5172 28.8738C36.1088 28.8738 37.4037 27.5884 37.4037 26.0084C37.4036 24.8163 36.6664 23.7922 35.6208 23.3611ZM2.28038 26.0084C2.28038 25.1398 2.99219 24.4333 3.86714 24.4333C4.74208 24.4333 5.45382 25.1399 5.45382 26.0084C5.45382 26.8769 4.742 27.5835 3.86714 27.5835C2.99211 27.5835 2.28038 26.8769 2.28038 26.0084ZM19.123 38.7097C18.2481 38.7097 17.5363 38.0031 17.5363 37.1346C17.5363 36.266 18.2482 35.5594 19.123 35.5594C19.9979 35.5594 20.7097 36.266 20.7097 37.1346C20.7097 38.0031 19.998 38.7097 19.123 38.7097ZM34.5171 27.5835C33.6422 27.5835 32.9304 26.8769 32.9304 26.0084C32.9304 25.1398 33.6422 24.4333 34.5171 24.4333C35.392 24.4333 36.1038 25.1399 36.1038 26.0084C36.1038 26.8769 35.392 27.5835 34.5171 27.5835Z"
                                                    fill="white" />
                                            </svg>
                                        </span>
                                        100% Success Rate
                                        <span class="it-accordion-btn">
                                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M10.0035 8.59196L1.41153 0L0 1.41153L8.59097 10.0035H1.01922V12H12V1.01922H10.0035V8.59196Z"
                                                    fill="currentcolor" />
                                            </svg>
                                        </span>
                                    </button>
                                </h4>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p class="mb-0">Et purus duis sollicitudin dignissim ha. Egest nulla quis
                                            venenatis cras sed eu massa
                                            eu faucibus. Urna fusce aenea tortor pretium Et purus duis sollicitudin
                                            dignissim
                                            habitant Et purus duis sollicitudin dignissim ha. Egest nulla quis
                                            venenatis</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-4">
                <div class="it-choose-video">
                    <span>
                        Watch now
                    </span>
                    <a href="https://www.youtube.com/watch?v=YoOG5H4603Y" class="pulse popup-video">
                        <svg width="34" height="40" viewBox="0 0 34 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M29.6059 13.0971L13.7332 1.98047C12.4935 1.11344 11.0379 0.606628 9.52779 0.516219C8.01766 0.425809 6.51199 0.75533 5.17767 1.46826C3.84336 2.18118 2.73251 3.24966 1.96828 4.55527C1.20404 5.86087 0.816258 7.3526 0.847917 8.8651L1.3465 31.7893C1.37708 33.3033 1.8272 34.7792 2.64678 36.0525C3.46635 37.3259 4.62322 38.3468 5.9886 39.0017C7.35399 39.6566 8.87433 39.9197 10.3804 39.7618C11.8864 39.6039 13.3191 39.0311 14.519 38.1072L29.8933 26.311C30.9135 25.5277 31.7348 24.5152 32.2909 23.3554C32.847 22.1957 33.1222 20.9213 33.0942 19.6354C33.0663 18.3495 32.7359 17.0883 32.1299 15.9538C31.5239 14.8193 30.6593 13.8435 29.6061 13.1052L29.6059 13.0971Z"
                                fill="white" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- choose-area-end -->

<!-- funfact-area-start -->
<div class="it-funfact-area p-relative z-index-1 gray-bg pt-125">
    <img class="it-service-shape-1" ssrc="~/img/shape/service-1-1.png" alt="">
    <div class="container">
        <div class="it-funfact-top-wrap pb-65">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-xxl-8 col-xl-7 col-lg-6">
                        <div class="it-section-title-box">
                            <span class="it-section-subtitle">Fun facts</span>
                            <h4 class="it-section-title it-split-text it-split-in-right mb-0">The Mission to
                                Provide <br>
                                The Best Roofing</h4>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-5 col-lg-6 wow itfadeUp" data-wow-duration=".9s" data-wow-delay=".3s">
                        <div class="it-funfact-text">
                            <p>With a passion for precision and a commitment to
                                quality we have been empowering industries and
                                driving progress. We specialize in helping individuals
                                and families regain control of</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="it-funfact-wrap">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 wow itfadeUp" data-wow-duration=".9s" data-wow-delay=".3s">
                    <div class="it-funfact-item it-funfact-col-1 mb-30">
                        <h5 class="it-funfact-title">
                            <i class="purecounter" data-purecounter-duration="1" data-purecounter-end="435"></i>+
                        </h5>
                        <span>Project Completed</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInDown" data-wow-duration=".9s" data-wow-delay=".5s">
                    <div class="it-funfact-item it-funfact-col-2 mb-30">
                        <h5 class="it-funfact-title">
                            <i class="purecounter" data-purecounter-duration="1" data-purecounter-end="150"></i>+
                        </h5>
                        <span>Our Happy Clients</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 wow itfadeUp" data-wow-duration=".9s" data-wow-delay=".7s">
                    <div class="it-funfact-item it-funfact-col-3 mb-30">
                        <h5 class="it-funfact-title">
                            <i class="purecounter" data-purecounter-duration="1" data-purecounter-end="310"></i>+
                        </h5>
                        <span>Working People</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInDown" data-wow-duration=".9s" data-wow-delay=".9s">
                    <div
                        class="it-funfact-item it-funfact-col-4 mb-30 d-flex justify-content-center justify-content-lg-end">
                        <div>
                            <h5 class="it-funfact-title">
                                <i class="purecounter" data-purecounter-duration="1" data-purecounter-end="150"></i>+
                            </h5>
                            <span>Experienced Staff</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- funfact-area-end -->

<!-- project-area-start -->
<div class="it-project-3-area pt-125 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="it-section-title-box text-center mb-65">
                    <span class="it-section-subtitle">Our Project</span>
                    <h4 class="it-section-title it-split-text it-split-in-right mb-0">Explore Our Latest <br>
                        Projects Works</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="it-project-3-wrapper p-relative">
                    <div class="swiper-container it-project-3-active">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="it-project-3-item p-relative">
                                    <div class="it-project-3-thumb">
                                        <img class="w-100" ssrc="~/img/project/project-3-1.jpg" alt="">
                                    </div>
                                    <div class="it-project-3-content">
                                        <h4 class="it-project-title">
                                            <a href="portfolio-details.html" class="border-line-black">
                                                Roof cleaning
                                            </a>
                                        </h4>
                                        <div class="it-project-tag">
                                            <span>Commercial</span>
                                            <span>New Build</span>
                                        </div>
                                        <div class="mb-15">
                                            <div class="it-project-3-info d-flex justify-content-between">
                                                <span>Completion date</span>
                                                <span>May,24</span>
                                            </div>
                                            <div class="it-project-3-info d-flex justify-content-between">
                                                <span>Clients</span>
                                                <span>Ordian it</span>
                                            </div>
                                        </div>
                                        <a class="it-blog-btn border-line-orange" href="blog-details.html">
                                            Explore More
                                            <span>
                                                <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M8.33624 2.84003L1.17627 10L0 8.82373L7.15914 1.66376H0.849347V0H10V9.15065H8.33624V2.84003Z"
                                                        fill="#E03B3B" />
                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="it-project-3-item p-relative">
                                    <div class="it-project-3-thumb">
                                        <img class="w-100" ssrc="~/img/project/project-3-2.jpg" alt="">
                                    </div>
                                    <div class="it-project-3-content">
                                        <h4 class="it-project-title">
                                            <a href="portfolio-details.html" class="border-line-black">
                                                Residential Roofing
                                            </a>
                                        </h4>
                                        <div class="it-project-tag">
                                            <span>Commercial</span>
                                            <span>New Build</span>
                                        </div>
                                        <div class="mb-15">
                                            <div class="it-project-3-info d-flex justify-content-between">
                                                <span>Completion date</span>
                                                <span>May,24</span>
                                            </div>
                                            <div class="it-project-3-info d-flex justify-content-between">
                                                <span>Clients</span>
                                                <span>Ordian it</span>
                                            </div>
                                        </div>
                                        <a class="it-blog-btn border-line-orange" href="blog-details.html">
                                            Explore More
                                            <span>
                                                <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M8.33624 2.84003L1.17627 10L0 8.82373L7.15914 1.66376H0.849347V0H10V9.15065H8.33624V2.84003Z"
                                                        fill="#E03B3B" />
                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="it-project-3-item p-relative">
                                    <div class="it-project-3-thumb">
                                        <img class="w-100" ssrc="~/img/project/project-3-1.jpg" alt="">
                                    </div>
                                    <div class="it-project-3-content">
                                        <h4 class="it-project-title">
                                            <a href="portfolio-details.html" class="border-line-black">
                                                Single Ply Roofing
                                            </a>
                                        </h4>
                                        <div class="it-project-tag">
                                            <span>Commercial</span>
                                            <span>New Build</span>
                                        </div>
                                        <div class="mb-15">
                                            <div class="it-project-3-info d-flex justify-content-between">
                                                <span>Completion date</span>
                                                <span>May,24</span>
                                            </div>
                                            <div class="it-project-3-info d-flex justify-content-between">
                                                <span>Clients</span>
                                                <span>Ordian it</span>
                                            </div>
                                        </div>
                                        <a class="it-blog-btn border-line-orange" href="blog-details.html">
                                            Explore More
                                            <span>
                                                <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M8.33624 2.84003L1.17627 10L0 8.82373L7.15914 1.66376H0.849347V0H10V9.15065H8.33624V2.84003Z"
                                                        fill="#E03B3B" />
                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="it-project-3-item p-relative">
                                    <div class="it-project-3-thumb">
                                        <img class="w-100" ssrc="~/img/project/project-3-2.jpg" alt="">
                                    </div>
                                    <div class="it-project-3-content">
                                        <h4 class="it-project-title">
                                            <a href="portfolio-details.html" class="border-line-black">
                                                Single Ply Roofing
                                            </a>
                                        </h4>
                                        <div class="it-project-tag">
                                            <span>Commercial</span>
                                            <span>New Build</span>
                                        </div>
                                        <div class="mb-15">
                                            <div class="it-project-3-info d-flex justify-content-between">
                                                <span>Completion date</span>
                                                <span>May,24</span>
                                            </div>
                                            <div class="it-project-3-info d-flex justify-content-between">
                                                <span>Clients</span>
                                                <span>Ordian it</span>
                                            </div>
                                        </div>
                                        <a class="it-blog-btn border-line-orange" href="blog-details.html">
                                            Explore More
                                            <span>
                                                <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M8.33624 2.84003L1.17627 10L0 8.82373L7.15914 1.66376H0.849347V0H10V9.15065H8.33624V2.84003Z"
                                                        fill="#E03B3B" />
                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="it-project-arrow-wrap d-none d-xl-block">
                        <button class="arrow-prev">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0.292892 7.29289C-0.0976315 7.68342 -0.0976315 8.31658 0.292892 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292892 7.29289ZM16 7H0.999999V9H16V7Z"
                                    fill="currentcolor" />
                            </svg>
                        </button>
                        <button class="arrow-next">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M15.7071 8.70711C16.0976 8.31658 16.0976 7.68342 15.7071 7.29289L9.34315 0.928932C8.95262 0.538408 8.31946 0.538408 7.92893 0.928932C7.53841 1.31946 7.53841 1.95262 7.92893 2.34315L13.5858 8L7.92893 13.6569C7.53841 14.0474 7.53841 14.6805 7.92893 15.0711C8.31946 15.4616 8.95262 15.4616 9.34315 15.0711L15.7071 8.70711ZM0 9H15V7H0V9Z"
                                    fill="currentcolor" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="it-project-3-dots text-center mt-55"></div>
            </div>
        </div>
    </div>
</div>
<!-- project-area-end -->

<!-- testimonial-area-start -->
<div class="it-testimonial-2-area z-index-1 black-bg pt-130 pb-130">
    <img class="it-service-shape-1" ssrc="~/img/shape/testimonial-3-1.png" alt="">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-xl-4 col-lg-5 order-1 order-lg-0">
                <div class="it-testimonial-2-thumb it-img-anim-wrap p-relative">
                    <div class="it-img-anim" data-displacement="assets/img/webgl/pattern-1.jpg" data-intensity="0.6"
                        data-speedin="1" data-speedout="1">
                        <img ssrc="~/img/testimonial/testimonial-3-1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7 order-0 order-lg-1">
                <div class="it-testimonial-2-right">
                    <div class="it-section-title-box mb-50">
                        <span class="it-section-subtitle">Testimonial</span>
                        <h4 class="it-section-title it-split-text it-split-in-right text-white mb-0">Our Best
                            Clients Reviews</h4>
                    </div>
                    <div class="it-slider-author mb-40 d-flex align-items-center">
                        <div class="it-slider-author-avater">
                            <img ssrc="~/img/slider/avater.png" alt="">
                        </div>
                        <div class="it-slider-author-designation">
                            <i>Trusteed By</i>
                            <span>World Leading Customer</span>
                        </div>
                    </div>
                    <div class="it-testimonial-wrapper p-relative">
                        <div class="swiper-container it-testimonial-active p-relative">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="it-testimonial-item">
                                        <div class="it-testimonial-text d-flex">
                                            <span class="it-testimonial-quote">
                                                <svg width="85" height="70" viewBox="0 0 85 70" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path opacity="0.1"
                                                        d="M50.1282 70H80.641C83.0446 70 85 68.0676 85 65.6923V37.6923C85 35.317 83.0446 33.3846 80.641 33.3846H62.5807C64.6233 23.4784 73.578 16.1538 83.9103 16.1538C84.512 16.1538 85 15.6718 85 15.0769L85 1.07692C85 0.482033 84.512 0 83.9103 0C62.8793 0 45.7692 16.9088 45.7692 37.6923L45.7692 65.6923C45.7692 68.0676 47.7247 70 50.1282 70ZM47.9487 37.6923C47.9487 18.4563 63.493 2.74098 82.8205 2.16978L82.8205 14.0243C77.411 14.2675 72.2395 16.3145 68.1541 19.8509C63.8404 23.5846 61.0184 28.7192 60.2075 34.3086C60.1626 34.6179 60.2556 34.9311 60.4627 35.1669C60.6697 35.403 60.9703 35.5385 61.2861 35.5385H80.641C81.8428 35.5385 82.8205 36.5047 82.8205 37.6923V65.6923C82.8205 66.8799 81.8428 67.8462 80.641 67.8462H50.1282C48.9264 67.8462 47.9487 66.8799 47.9487 65.6923L47.9487 37.6923ZM4.35897 70L34.8718 70C37.2753 70 39.2308 68.0676 39.2308 65.6923L39.2308 37.6923C39.2308 35.317 37.2753 33.3846 34.8718 33.3846H16.8106C18.8532 23.4784 27.8081 16.1538 38.141 16.1538C38.743 16.1538 39.2308 15.6718 39.2308 15.0769V1.07692C39.2308 0.482033 38.743 0 38.141 0C17.1101 0 0 16.9088 0 37.6923V65.6923C0 68.0676 1.95522 70 4.35897 70ZM2.17949 37.6923C2.17949 18.4563 17.7238 2.74098 37.0513 2.16978V14.0243C31.6418 14.2673 26.4701 16.3145 22.3844 19.8509C18.0706 23.5846 15.2483 28.7192 14.4374 34.3086C14.3925 34.6179 14.4857 34.9311 14.6926 35.1669C14.8996 35.403 15.2 35.5385 15.516 35.5385H34.8718C36.0736 35.5385 37.0513 36.5047 37.0513 37.6923L37.0513 65.6923C37.0513 66.8799 36.0736 67.8462 34.8718 67.8462L4.35897 67.8462C3.1572 67.8462 2.17949 66.8799 2.17949 65.6923V37.6923Z"
                                                        fill="white" />
                                                </svg>
                                            </span>
                                            <p class="mb-30">“We couldn’t be happier with the quality & attention
                                                to detail. From start to finish, the team was
                                                professional, efficient, and communicative.</p>
                                        </div>
                                        <div class="it-testimonial-bottom d-flex align-items-center">
                                            <div class="it-testimonial-ratting">
                                                <span>4.8*</span>
                                            </div>
                                            <div class="it-testimonial-avatar-info">
                                                <h5 class="it-testimonial-avatar-name">Andro Boris</h5>
                                                <span>Roofing Admin., Assistant Project Managert</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="it-testimonial-item">
                                        <div class="it-testimonial-text d-flex">
                                            <span class="it-testimonial-quote">
                                                <svg width="85" height="70" viewBox="0 0 85 70" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path opacity="0.1"
                                                        d="M50.1282 70H80.641C83.0446 70 85 68.0676 85 65.6923V37.6923C85 35.317 83.0446 33.3846 80.641 33.3846H62.5807C64.6233 23.4784 73.578 16.1538 83.9103 16.1538C84.512 16.1538 85 15.6718 85 15.0769L85 1.07692C85 0.482033 84.512 0 83.9103 0C62.8793 0 45.7692 16.9088 45.7692 37.6923L45.7692 65.6923C45.7692 68.0676 47.7247 70 50.1282 70ZM47.9487 37.6923C47.9487 18.4563 63.493 2.74098 82.8205 2.16978L82.8205 14.0243C77.411 14.2675 72.2395 16.3145 68.1541 19.8509C63.8404 23.5846 61.0184 28.7192 60.2075 34.3086C60.1626 34.6179 60.2556 34.9311 60.4627 35.1669C60.6697 35.403 60.9703 35.5385 61.2861 35.5385H80.641C81.8428 35.5385 82.8205 36.5047 82.8205 37.6923V65.6923C82.8205 66.8799 81.8428 67.8462 80.641 67.8462H50.1282C48.9264 67.8462 47.9487 66.8799 47.9487 65.6923L47.9487 37.6923ZM4.35897 70L34.8718 70C37.2753 70 39.2308 68.0676 39.2308 65.6923L39.2308 37.6923C39.2308 35.317 37.2753 33.3846 34.8718 33.3846H16.8106C18.8532 23.4784 27.8081 16.1538 38.141 16.1538C38.743 16.1538 39.2308 15.6718 39.2308 15.0769V1.07692C39.2308 0.482033 38.743 0 38.141 0C17.1101 0 0 16.9088 0 37.6923V65.6923C0 68.0676 1.95522 70 4.35897 70ZM2.17949 37.6923C2.17949 18.4563 17.7238 2.74098 37.0513 2.16978V14.0243C31.6418 14.2673 26.4701 16.3145 22.3844 19.8509C18.0706 23.5846 15.2483 28.7192 14.4374 34.3086C14.3925 34.6179 14.4857 34.9311 14.6926 35.1669C14.8996 35.403 15.2 35.5385 15.516 35.5385H34.8718C36.0736 35.5385 37.0513 36.5047 37.0513 37.6923L37.0513 65.6923C37.0513 66.8799 36.0736 67.8462 34.8718 67.8462L4.35897 67.8462C3.1572 67.8462 2.17949 66.8799 2.17949 65.6923V37.6923Z"
                                                        fill="white" />
                                                </svg>
                                            </span>
                                            <p class="mb-30">“We couldn’t be happier with the quality & attention
                                                to detail. From start to finish, the team was
                                                professional, efficient, and communicative.</p>
                                        </div>
                                        <div class="it-testimonial-bottom d-flex align-items-center">
                                            <div class="it-testimonial-ratting">
                                                <span>4.8*</span>
                                            </div>
                                            <div class="it-testimonial-avatar-info">
                                                <h5 class="it-testimonial-avatar-name">Dana Shipley</h5>
                                                <span>Roofing Admin., Assistant Project Managert</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="it-testimonial-arrow-wrap">
                                <button class="arrow-prev">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M0.292892 7.29289C-0.0976315 7.68342 -0.0976315 8.31658 0.292892 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292892 7.29289ZM16 7H0.999999V9H16V7Z"
                                            fill="currentcolor" />
                                    </svg>
                                </button>
                                <button class="arrow-next">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M15.7071 8.70711C16.0976 8.31658 16.0976 7.68342 15.7071 7.29289L9.34315 0.928932C8.95262 0.538408 8.31946 0.538408 7.92893 0.928932C7.53841 1.31946 7.53841 1.95262 7.92893 2.34315L13.5858 8L7.92893 13.6569C7.53841 14.0474 7.53841 14.6805 7.92893 15.0711C8.31946 15.4616 8.95262 15.4616 9.34315 15.0711L15.7071 8.70711ZM0 9H15V7H0V9Z"
                                            fill="currentcolor" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial-area-end -->

<!-- faq-area-start -->
<div class="it-faq-area z-index-1 gray-bg pt-130 pb-130">
    <img class="it-faq-shape-1" ssrc="~/img/shape/faq-3-1.png" alt="">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-xl-6 col-lg-6">
                <div class="it-faq-left">
                    <div class="it-section-title-box mb-15">
                        <span class="it-section-subtitle">How Can We Help
                            You?</span>
                        <h4 class="it-section-title it-split-text it-split-in-right mb-0">Discover Frequently <br>
                            Asked Questions</h4>
                    </div>
                    <div class="it-custom-accordion">
                        <div class="accordion" id="accordionExample2">
                            <div class="accordion-items">
                                <h4 class="accordion-header" id="headingOne2">
                                    <button class="accordion-buttons " type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne2" aria-expanded="true"
                                        aria-controls="collapseOne2">
                                        Where should I incorporate my business?
                                        <span class="it-accordion-btn">
                                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M10.0035 8.59196L1.41153 0L0 1.41153L8.59097 10.0035H1.01922V12H12V1.01922H10.0035V8.59196Z"
                                                    fill="currentcolor" />
                                            </svg>
                                        </span>
                                    </button>
                                </h4>
                                <div id="collapseOne2" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne2" data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        <p class="mb-0">Et purus duis sollicitudin dignissim ha. Egest nulla quis
                                            venenatis cras sed eu massa
                                            eu faucibus. Urna fusce aenea tortor pretium Et purus duis sollicitudin
                                            dignissim
                                            habitant Et purus duis sollicitudin dignissim ha. Egest nulla quis
                                            venenatis</p>

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-items">
                                <h4 class="accordion-header" id="headingTwo3">
                                    <button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo3" aria-expanded="false"
                                        aria-controls="collapseTwo3">
                                        What is construction?
                                        <span class="it-accordion-btn">
                                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M10.0035 8.59196L1.41153 0L0 1.41153L8.59097 10.0035H1.01922V12H12V1.01922H10.0035V8.59196Z"
                                                    fill="currentcolor" />
                                            </svg>
                                        </span>
                                    </button>
                                </h4>
                                <div id="collapseTwo3" class="accordion-collapse collapse" aria-labelledby="headingTwo3"
                                    data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        <p class="mb-0">Et purus duis sollicitudin dignissim ha. Egest nulla quis
                                            venenatis cras sed eu massa
                                            eu faucibus. Urna fusce aenea tortor pretium Et purus duis sollicitudin
                                            dignissim
                                            habitant Et purus duis sollicitudin dignissim ha. Egest nulla quis
                                            venenatis</p>

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-items">
                                <h4 class="accordion-header" id="headingFour4">
                                    <button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour4" aria-expanded="false"
                                        aria-controls="collapseFour4">
                                        What different of construction projects?
                                        <span class="it-accordion-btn">
                                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M10.0035 8.59196L1.41153 0L0 1.41153L8.59097 10.0035H1.01922V12H12V1.01922H10.0035V8.59196Z"
                                                    fill="currentcolor" />
                                            </svg>
                                        </span>
                                    </button>
                                </h4>
                                <div id="collapseFour4" class="accordion-collapse collapse"
                                    aria-labelledby="headingFour4" data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        <p class="mb-0">Et purus duis sollicitudin dignissim ha. Egest nulla quis
                                            venenatis cras sed eu massa
                                            eu faucibus. Urna fusce aenea tortor pretium Et purus duis sollicitudin
                                            dignissim
                                            habitant Et purus duis sollicitudin dignissim ha. Egest nulla quis
                                            venenatis</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="it-faq-right p-relative">
                    <div class="it-faq-thumb p-relative">
                        <img ssrc="~/img/faq/thumb.jpg" alt="">
                    </div>
                    <div class="it-faq-contact d-flex align-items-center">
                        <span>
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M9.74999 0.749245C9.74999 0.550332 9.82901 0.359567 9.96966 0.218915C10.1103 0.0782622 10.3011 -0.000755399 10.5 -0.000755399C12.4884 0.0014283 14.3948 0.792306 15.8009 2.19836C17.2069 3.60441 17.9978 5.51079 18 7.49924C18 7.69816 17.921 7.88892 17.7803 8.02958C17.6397 8.17023 17.4489 8.24924 17.25 8.24924C17.0511 8.24924 16.8603 8.17023 16.7197 8.02958C16.579 7.88892 16.5 7.69816 16.5 7.49924C16.4982 5.90849 15.8655 4.38341 14.7407 3.25858C13.6158 2.13375 12.0907 1.50103 10.5 1.49924C10.3011 1.49924 10.1103 1.42023 9.96966 1.27957C9.82901 1.13892 9.74999 0.948157 9.74999 0.749245ZM10.5 4.49924C11.2956 4.49924 12.0587 4.81531 12.6213 5.37792C13.1839 5.94053 13.5 6.7036 13.5 7.49924C13.5 7.69816 13.579 7.88892 13.7197 8.02958C13.8603 8.17023 14.0511 8.24924 14.25 8.24924C14.4489 8.24924 14.6397 8.17023 14.7803 8.02958C14.921 7.88892 15 7.69816 15 7.49924C14.9988 6.30614 14.5243 5.16224 13.6807 4.31858C12.837 3.47492 11.6931 3.00044 10.5 2.99924C10.3011 2.99924 10.1103 3.07826 9.96966 3.21891C9.82901 3.35957 9.74999 3.55033 9.74999 3.74924C9.74999 3.94816 9.82901 4.13892 9.96966 4.27957C10.1103 4.42023 10.3011 4.49924 10.5 4.49924ZM17.3197 12.5535C17.7544 12.9893 17.9984 13.5797 17.9984 14.1952C17.9984 14.8108 17.7544 15.4012 17.3197 15.837L16.6372 16.6237C10.4947 22.5045 -4.45276 7.56074 1.33724 1.39874L2.19974 0.648745C2.63607 0.226253 3.22119 -0.00746859 3.82852 -0.00185427C4.43585 0.00376005 5.01655 0.248258 5.44499 0.678745C5.46824 0.701995 6.85799 2.50724 6.85799 2.50724C7.27036 2.94047 7.49992 3.51594 7.49894 4.11405C7.49796 4.71215 7.26653 5.28687 6.85274 5.71874L5.98424 6.81074C6.46488 7.97858 7.17154 9.03993 8.06362 9.93382C8.9557 10.8277 10.0156 11.5365 11.1825 12.0195L12.2812 11.1457C12.7132 10.7323 13.2878 10.5011 13.8857 10.5003C14.4836 10.4994 15.0589 10.729 15.492 11.1412C15.492 11.1412 17.2965 12.5302 17.3197 12.5535ZM16.2877 13.644C16.2877 13.644 14.493 12.2632 14.4697 12.24C14.3152 12.0868 14.1065 12.0008 13.8889 12.0008C13.6713 12.0008 13.4625 12.0868 13.308 12.24C13.2877 12.261 11.775 13.4662 11.775 13.4662C11.673 13.5474 11.5517 13.6006 11.423 13.6206C11.2942 13.6406 11.1625 13.6267 11.0407 13.5802C9.52908 13.0174 8.15604 12.1363 7.01462 10.9966C5.87319 9.85681 4.99004 8.48507 4.42499 6.97425C4.37489 6.85084 4.35855 6.71631 4.37767 6.5845C4.39678 6.45269 4.45065 6.32834 4.53374 6.22425C4.53374 6.22425 5.73899 4.71074 5.75924 4.69124C5.91244 4.53673 5.9984 4.32796 5.9984 4.11037C5.9984 3.89278 5.91244 3.68401 5.75924 3.52949C5.73599 3.50699 4.35524 1.71074 4.35524 1.71074C4.19841 1.57012 3.99374 1.49482 3.78317 1.50025C3.57261 1.50569 3.3721 1.59147 3.22274 1.73999L2.36024 2.48999C-1.87126 7.57799 11.082 19.8127 15.5407 15.5992L16.224 14.8117C16.3841 14.6634 16.4803 14.4587 16.4922 14.2408C16.5041 14.0229 16.4308 13.8088 16.2877 13.644Z"
                                    fill="#E03B3B" />
                            </svg>
                        </span>
                        <a class="border-line-white" href="tel:7055690123">(705) 569-0123</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- faq-area-end -->

<!-- blog-area-start -->
<div class="it-blog-area it-blog-style-2 it-blog-style-3 pt-125 pb-100">
   <div class="container">
      <div class="row">
         <div class="col-xl-12">
            <div class="it-section-title-box text-center mb-65">
               <span class="it-section-subtitle">News & Blog</span>
               <h4 class="it-section-title it-split-text it-split-in-right mb-0">Our Latest News Post <br>
                  And Articles</h4>
            </div>
         </div>
      </div>
      <div class="row gx-35">
         <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-duration=".9s" data-wow-delay=".3s">
            <div class="it-blog-item gray-bg mb-30">
               <div class="it-blog-thumb w-100">
                  <a href="blog-details.html">
                     <img class="w-100" ssrc="~/img/blog/blog-3-1.jpg" alt="">
                     <img class="w-100" ssrc="~/img/blog/blog-3-1.jpg" alt="">
                  </a>
               </div>
               <div class="it-blog-content">
                  <div class="it-blog-meta mb-20">
                     <span>
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                           xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M0.468788 13.1562H2.81253V14.5625C2.81253 14.8213 3.02241 15.0312 3.28128 15.0312H15.5313C15.7901 15.0312 16 14.8213 16 14.5625V2.375C16 2.11612 15.7901 1.90625 15.5313 1.90625H13.1875V1.4375C13.1875 1.17862 12.9776 0.96875 12.7188 0.96875C12.4599 0.96875 12.25 1.17862 12.25 1.4375V1.90625H9.87502V1.4375C9.87502 1.17862 9.66514 0.96875 9.40627 0.96875C9.1474 0.96875 8.93752 1.17862 8.93752 1.4375V1.90625H6.59378V1.4375C6.59378 1.17862 6.3839 0.96875 6.12503 0.96875C5.86615 0.96875 5.65628 1.17862 5.65628 1.4375V1.90625H3.28128C3.02241 1.90625 2.81253 2.11612 2.81253 2.375V5.18749C2.81253 8.64217 1.37676 11.2999 0.168695 12.3274C0.0170703 12.4537 -0.0391483 12.6615 0.0280078 12.8471C0.0952264 13.0326 0.271414 13.1562 0.468788 13.1562ZM15.0625 14.0937H3.75003V13.1562H12.7188C12.8284 13.1562 12.9346 13.1178 13.0189 13.0476C13.5824 12.5782 14.4552 11.4608 15.0625 10.0296V14.0937ZM3.75003 2.84375H5.65628V3.3125C5.65628 3.57137 5.86615 3.78124 6.12503 3.78124C6.3839 3.78124 6.59378 3.57137 6.59378 3.3125V2.84375H8.93752V3.3125C8.93752 3.57137 9.1474 3.78124 9.40627 3.78124C9.66514 3.78124 9.87502 3.57137 9.87502 3.3125V2.84375H12.25V3.3125C12.25 3.57137 12.4599 3.78124 12.7188 3.78124C12.9776 3.78124 13.1875 3.57137 13.1875 3.3125V2.84375H15.0625V4.71874H3.75003V2.84375ZM3.742 5.65593H15.0542C14.9486 8.62952 13.8073 10.9691 12.535 12.2187H1.535C2.97666 10.3818 3.66466 7.99005 3.742 5.65593Z"
                              fill="#E03B3B" />
                        </svg>
                        December 24,2025
                     </span>
                     <span>
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                           xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M12.6667 2.66667H11.9327C11.6227 1.14733 10.276 0 8.66667 0H3.33333C1.49533 0 0 1.49533 0 3.33333V11.9027C0 12.432 0.29 12.916 0.756 13.1653C0.968 13.2793 1.20067 13.3353 1.43267 13.3353C1.71 13.3353 1.98667 13.2547 2.226 13.0953L4.19267 11.784C4.65333 13.074 5.88667 14 7.33333 14H11.1313L13.774 15.762C14.014 15.922 14.29 16.0027 14.5673 16.0027C14.7993 16.0027 15.0313 15.946 15.244 15.832C15.7107 15.5827 16 15.0987 16 14.5693V6C16 4.162 14.5047 2.66667 12.6667 2.66667ZM1.48667 11.986C1.474 11.994 1.43667 12.018 1.38533 11.9907C1.33267 11.9627 1.33267 11.918 1.33267 11.9033V3.33333C1.33267 2.23067 2.23 1.33333 3.33267 1.33333H8.666C9.76867 1.33333 10.666 2.23067 10.666 3.33333V8C10.666 9.10267 9.76867 10 8.666 10H4.666C4.448 10 4.30533 10.106 4.28933 10.1167L1.48667 11.986ZM14.6667 14.57C14.6667 14.584 14.6667 14.6293 14.614 14.6573C14.5613 14.6847 14.5253 14.6607 14.5133 14.6527L11.7033 12.7787C11.594 12.706 11.4653 12.6667 11.3333 12.6667H7.33333C6.464 12.6667 5.72333 12.1093 5.448 11.3333H8.66667C10.5047 11.3333 12 9.838 12 8V4H12.6667C13.7693 4 14.6667 4.89733 14.6667 6V14.57Z"
                              fill="#E03B3B" />
                        </svg>
                        Comments
                     </span>
                  </div>
                  <h4 class="it-blog-title mb-20">
                     <a class="border-line-black" href="blog-details.html">
                        The complex but awesome CSS border-image property
                     </a>
                  </h4>
                  <a class="it-blog-btn border-line-orange" href="blog-details.html">More Details
                     <span>
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none"
                           xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M10.0035 3.90804L1.41153 12.5L0 11.0885L8.59097 2.49651H1.01922V0.5H12V11.4808H10.0035V3.90804Z"
                              fill="currentcolor" />
                        </svg>
                     </span>
                  </a>
               </div>
            </div>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInDown" data-wow-duration=".9s"
            data-wow-delay=".5s">
            <div class="it-blog-item gray-bg mb-30">
               <div class="it-blog-thumb w-100">
                  <a href="blog-details.html">
                     <img class="w-100" ssrc="~/img/blog/blog-3-2.jpg" alt="">
                     <img class="w-100" ssrc="~/img/blog/blog-3-2.jpg" alt="">
                  </a>
               </div>
               <div class="it-blog-content">
                  <div class="it-blog-meta mb-20">
                     <span>
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                           xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M0.468788 13.1562H2.81253V14.5625C2.81253 14.8213 3.02241 15.0312 3.28128 15.0312H15.5313C15.7901 15.0312 16 14.8213 16 14.5625V2.375C16 2.11612 15.7901 1.90625 15.5313 1.90625H13.1875V1.4375C13.1875 1.17862 12.9776 0.96875 12.7188 0.96875C12.4599 0.96875 12.25 1.17862 12.25 1.4375V1.90625H9.87502V1.4375C9.87502 1.17862 9.66514 0.96875 9.40627 0.96875C9.1474 0.96875 8.93752 1.17862 8.93752 1.4375V1.90625H6.59378V1.4375C6.59378 1.17862 6.3839 0.96875 6.12503 0.96875C5.86615 0.96875 5.65628 1.17862 5.65628 1.4375V1.90625H3.28128C3.02241 1.90625 2.81253 2.11612 2.81253 2.375V5.18749C2.81253 8.64217 1.37676 11.2999 0.168695 12.3274C0.0170703 12.4537 -0.0391483 12.6615 0.0280078 12.8471C0.0952264 13.0326 0.271414 13.1562 0.468788 13.1562ZM15.0625 14.0937H3.75003V13.1562H12.7188C12.8284 13.1562 12.9346 13.1178 13.0189 13.0476C13.5824 12.5782 14.4552 11.4608 15.0625 10.0296V14.0937ZM3.75003 2.84375H5.65628V3.3125C5.65628 3.57137 5.86615 3.78124 6.12503 3.78124C6.3839 3.78124 6.59378 3.57137 6.59378 3.3125V2.84375H8.93752V3.3125C8.93752 3.57137 9.1474 3.78124 9.40627 3.78124C9.66514 3.78124 9.87502 3.57137 9.87502 3.3125V2.84375H12.25V3.3125C12.25 3.57137 12.4599 3.78124 12.7188 3.78124C12.9776 3.78124 13.1875 3.57137 13.1875 3.3125V2.84375H15.0625V4.71874H3.75003V2.84375ZM3.742 5.65593H15.0542C14.9486 8.62952 13.8073 10.9691 12.535 12.2187H1.535C2.97666 10.3818 3.66466 7.99005 3.742 5.65593Z"
                              fill="#E03B3B" />
                        </svg>
                        December 24,2025
                     </span>
                     <span>
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                           xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M12.6667 2.66667H11.9327C11.6227 1.14733 10.276 0 8.66667 0H3.33333C1.49533 0 0 1.49533 0 3.33333V11.9027C0 12.432 0.29 12.916 0.756 13.1653C0.968 13.2793 1.20067 13.3353 1.43267 13.3353C1.71 13.3353 1.98667 13.2547 2.226 13.0953L4.19267 11.784C4.65333 13.074 5.88667 14 7.33333 14H11.1313L13.774 15.762C14.014 15.922 14.29 16.0027 14.5673 16.0027C14.7993 16.0027 15.0313 15.946 15.244 15.832C15.7107 15.5827 16 15.0987 16 14.5693V6C16 4.162 14.5047 2.66667 12.6667 2.66667ZM1.48667 11.986C1.474 11.994 1.43667 12.018 1.38533 11.9907C1.33267 11.9627 1.33267 11.918 1.33267 11.9033V3.33333C1.33267 2.23067 2.23 1.33333 3.33267 1.33333H8.666C9.76867 1.33333 10.666 2.23067 10.666 3.33333V8C10.666 9.10267 9.76867 10 8.666 10H4.666C4.448 10 4.30533 10.106 4.28933 10.1167L1.48667 11.986ZM14.6667 14.57C14.6667 14.584 14.6667 14.6293 14.614 14.6573C14.5613 14.6847 14.5253 14.6607 14.5133 14.6527L11.7033 12.7787C11.594 12.706 11.4653 12.6667 11.3333 12.6667H7.33333C6.464 12.6667 5.72333 12.1093 5.448 11.3333H8.66667C10.5047 11.3333 12 9.838 12 8V4H12.6667C13.7693 4 14.6667 4.89733 14.6667 6V14.57Z"
                              fill="#E03B3B" />
                        </svg>
                        Comments
                     </span>
                  </div>
                  <h4 class="it-blog-title mb-20">
                     <a class="border-line-black" href="blog-details.html">
                        Top Crypto Exchange Influencers in Hong Kong
                     </a>
                  </h4>
                  <a class="it-blog-btn border-line-orange" href="blog-details.html">More Details
                     <span>
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none"
                           xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M10.0035 3.90804L1.41153 12.5L0 11.0885L8.59097 2.49651H1.01922V0.5H12V11.4808H10.0035V3.90804Z"
                              fill="currentcolor" />
                        </svg>
                     </span>
                  </a>
               </div>
            </div>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-duration=".9s" data-wow-delay=".7s">
            <div class="it-blog-item gray-bg mb-30">
               <div class="it-blog-thumb w-100">
                  <a href="blog-details.html">
                     <img class="w-100" ssrc="~/img/blog/blog-3-3.jpg" alt="">
                     <img class="w-100" ssrc="~/img/blog/blog-3-3.jpg" alt="">
                  </a>
               </div>
               <div class="it-blog-content">
                  <div class="it-blog-meta mb-20">
                     <span>
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                           xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M0.468788 13.1562H2.81253V14.5625C2.81253 14.8213 3.02241 15.0312 3.28128 15.0312H15.5313C15.7901 15.0312 16 14.8213 16 14.5625V2.375C16 2.11612 15.7901 1.90625 15.5313 1.90625H13.1875V1.4375C13.1875 1.17862 12.9776 0.96875 12.7188 0.96875C12.4599 0.96875 12.25 1.17862 12.25 1.4375V1.90625H9.87502V1.4375C9.87502 1.17862 9.66514 0.96875 9.40627 0.96875C9.1474 0.96875 8.93752 1.17862 8.93752 1.4375V1.90625H6.59378V1.4375C6.59378 1.17862 6.3839 0.96875 6.12503 0.96875C5.86615 0.96875 5.65628 1.17862 5.65628 1.4375V1.90625H3.28128C3.02241 1.90625 2.81253 2.11612 2.81253 2.375V5.18749C2.81253 8.64217 1.37676 11.2999 0.168695 12.3274C0.0170703 12.4537 -0.0391483 12.6615 0.0280078 12.8471C0.0952264 13.0326 0.271414 13.1562 0.468788 13.1562ZM15.0625 14.0937H3.75003V13.1562H12.7188C12.8284 13.1562 12.9346 13.1178 13.0189 13.0476C13.5824 12.5782 14.4552 11.4608 15.0625 10.0296V14.0937ZM3.75003 2.84375H5.65628V3.3125C5.65628 3.57137 5.86615 3.78124 6.12503 3.78124C6.3839 3.78124 6.59378 3.57137 6.59378 3.3125V2.84375H8.93752V3.3125C8.93752 3.57137 9.1474 3.78124 9.40627 3.78124C9.66514 3.78124 9.87502 3.57137 9.87502 3.3125V2.84375H12.25V3.3125C12.25 3.57137 12.4599 3.78124 12.7188 3.78124C12.9776 3.78124 13.1875 3.57137 13.1875 3.3125V2.84375H15.0625V4.71874H3.75003V2.84375ZM3.742 5.65593H15.0542C14.9486 8.62952 13.8073 10.9691 12.535 12.2187H1.535C2.97666 10.3818 3.66466 7.99005 3.742 5.65593Z"
                              fill="#E03B3B" />
                        </svg>
                        December 24,2025
                     </span>
                     <span>
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                           xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M12.6667 2.66667H11.9327C11.6227 1.14733 10.276 0 8.66667 0H3.33333C1.49533 0 0 1.49533 0 3.33333V11.9027C0 12.432 0.29 12.916 0.756 13.1653C0.968 13.2793 1.20067 13.3353 1.43267 13.3353C1.71 13.3353 1.98667 13.2547 2.226 13.0953L4.19267 11.784C4.65333 13.074 5.88667 14 7.33333 14H11.1313L13.774 15.762C14.014 15.922 14.29 16.0027 14.5673 16.0027C14.7993 16.0027 15.0313 15.946 15.244 15.832C15.7107 15.5827 16 15.0987 16 14.5693V6C16 4.162 14.5047 2.66667 12.6667 2.66667ZM1.48667 11.986C1.474 11.994 1.43667 12.018 1.38533 11.9907C1.33267 11.9627 1.33267 11.918 1.33267 11.9033V3.33333C1.33267 2.23067 2.23 1.33333 3.33267 1.33333H8.666C9.76867 1.33333 10.666 2.23067 10.666 3.33333V8C10.666 9.10267 9.76867 10 8.666 10H4.666C4.448 10 4.30533 10.106 4.28933 10.1167L1.48667 11.986ZM14.6667 14.57C14.6667 14.584 14.6667 14.6293 14.614 14.6573C14.5613 14.6847 14.5253 14.6607 14.5133 14.6527L11.7033 12.7787C11.594 12.706 11.4653 12.6667 11.3333 12.6667H7.33333C6.464 12.6667 5.72333 12.1093 5.448 11.3333H8.66667C10.5047 11.3333 12 9.838 12 8V4H12.6667C13.7693 4 14.6667 4.89733 14.6667 6V14.57Z"
                              fill="#E03B3B" />
                        </svg>
                        Comments
                     </span>
                  </div>
                  <h4 class="it-blog-title mb-20">
                     <a class="border-line-black" href="blog-details.html">
                        A simple guide to retrieval auto generated read
                     </a>
                  </h4>
                  <a class="it-blog-btn border-line-orange" href="blog-details.html">More Details
                     <span>
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none"
                           xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M10.0035 3.90804L1.41153 12.5L0 11.0885L8.59097 2.49651H1.01922V0.5H12V11.4808H10.0035V3.90804Z"
                              fill="currentcolor" />
                        </svg>
                     </span>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- blog-area-end -->