@model ProductListViewModel

<!-- breadcrumb-area-start -->
<div class="it-breadcrumb-area it-breadcrumb-overlay z-index-1 fix p-relative"
    data-background="~/img/breadcrumb/breadcrumb.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-8 col-lg-8 col-md-7">
                <div class="it-breadcrumb-content">
                    <div class="it-breadcrumb-title-box">
                        <h3 class="it-breadcrumb-title it-split-text it-split-in-right">@Model.Category.Name</h3>
                    </div>
                    <div class="it-breadcrumb-list-wrap">
                        <div class="it-breadcrumb-list">
                            <span><a href="index.html">Ana Sayfa</a></span>
                            <span class="dvdr">
                                <svg width="6" height="9" viewBox="0 0 6 9" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.728891 0L0 0.728893L3.76852 4.5L0 8.27111L0.728891 9L5.23148 4.5L0.728891 0Z"
                                        fill="#E03B3B" />
                                </svg>
                            </span>
                            <span><a href="index.html">Ürünler</a></span>
                            <span class="dvdr">
                                <svg width="6" height="9" viewBox="0 0 6 9" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.728891 0L0 0.728893L3.76852 4.5L0 8.27111L0.728891 9L5.23148 4.5L0.728891 0Z"
                                        fill="#E03B3B" />
                                </svg>
                            </span>
                            <i>Santrifuj Fanlar</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5">
                <div class="it-breadcrumb-right text-end">
                    <span class="it-breadcrumb-experience p-relative">
                        <i><svg width="50" height="50" viewBox="0 0 38 38" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="19" cy="19" r="3" fill="white" />
                                <path
                                    d="M19 2C16.5 2 15 4.5 15.5 6.5C16 8.5 17.5 10 19.5 10C20.5 10 21.5 9.5 22.5 9C24.5 8 26 8 27 9C28.5 10.5 26 14 24 15C22 16 20 15 19 13C18 11 18 8 19 6C19.5 5 19.5 2 19 2Z"
                                    fill="white" />
                                <path
                                    d="M36 19C36 16.5 33.5 15 31.5 15.5C29.5 16 28 17.5 28 19.5C28 20.5 28.5 21.5 29 22.5C30 24.5 30 26 29 27C27.5 28.5 24 26 23 24C22 22 23 20 25 19C27 18 30 18 32 19C33 19.5 36 19.5 36 19Z"
                                    fill="white" />
                                <path
                                    d="M19 36C21.5 36 23 33.5 22.5 31.5C22 29.5 20.5 28 18.5 28C17.5 28 16.5 28.5 15.5 29C13.5 30 12 30 11 29C9.5 27.5 12 24 14 23C16 22 18 23 19 25C20 27 20 30 19 32C18.5 33 18.5 36 19 36Z"
                                    fill="white" />
                                <path
                                    d="M2 19C2 21.5 4.5 23 6.5 22.5C8.5 22 10 20.5 10 18.5C10 17.5 9.5 16.5 9 15.5C8 13.5 8 12 9 11C10.5 9.5 14 12 15 14C16 16 15 18 13 19C11 20 8 20 6 19C5 18.5 2 18.5 2 19Z"
                                    fill="white" />
                            </svg></i>
                        <b class="it-breadcrumb-experience-text">
                            <img src="~/img/hero/circle.png" alt="">
                        </b>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area-end -->

<!-- service-area-start -->
<div class="it-service-2-area p-relative z-index-1 pt-125 pb-95">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="it-section-title-box text-center mb-65">
                    <span class="it-section-subtitle">Ürünlerimiz</span>
                    <h4 class="it-section-title it-split-text it-split-in-right mb-0">Ürünlerimizin Bilgilerine<br>
                        Buradan Ulaşabilirsiniz</h4>
                </div>
            </div>
        </div>
        <div class="row d-flex flex-wrap align-items-stretch">
            @foreach (var product in Model.Products)
            {
                <div class="col-xl-4 col-lg-4 col-md-6 mb-4 d-flex">
                    <div class="it-service-2-item it-img-anim-wrap mb-35 flex-fill d-flex flex-column">
                        <div class="fix p-relative">
                            <div class="it-service-2-thumb fix it-img-anim"
                                data-displacement="https://admin.gurvent.firatramazano.com/@product.ImagePath" data-intensity="0.6"
                                data-speedin="1" data-speedout="1">
                                <img class="w-100" src="https://admin.gurvent.firatramazano.com/@product.ImagePath"
                                    style="height:200px; object-fit:contain" alt="">
                            </div>
                            <div class="it-service-2-icon">
                                <span>
                                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="19" cy="19" r="3" fill="white" />
                                        <path
                                            d="M19 2C16.5 2 15 4.5 15.5 6.5C16 8.5 17.5 10 19.5 10C20.5 10 21.5 9.5 22.5 9C24.5 8 26 8 27 9C28.5 10.5 26 14 24 15C22 16 20 15 19 13C18 11 18 8 19 6C19.5 5 19.5 2 19 2Z"
                                            fill="white" />
                                        <path
                                            d="M36 19C36 16.5 33.5 15 31.5 15.5C29.5 16 28 17.5 28 19.5C28 20.5 28.5 21.5 29 22.5C30 24.5 30 26 29 27C27.5 28.5 24 26 23 24C22 22 23 20 25 19C27 18 30 18 32 19C33 19.5 36 19.5 36 19Z"
                                            fill="white" />
                                        <path
                                            d="M19 36C21.5 36 23 33.5 22.5 31.5C22 29.5 20.5 28 18.5 28C17.5 28 16.5 28.5 15.5 29C13.5 30 12 30 11 29C9.5 27.5 12 24 14 23C16 22 18 23 19 25C20 27 20 30 19 32C18.5 33 18.5 36 19 36Z"
                                            fill="white" />
                                        <path
                                            d="M2 19C2 21.5 4.5 23 6.5 22.5C8.5 22 10 20.5 10 18.5C10 17.5 9.5 16.5 9 15.5C8 13.5 8 12 9 11C10.5 9.5 14 12 15 14C16 16 15 18 13 19C11 20 8 20 6 19C5 18.5 2 18.5 2 19Z"
                                            fill="white" />
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="it-service-2-content d-flex flex-column justify-content-between flex-grow-1">
                            <div>
                                <h4 class="it-service-2-title">
                                    <a class="border-line-black" href="#">@product.Name</a>
                                </h4>
                                <p>@product.Description</p>
                            </div>
                            <div class="d-flex gap-2 justify-content-between mt-auto">
                                <a class="it-btn-orange d-none d-md-flex" target="_blank"
                                    href="https://admin.gurvent.firatramazano.com/@product.DataSheetPath">Datasheet</a>
                                <a class="it-btn-orange d-none d-md-flex bg-dark" target="_blank"
                                    href="/Product/ModelViewer?path=https://admin.gurvent.firatramazano.com/@product.Model3DPath">
                                    3D Model
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
<!-- service-area-end -->