@using GurventVantilator.AdminUI.Models.BeforeAfter
@model BeforeAfterEditViewModel

@{
    ViewData["Title"] = "Before-After Güncelle";
}

<div asp-validation-summary="All" class="text-danger"></div>

<form class="ecommerce-form action-buttons-fixed" asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="row mt-2">
        <div class="col">
            <section class="card card-modern card-big-info">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-2-5 col-xl-1-5">
                            <i class="card-big-info-icon bx bx-exclude"></i>
                            <h2 class="card-big-info-title">Before-After Güncelle</h2>
                            <p class="card-big-info-desc">Before-After güncellemek için bilgileri değiştirin.</p>
                        </div>
                        <div class="col-lg-3-5 col-xl-4-5">
                            <div class="form-group row align-items-center pb-3">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0"
                                    asp-for="Title">Başlık</label>
                                <div class="col-lg-7 col-xl-6">
                                    <input type="text" class="form-control form-control-modern" asp-for="Title" />
                                    <span asp-validation-for="Title" class="badge badge-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row align-items-center pb-3">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0" asp-for="Subtitle">Alt
                                    Başlık</label>
                                <div class="col-lg-7 col-xl-6">
                                    <input type="text" class="form-control form-control-modern" asp-for="Subtitle" />
                                    <span asp-validation-for="Subtitle" class="badge badge-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row align-items-center pb-3">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0"
                                    asp-for="Description">Açıklama</label>
                                <div class="col-lg-7 col-xl-6">
                                    <textarea type="text" class="form-control form-control-modern" asp-for="Description"
                                        rows="4"></textarea>
                                    <span asp-validation-for="Description" class="badge badge-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row align-items-center pb-3">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0"
                                    asp-for="BeforeImageFile">Before Görsel</label>
                                <div class="col-lg-7 col-xl-6">
                                    @if (!string.IsNullOrEmpty(Model.BeforeImagePath))
                                    {
                                        <img src="@Model.BeforeImagePath" alt="Before Görsel" style="max-width:100px;"
                                            class="img-thumbnail mb-2" />
                                    }
                                    <input type="file" asp-for="BeforeImageFile"
                                        class="form-control form-control-modern editable"
                                        accept=".jpg,.jpeg,.png,.webp" />
                                    <input type="hidden" asp-for="BeforeImagePath" />
                                    <span asp-validation-for="BeforeImageFile" class="badge badge-danger"></span>

                                </div>
                            </div>

                            <div class="form-group row align-items-center pb-3">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0"
                                    asp-for="AfterImageFile">After Görsel</label>
                                <div class="col-lg-7 col-xl-6">
                                    @if (!string.IsNullOrEmpty(Model.AfterImagePath))
                                    {
                                        <img src="@Model.AfterImagePath" alt="After Görsel" style="max-width:100px;"
                                            class="img-thumbnail mb-2" />
                                    }
                                    <input type="file" name="afterImageFile"
                                        class="form-control form-control-modern editable"
                                        accept=".jpg,.jpeg,.png,.webp" />
                                    <input type="hidden" asp-for="AfterImagePath" />
                                    <span asp-validation-for="AfterImageFile" class="badge badge-danger"></span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row action-buttons">
        <div class="col-12 col-md-auto">
            <button type="submit"
                class="submit-button btn btn-primary btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1"
                data-loading-text="Loading...">
                <i class="bx bx-save text-4 me-2"></i> Kaydet
            </button>
        </div>
        <div class="col-12 col-md-auto px-md-0 mt-3 mt-md-0">
            <a asp-action="Index"
                class="cancel-button btn btn-light btn-px-4 py-3 border font-weight-semibold text-color-dark text-3">Geri
                Dön</a>
        </div>
    </div>
</form>