<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] - Gürvent Vantilator</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/logo/favicon.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/custom-animation.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/swiper-bundle.css">
    <link rel="stylesheet" href="~/css/font-awesome-pro.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/spacing.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/model-style.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@2.2.1"></script>
    <script>
        Chart.register(window['chartjs-plugin-annotation']);
    </script>
</head>

<body id="body" class="it-magic-cursor">

    <!-- preloader -->
    @await Html.PartialAsync("Partials/_PreLoader")
    <!-- preloader end  -->

    @await Html.PartialAsync("Partials/_MagicCursor")

    <!-- back-to-top-start  -->
    @await Html.PartialAsync("Partials/_ScrollTop")
    <!-- back-to-top-end  -->

    <!-- it-offcanvus-area-start -->
    @await Component.InvokeAsync("Sidebar")
    <!-- it-offcanvus-area-end -->

    <!-- header -->
    @await Component.InvokeAsync("Header")
    <!-- header -->

    <div id="smooth-wrapper">
        <div id="smooth-content">
            <main>
                @RenderBody()
            </main>

            <!-- footer -->
            @await Component.InvokeAsync("Footer")
            <!-- footer -->

        </div>
    </div>

    <!-- JS here -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/ordain-it.js"></script>
    <script src="~/js/three.js"></script>
    <script src="~/js/hover-img-effect.js"></script>
    <script src="~/js/magnific-popup.js"></script>
    <script src="~/js/purecounter.js"></script>
    <script src="~/js/range-slider.js"></script>
    <script src="~/js/nice-select.js"></script>
    <script src="~/js/swiper-bundle.js"></script>
    <script src="~/js/isotope-pkgd.js"></script>
    <script src="~/js/imagesloaded-pkgd.js"></script>
    <script src="~/js/slider.js"></script>
    <script src="~/js/wow.js"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>