@using GurventVantilator.AdminUI.Models.VisionMission
@model VisionMissionEditViewModel
@{
    ViewData["Title"] = "Vizyon/Misyon Güncelle";
}

<form class="ecommerce-form action-buttons-fixed" asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="row mt-2">
        <div class="col">
            <section class="card card-modern card-big-info">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-2-5 col-xl-1-5">
                            <i class="card-big-info-icon bx bx-analyse"></i>
                            <h2 class="card-big-info-title">Vizyon/Misyon Güncelle</h2>
                            <p class="card-big-info-desc">Vizyon/Misyon güncellemek için bilgileri değiştirin.</p>
                        </div>
                        <div class="col-lg-3-5 col-xl-4-5">

                            <div class="form-group row align-items-center pb-3">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0" asp-for="VisionTitle">Vizyon Başlık</label>
                                <div class="col-lg-7 col-xl-6">
                                    <input type="text" class="form-control form-control-modern editable"
                                        asp-for="VisionTitle" />
                                    <span asp-validation-for="VisionTitle" class="badge badge-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row align-items-center pb-3">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0" asp-for="VisionDescription">Vizyon İçerik</label>
                                <div class="col-lg-7 col-xl-6">
                                    <textarea type="text" class="form-control form-control-modern editable" asp-for="VisionDescription"
                                        rows="4"></textarea>
                                    <span asp-validation-for="VisionDescription" class="badge badge-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row align-items-center pb-3">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0" asp-for="VisionImageFile">Vizyon Görsel</label>
                                <div class="col-lg-7 col-xl-6">
                                    @if (!string.IsNullOrEmpty(Model.VisionImagePath))
                                    {
                                        <img src="@Model.VisionImagePath" alt="Site Logo" style="max-width:100px;"
                                            class="img-thumbnail mb-2" />
                                    }
                                    <input type="file" asp-for="VisionImageFile"
                                        class="form-control form-control-modern editable" accept=".jpg,.jpeg,.png,.webp" />
                                    <input type="hidden" asp-for="VisionImageFile" />
                                     <span asp-validation-for="VisionImageFile" class="badge badge-danger"></span>
                                     <small class="text-muted d-block mt-1">Desteklenen formatlar: JPG, PNG, WEBP. Maks
                                        10MB.</small>
                                </div>
                            </div>


                            <div class="form-group row align-items-center pb-3">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0" asp-for="MissionTitle">Misyon Başlık</label>
                                <div class="col-lg-7 col-xl-6">
                                    <input type="text" class="form-control form-control-modern editable"
                                        asp-for="MissionTitle" />
                                    <span asp-validation-for="MissionTitle" class="badge badge-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row align-items-center pb-3">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0" asp-for="MissionDescription">Misyon İçerik</label>
                                <div class="col-lg-7 col-xl-6">
                                    <textarea type="text" class="form-control form-control-modern editable" asp-for="MissionDescription"
                                        rows="4"></textarea>
                                    <span asp-validation-for="MissionDescription" class="badge badge-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row align-items-center pb-3">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0" asp-for="MissionImagePath">Misyon Görsel</label>
                                <div class="col-lg-7 col-xl-6">
                                    @if (!string.IsNullOrEmpty(Model.MissionImagePath))
                                    {
                                        <img src="@Model.MissionImagePath" alt="Misyon Görsel" style="max-width:100px;"
                                            class="img-thumbnail mb-2" />
                                    }
                                    <input type="file" asp-for="MissionImageFile"
                                        class="form-control form-control-modern editable" accept=".jpg,.jpeg,.png,.webp" />
                                    <input type="hidden" asp-for="MissionImageFile" />
                                    <span asp-validation-for="MissionImageFile" class="badge badge-danger"></span>
                                    <small class="text-muted d-block mt-1">Desteklenen formatlar: JPG, PNG, WEBP. Maks
                                        10MB.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row action-buttons">
        <div class="col-12 col-md-auto px-md-0 mt-3 mt-md-0">
            <button id="btnEnableEdit" type="button"
                class="btn btn-warning btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1">
                <i class="bx bx-edit text-4 me-2"></i> Güncelle
            </button>
        </div>
        <div class="col-12 col-md-auto">
            <button type="submit"
                class="submit-button btn btn-primary btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1 editable"
                data-loading-text="Loading...">
                <i class="bx bx-save text-4 me-2"></i> Kaydet
            </button>
        </div>
        @* <div class="col-12 col-md-auto px-md-0 mt-3 mt-md-0">
            <a asp-controller="Home" asp-action="Index"
                class="cancel-button btn btn-light btn-px-4 py-3 border font-weight-semibold text-color-dark text-3">Geri
                Dön</a>
        </div> *@
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Sayfa açıldığında inputları kapat
            $(".editable").prop("disabled", true);
            $("#btnSave").prop("disabled", true);

            $("#btnEnableEdit").click(function () {
                $(".editable").prop("disabled", false);
                $("#btnSave").prop("disabled", false);

                // Güncelle butonunu pasifleştir
                $(this).prop("disabled", true);
            });
        });
    </script>
}