$colors: (
    'common': (
        'white': #ffffff,
        'black': #091216,
        'black-2': #313537,
    ),
    'heading': (
        'primary': #091216,
    ),
    'gray': (
        '1':#F3F3F3,
        '2':#F4F4F4,
    ),
    'text': (
        'body':#797979,
    ),
    'theme': (
        '1':#E03B3B,
    ),
);
