@use '../utils' as *;

@-moz-keyframes headerSlideDown {
	0% {
		margin-top: -150px
	}

	100% {
		margin-top: 0
	}
}

@-ms-keyframes headerSlideDown {
	0% {
		margin-top: -150px
	}

	100% {
		margin-top: 0
	}
}

@-webkit-keyframes headerSlideDown {
	0% {
		margin-top: -150px
	}

	100% {
		margin-top: 0
	}
}

@keyframes headerSlideDown {
	0% {
		margin-top: -150px
	}

	100% {
		margin-top: 0
	}
}

@keyframes itswing {
	0% {
		-webkit-transform: rotate(4deg);
		-moz-transform: rotate(4deg);
		-ms-transform: rotate(4deg);
		-o-transform: rotate(4deg);
		transform: rotate(4deg);
	}

	100% {
		-webkit-transform: rotate(-4deg);
		-moz-transform: rotate(-4deg);
		-ms-transform: rotate(-4deg);
		-o-transform: rotate(-4deg);
		transform: rotate(-4deg);
	}
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		transform: translateY(20px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		transform: translateY(-20px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown
}

@keyframes animate-pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(224, 59, 59, 0.8), 0 0 0 0 rgba(224, 59, 59, 0.8);
	}

	40% {
		box-shadow: 0 0 0 50px rgba(224, 59, 59, 0), 0 0 0 0 rgba(224, 59, 59, 0.8);
	}

	80% {
		box-shadow: 0 0 0 50px rgba(224, 59, 59, 0), 0 0 0 30px rgba(224, 59, 59, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(224, 59, 59, 0), 0 0 0 30px rgba(224, 59, 59, 0);
	}
}

.pulse {
	animation: animate-pulse 3s linear infinite;
}

@keyframes animate-pulse-black {
	0% {
		box-shadow: 0 0 0 0 rgba(9, 18, 22, 0.8), 0 0 0 0 rgba(9, 18, 22, 0.8);
	}

	40% {
		box-shadow: 0 0 0 50px rgba(9, 18, 22, 0), 0 0 0 0 rgba(9, 18, 22, 0.8);
	}

	80% {
		box-shadow: 0 0 0 50px rgba(9, 18, 22, 0), 0 0 0 30px rgba(9, 18, 22, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(9, 18, 22, 0), 0 0 0 30px rgba(9, 18, 22, 0);
	}
}

.pulse-black {
	animation: animate-pulse-black 3s linear infinite;
}

@keyframes borderanimate {
	0% {
		transform: translate(-50%, -50%) scale(.8);
	}

	60% {
		opacity: 1;
	}

	100% {
		transform: translate(-50%, -50%) scale(2.5);
		opacity: 0;
	}
}

@keyframes translateY {
	0% {
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
		transform: translateY(0px);
	}

	100% {
		-webkit-transform: translateY(-170px);
		-moz-transform: translateY(-170px);
		-ms-transform: translateY(-170px);
		-o-transform: translateY(-170px);
		transform: translateY(-170px);
	}
}
@keyframes translateY2 {
	0% {
		-webkit-transform: translateY(0px) translateY(-50%);
		-moz-transform: translateY(0px) translateY(-50%);
		-ms-transform: translateY(0px) translateY(-50%);
		-o-transform: translateY(0px) translateY(-50%);
		transform: translateY(0px) translateY(-50%);
	}

	100% {
		-webkit-transform: translateY(-30px) translateY(-50%);
		-moz-transform: translateY(-30px) translateY(-50%);
		-ms-transform: translateY(-30px) translateY(-50%);
		-o-transform: translateY(-30px) translateY(-50%);
		transform: translateY(-30px) translateY(-50%);
	}
}

// animation  icon-bounce
@keyframes icon-bounce {

	0%,
	100%,
	20%,
	50%,
	80% {
		@include transform(translateY(0));
	}

	40% {
		@include transform(translateY(-10px));
	}

	60% {
		@include transform(translateY(-5px));
	}
}
@keyframes zoom {
	0% {
		height: 0;
	}
	100% {
		height: 62%;
	}
}

@keyframes animationglob {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
}

// img anim
@keyframes img-anim-right {
    0% {
      transform: translateX(5%);
      clip-path: inset(0 0 0 100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      clip-path: inset(0 0 0 0);
      opacity: 1;
    }
}
 
 @keyframes img-anim-left {
    0% {
      transform: translateX(-5%);
      clip-path: inset(0 100% 0 0);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      clip-path: inset(0 0 0 0);
      opacity: 1;
    }
}
  
@keyframes img-anim-top {
    0% {
      transform: translateY(-5%);
      clip-path: inset(0 0 100% 0);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      clip-path: inset(0 0 0 0);
      opacity: 1;
    }
}

.img-anim-right {
  animation: img-anim-right 1.3s forwards cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s;
  opacity: 0;
}
.img-anim-top {
  animation: img-anim-top 1.3s forwards cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 0;
}
.img-anim-left {
  animation: img-anim-left 1.3s forwards cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s;
  opacity: 0;
}

.it-img-anim {
    & canvas {
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        position: absolute;
    }
    &.style{
        &-1{
            & canvas{
                border-radius: 0 100px 100px 100px;
            }
        }
        &-3{
            & canvas{
                border-radius: 100px 100px 100px 0;
            }
        }
        &-2{
            & canvas{
                border-radius: 100px 0 100px 100px;
            }
        }
        &-4{
            & canvas{
                border-radius: 100px 100px 0 100px;
            }
        }
    }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.85, .85, .85);
    transform: scale3d(.85, .85, .85);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

