@use '../utils' as *;

.it-btn {
	&-orange {
		font-weight: 400;
		font-size: 18px;
		text-transform: uppercase;
		padding: 18px 30px;
		text-align: center;
		transition: .4s;
		position: relative;
		color: var(--it-common-white);
		background-color: var(--it-theme-1);
        display: inline-flex;
		align-items: center;
		justify-content: center;
		@media #{$xl,$lg,$md,$xs} {
			font-size: 14px;
			padding: 15px 25px;
		}
		

		& span {
			position: relative;
			z-index: 1;
			overflow: hidden;
			display: inline-block;

			& span {
				&.text-1 {
					position: relative;
					display: block;
					transition: 0.3s;
				}

				&.text-2 {
					position: absolute;
					top: 100%;
					display: block;
					transition: 0.3s;
				}
			}
		}

		& i {
			position: relative;
			overflow: hidden;
			width: 14px;
			height: 14px;
			display: inline-flex;
			margin-left: 10px;

			& svg {
				transform: translateY(-1px);
				position: absolute;
				bottom: -1px;
				left: 1px;
				transition: all 0.2s ease-out;

				&:last-child {
					left: -12px;
					bottom: -12px;
					transform: translate(0, 0);
					opacity: 0;
				}
			}
		}

		&:hover {
			color: var(--it-common-white);
			& span {
				
				& span {
					&.text-1 {
						-webkit-transform: translateY(-150%);
						transform: translateY(-150%);
					}

					&.text-2 {
						top: 50%;
						-webkit-transform: translateY(-50%);
						transform: translateY(-50%);
					}
				}
			}

			& i {
				& svg:first-child {
					transform: translate(16px, -16px);
				}

				& svg:last-child {
					opacity: 1;
					visibility: visible;
					transform: translate(13px, -12px);
				}
			}
		}
		&.error-btn {
			& i {			
				margin-left: 0;
				margin-right: 10px;
		    }
		}

		&.white-bg {
			& span {
				color: var(--it-common-black);

				& svg {
					color: var(--it-common-black);
				}
			}
		}
	}

	&-border {
		font-weight: 400;
		font-size: 18px;
		text-transform: uppercase;
		padding: 18px 30px;
		text-align: center;
		transition: .4s;
		position: relative;
	    display: inline-flex;
		align-items: center;
		justify-content: center;
		color: var(--it-common-white);
		border: 1px solid var(--it-common-white);

		@media #{$xl,$lg,$md,$xs} {
			font-size: 14px;
			padding: 15px 25px;
		}

		& span {
			position: relative;
			z-index: 1;
			overflow: hidden;
			display: inline-block;

			& span {
				&.text-1 {
					position: relative;
					display: block;
					transition: 0.3s;
				}

				&.text-2 {
					position: absolute;
					top: 100%;
					display: block;
					transition: 0.3s;
				}
			}
		}

		& i {
			position: relative;
			overflow: hidden;
			width: 14px;
			height: 14px;
			display: inline-flex;
			margin-left: 10px;

			& svg {
				transform: translateY(-1px);
				position: absolute;
				bottom: -1px;
				left: 1px;
				transition: all 0.2s ease-out;

				&:last-child {
					left: -12px;
					bottom: -12px;
					transform: translate(0, 0);
					opacity: 0;
				}
			}
		}

		&:hover {
			color: var(--it-common-white);
			& span {
				
				& span {
					&.text-1 {
						-webkit-transform: translateY(-150%);
						transform: translateY(-150%);
					}

					&.text-2 {
						top: 50%;
						-webkit-transform: translateY(-50%);
						transform: translateY(-50%);
					}
				}
			}

			& i {
				& svg:first-child {
					transform: translate(16px, -16px);
				}

				& svg:last-child {
					opacity: 1;
					visibility: visible;
					transform: translate(13px, -12px);
				}
			}
		}
	}
}