@forward 'components/theme';
@forward 'components/spacing';
@forward 'components/buttons';
@forward 'components/animation';
@forward 'components/preloader';
@forward 'components/background';
@forward 'components/carousel';
@forward 'components/offcanvas'; 
@forward 'components/breadcrumb';
@forward 'components/accordion';
@forward 'components/search';
@forward 'components/tab';
@forward 'components/tab';
@forward 'components/modal';
@forward 'components/section-title';
@forward 'components/rangeslider';
@forward 'layout/blog';
@forward 'layout/footer';
@forward 'layout/header';
@forward 'layout/menu';
@forward 'layout/hero';
@forward 'layout/about';
@forward 'layout/service';
@forward 'layout/funfact';
@forward 'layout/team';
@forward 'layout/testimonial';
@forward 'layout/brand';
@forward 'layout/slider';
@forward 'layout/project';
@forward 'layout/newsletter';
@forward 'layout/contact';
@forward 'layout/shop';
@forward 'layout/cart';
@forward 'layout/checkout';
@forward 'layout/shop-sidebar';
@forward 'layout/error';
@forward 'layout/choose';
@forward 'layout/process';
@forward 'layout/faq';
@forward 'layout/feature';
@forward 'layout/cta';
@forward 'layout/cost-calculator';



  