@use '../utils' as *;

.it-breadcrumb {
    &-overlay {
        position: relative;
        padding-top: 252px;
        padding-bottom: 85px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @media #{$lg}{
            padding-top: 240px;
        }
        @media #{$xs}{
            padding-top: 220px;
        }
        @media #{$sm}{
            padding-top: 250px;
        }
        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            background: rgba(9, 18, 22, 0.85);
        }
    }
    &-experience {
        padding: 30px;
        line-height: 0;
        display: inline-block;
        @media #{$lg,$md}{
            padding: 20px;
        }
        @media #{$xs}{
            display: none;
        } 
        & i {
            display: inline-block;
            height: 118px;
            width: 118px;
            line-height: 118px;
            text-align: center;
            border-radius: 50%;
            background-color: var(--it-theme-1);
            @media #{$lg,$md,$xs}{
                height: 90px;
                width: 90px;
                line-height: 90px;
            }
        }
        &-text {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            text-align: center;
            transform: translateY(-50%);
            & img {
                animation: animationglob 6s cubic-bezier(1, 0.99, 0.03, 0.01) infinite;
            }
        }
    }
    &-title {
        font-weight: 600;
        font-size: 34px;
        line-height: 1.29;
        text-transform: capitalize;
        color: var(--it-common-white);
        margin-bottom: 26px;    
        @media #{$lg,$md}{
            font-size: 30px;
            margin-bottom: 15px;
        } 
        @media #{$xs}{
            font-size: 28px;
        } 
        @media #{$sm}{
            font-size: 37px;
        } 
    }
    &-list {
        display: inline-block;
        & span {
            color: var(--it-common-white);
            &.dvdr{
                margin: 0 10px;
                color: var(--it-common-white);
            }
        }
        & i {
            color: #fff;
            font-style: normal;           
        }
    }
}

