@model DashboardDto

<section class="card">
    <header class="card-header card-header-transparent">
        <div class="card-actions">
            <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
            <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
        </div>

        <h2 class="card-title">Son Blog Yazıları</h2>
    </header>
    <div class="card-body">
        <table class="table table-responsive-md table-striped mb-0">
            <thead>
                <tr>
                    <th class="text-center">Başlık</th>
                    <th class="text-center">Tarih</th>
                    <th class="text-center">Durum</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var b in Model.LatestBlogs)
                {
                    <tr>
                        <td class="text-center"><strong><a href="#">@b.Title</a></strong></td>
                        <td class="text-center">@b.CreatedAt.ToShortDateString()</td>
                        <td class="text-center"><span class="badge badge-success">Yayında</span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>