@model DashboardDto

<!-- İstatistik Kartları -->
<div class="col-md-3">
    <section class="card card-featured-left card-featured-primary mb-3">
        <div class="card-body">
            <div class="widget-summary">
                <div class="widget-summary-col widget-summary-col-icon">
                    <div class="summary-icon bg-primary">
                        <i class="fas fa-phone"></i>
                    </div>
                </div>
                <div class="widget-summary-col">
                    <div class="summary">
                        <h4 class="title">İletişim</h4>
                        <div class="info">
                            <strong class="amount">@Model.TotalContacts</strong>
                            <span class="text-primary"></span>
                        </div>
                    </div>
                    <div class="summary-footer">
                        <a class="text-muted text-uppercase" asp-controller="Contact" asp-action="Index">(view
                            all)</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="col-md-3">
    <section class="card card-featured-left card-featured-info mb-3">
        <div class="card-body">
            <div class="widget-summary">
                <div class="widget-summary-col widget-summary-col-icon">
                    <div class="summary-icon bg-info">
                        <i class="fas fa-newspaper"></i>
                    </div>
                </div>
                <div class="widget-summary-col">
                    <div class="summary">
                        <h4 class="title">Blog</h4>
                        <div class="info">
                            <strong class="amount">@Model.TotalBlogs</strong>
                            <span class="text-primary"></span>
                        </div>
                    </div>
                    <div class="summary-footer">
                        <a class="text-muted text-uppercase" asp-controller="Blog" asp-action="Index">(view
                            all)</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="col-md-3">
    <section class="card card-featured-left card-featured-danger mb-3">
        <div class="card-body">
            <div class="widget-summary">
                <div class="widget-summary-col widget-summary-col-icon">
                    <div class="summary-icon bg-danger">
                        <i class="fa-solid fa-bell-concierge"></i>
                    </div>
                </div>
                <div class="widget-summary-col">
                    <div class="summary">
                        <h4 class="title">Hizmet Sayısı</h4>
                        <div class="info">
                            <strong class="amount">@Model.TotalServices</strong>
                            <span class="text-primary"></span>
                        </div>
                    </div>
                    <div class="summary-footer">
                        <a class="text-muted text-uppercase" asp-controller="Service" asp-action="Index">(view
                            all)</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="col-md-3">
    <section class="card card-featured-left card-featured-dark mb-3">
        <div class="card-body">
            <div class="widget-summary">
                <div class="widget-summary-col widget-summary-col-icon">
                    <div class="summary-icon bg-dark">
                        <i class="fa-solid fa-user-plus"></i>
                    </div>
                </div>
                <div class="widget-summary-col">
                    <div class="summary">
                        <h4 class="title">Ekip Üyesi</h4>
                        <div class="info">
                            <strong class="amount">@Model.TotalTeamMembers</strong>
                            <span class="text-primary"></span>
                        </div>
                    </div>
                    <div class="summary-footer">
                        <a class="text-muted text-uppercase" asp-controller="TeamMember" asp-action="Index">(view
                            all)</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>