
@use '../utils' as *;

/*----------------------------------------*/
/*  07. choose css start
/*----------------------------------------*/
.it-choose {
    &-content {
        padding: 80px;
        padding-bottom: 90px;
        background-color: var(--it-common-black);
        @media #{$xs}{
            padding: 45px 30px;
            padding-bottom: 40px;
        }
    }
    &-overlay {
        background-size: cover;
        background-repeat: no-repeat;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            background: rgba(9, 18, 22, 0.7);
        }
    }
    &-video {
        writing-mode: sideways-lr;
        margin-left: 210px;
        display: flex;
        @media #{$lg}{
            margin-left: 60px;
        }
        @media #{$md,$xs}{
            display: none;
        }
        & span {
            font-weight: 700;
            font-size: 48px;
            padding: 0;
            display: block;
            line-height: 3;
            font-family: var(--it-ff-heading);
            color: var(--it-common-white);
        }
        & a {
            display: inline-block;
            height: 145px;
            width: 145px;
            line-height: 145px;
            text-align: center;
            border-radius: 50%;
            margin-bottom: 20px;
            background-color: var(--it-theme-1);
        }
    }
}
.it-choose-2 {
    &-thumb {
        & img {
            max-width: inherit;
            @media #{$xl,$lg}{
                max-width: 100%;
            }
            @media #{$md,$xs}{
                width: 100%;
            }
        }
    }
    &-border {
        border-bottom: 1px solid rgba(121, 121, 121, 0.3);
    }
    &-right {
        margin-left: 75px; 
        @media #{$xl,$lg}{
            margin-left: 20px;
        }
        @media #{$md,$xs}{
            margin-left: 0;
            margin-bottom: 50px;
        }
        & .it-custom-accordion .accordion-items {
            border-bottom: none;
        }       
        & .it-custom-accordion {
            & .accordion-buttons {
                font-weight: 700;
                font-size: 24px;
                padding: 22px 40px;
                padding-right: 80px;
                color: var(--it-common-black);
                font-family: var(--it-ff-heading);
                @media #{$lg,$xs}{
                    font-size: 18px;
                    padding: 18px 30px;
                }
                & span {
                    display: inline-block;
                    height: 60px;
                    width: 60px;
                    line-height: 60px;
                    text-align: center;
                    margin-right: 20px;
                    transition: .3s;
                    color: var(--it-common-white);
                    background-color: var(--it-theme-1);
                    @media #{$lg}{
                        height: 50px;
                        width: 50px;
                        line-height: 50px;
                    }
                    @media #{$xs}{
                        display: none;
                    } 
                    & svg {
                        @media #{$lg,$xs}{
                            width: 28px;
                        }
                    }
                }
                & .it-accordion-number {
                    font-style: normal;
                    position: absolute;
                    top: 50%;
                    right: 40px;
                    transform: translateY(-50%);
                    margin-bottom: 0;
                    font-weight: 700;
                    font-size: 48px;
                    font-family: var(--it-ff-heading);
                    color: transparent;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: rgba(0, 0, 0, 0.2);
                    @media #{$lg,$xs}{
                        font-size: 30px;
                    }
                }
                &:not(.collapsed) {
                    padding-bottom: 2px;
                    color: var(--it-common-white);
                    background-color: var(--it-theme-1);
                    & span {
                        color: var(--it-theme-1);
                        background-color: var(--it-common-white);                     
                    }
                    & .it-accordion-number {
                        -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
                    }
                }
            }
        }
        & .it-custom-accordion .accordion-body {
            background-color: var(--it-theme-1);
            & p {
                padding-left: 125px;
                margin-right: 50px;
                color: var(--it-common-white);
                @media #{$lg}{
                    font-size: 14px;
                }
                @media #{$xs}{
                    font-size: 14px;
                    padding: 0 30px;
                    margin-right: 0;
                }
            }
        }
        & .it-custom-accordion .accordion-items {
            border-bottom: none;
            transition: 0.4s;
            background: var(--it-gray-1);
        }
    }
}
.it-choose-3 {
    &-area {
        @media #{$lg,$md,$xs}{
            padding: 120px 0;
        }
    }
    &-bg {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 39.4%;
        @media #{$xl}{
            width: 46%;
        }
        @media #{$md,$xs}{
            position: static;
            margin-top: 50px;
            width: 100%;
        }
        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &-more {
        &-title {
            font-weight: 600;
            font-size: 25px;
            margin-bottom: 17px;
            position: relative;
            padding-left: 35px;
            & span {
                position: absolute;
                top: -2px;
                left: 0;
            }
            @media #{$xl,$lg}{
                font-size: 18px;
            }
            @media #{$md}{
                font-size: 21px;
            }
            @media #{$xs}{
                font-size: 17px;
            }
            & svg {
                @media #{$xl,$lg,$md,$xs}{
                    width: 18px;
                }
            }
        }
        &-info {
            @media #{$md}{
                margin-right: 50px;
            }
            & p {
                margin-bottom: 0;
                line-height: 2;
                @media #{$xl,$lg,$md,$xs}{
                    font-size: 14px;
                    line-height: 1.7;
                }
            }
        }
        &-ml {
            margin-left: 30px;
            @media #{$xl,$lg,$md,$xs}{
                margin-left: 0;
            }
        }
    }
    &-content {

        & .it-section-title-box {
            & p {
                line-height: 2;
                color: var(--it-common-black);
            }
        }
        & .it-section-title {
            margin-bottom: 15px;
        }
    }
}