
@use '../utils' as *;

/*----------------------------------------*/
/*  20. menu css start
/*----------------------------------------*/
.it-process {
    &-item {
        padding: 40px;
        z-index: 1;
        background-color: var(--it-common-white);

        @media #{$lg,$md,$xs}{
            padding: 30px;
        }
        @media #{$sm}{
            padding: 30px 20px;
        }
        &-shape-1 {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
        }
        &:hover {
            & .it-process-icon {
                & i,svg {
                    animation: icon-bounce 0.8s ease-out infinite;
                }
            } 
            & .it-process-number {
                & span {
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: var(--it-theme-1);
                    color: var(--it-theme-1);
                }
                &::before {
                    margin-left: 10px;
                    width: 62%;
                }
                &::after {
                    width: 48%;
                }
            }
        }
    }
    &-number {
        text-align: end;
        position: relative;
        @media #{$sm}{
            margin-bottom: 35px;
        }
        & span {
            font-weight: 800;
            font-size: 48px;
            line-height: .8;
            color: transparent;
            transition: .3s;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #000;
            font-family: var(--it-ff-heading);
            @media #{$sm}{
                font-size: 30px;
            }
        }
        &::before {
            content: '';
            position: absolute;
            top: 5px;
            left: 0;
            height: 2px;
            width: 59%;
            transition: .3s;
            background-color: var(--it-theme-1);
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 5px;
            left: 0;
            height: 2px;
            width: 59%;
            transition: .5s;
            background-color: var(--it-theme-1);
        }
    }
    &-title {
        font-weight: 600;
        font-size: 25px;
        @media #{$sm}{
            font-size: 22px;
        }
    }
    &-icon {
        & span {
            display: inline-block;
            margin-bottom: 35px;
            & svg {
                @media #{$sm}{
                    width: 40px;
                }
            }
        }
    }
    &-shape-1 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}