@use '../utils' as *;

/*----------------------------------------*/
/*  21. project css start
/*----------------------------------------*/

.it-project {
    &-client {
        &-info {
            flex-direction: column;
            display: inline-flex;
            justify-content: flex-end;
            margin-bottom: 13px;
            margin-left: 10px;
            & span {
                font-size: 14px;
                letter-spacing: 0.01em;
                color: var(--it-common-white);
                display: block;
                margin-bottom: 8px;
                @media #{$xs}{
                    font-size: 11px;
                }
            }
            & a {
                font-size: 14px;
                letter-spacing: 0.01em;
                color: var(--it-theme-1);
                display: inline-block;
                text-decoration: transparent;
                @media #{$xs}{
                    font-size: 11px;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
            &-box {
                & img {
                    transition: .4s;
                }
            }
        
        }
        &-btn {
            display: inline-block;
            width: 89px;
            height: 86px;
            line-height: 86px;
            text-align: center;
            border-radius: 50%;
            padding: 0;
            margin-left: -20px;
            background-color: var(--it-theme-1);
            & svg {
                display: inline-block;
            }
        }
        &-info-box {
            position: relative;
            padding: 0 30px;
            @media #{$md,$xs}{
                margin-top: 25px;
            }
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 82%;
                border-radius: 1000px;
                z-index: -1;
                background-color: var(--it-common-black);
            }

        }
        &-wrap {
            &:hover {
                & .it-project-client-btn {
                    & svg {
                        transform: rotate(360deg);
                        transition: 0.6s;
                    }
                }
                & .it-project-client-info-box {
                    & img {
                        transform: translateX(-10px);
                    }
                }
            }
        }
    }
    &-content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        text-align: center;
        padding: 30px; 
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            height: 3.2%;
            width: 100%;
            z-index: -1;
            transition: all 0.3s ease-in-out;
            background: var(--it-theme-1);
        }
        & > div {
            text-align: start;
        }
    }
    &-title {
        margin-bottom: 17px;
        color: var(--it-common-white);
        @media #{$xl,$lg,$md,$xs} {
            font-size: 20px;
        }
    }
    &-tag {
        & span {
            display: inline-block;
            border: 1px solid #fff;
            border-radius: 100px;
            padding: 2px 16px;
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 0.01em;
            color: var(--it-common-white);
            &:first-child {
                margin-right: 6px;
            }
        }
    }
    &-arrow {
        margin-left: 20px;
        & a {    
            display: inline-block;        
            &:hover {
                & svg {
                    transform: rotate(390deg);
                    transition: 0.6s;
                    color: var(--it-common-black);
                }
            }
        }
    }
    &-thumb {
        overflow: hidden;
        & img {
            transition: all 0.7s linear;
        }
    }
    &-item {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(180deg, rgba(23, 36, 38, 0) 0%, #172426 100%);
        }
        &:hover {
            & .it-project-content {
                &::after {
                    height: 100%;
                }
            }
            & .it-project-thumb {
                & img {
                    transform: scale(1.2);
                }
            }
        }
    }
    &-active {
        margin-right: -440px;
        @media #{$xxl}{
            margin-right: -250px;
        }
        @media #{$xl,$lg,$md,$xs}{
            margin-right: 0;
        }
    }
    &-shape-1 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    &-arrow-wrap{
        display: flex;
        gap: 10px;
        & button {
            padding: 0;
            display: inline-block;
            height: 60px;
            width: 60px;
            line-height: 55px;
            transition: .3s;
            border: 1px solid var(--it-theme-1);
            @media #{$md,$xs}{
                height: 40px;
                width: 40px;
                line-height: 35px;
            }
            & i,svg {
                transition: .3s;
                display: inline-block;
                color: var(--it-theme-1);
                @media #{$md,$xs}{
                    width: 12px;
                }
            }
            &:hover {
                background-color: var(--it-theme-1);
                & svg {
                    color: var(--it-common-white);
                }
            }
        }
    }
    &-area {
        & .it-project-dots {
            margin-left: 90px;
            @media #{$xs}{
                margin-left: 0;
            }
            .swiper-pagination-bullet{
                width: 25%;
                height: 4px;
                opacity: 1;
                border-radius: 0;
                position: relative;
                background-color: rgba($color: #797979, $alpha: .3);  
                &::after{
                    position: absolute;
                    content: '';
                    top: 0;
                    left: auto;
                    right: 0;
                    width: 0;
                    height: 100%;
                    transition: .3s;
                    background-color: var(--it-common-black);
                    
                } 
                &.swiper-pagination-bullet-active{
                    &::after{
                        right: auto;
                        left: 0;
                        width: 100%;
                    }
                }
            }
        }
    }

}
.swiper-pagination, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    color: var(--it-common-black);
    & span {
        font-weight: 600;
        font-size: 16px;
    }
}
.swiper-pagination {
	position: relative;
}
.it-project-2 {
    &-right {
        @media #{$md}{
            margin-top: 30px;
            margin-right: 60px;
            & br {
                display: none;
            }
        }
        @media #{$xs}{
            margin-top: 30px;
            & br {
                display: none;
            }
        }
    }
    &-title {
        font-weight: 600;
        font-size: 34px;
        margin-bottom: 12px;
        @media #{$xl}{
            font-size: 23px;
        }
        @media #{$lg}{
            font-size: 28px;
        }
        @media #{$md,$xs}{
            font-size: 23px;
        }
    }
    &-content {
        padding-top: 40px;
        & .it-project-arrow {
            & a {
                display: inline-block;
                height: 58px;
                width: 58px;
                line-height: 58px;
                text-align: center;
                background-color: var(--it-theme-1);
                @media #{$xl,$md,$xs}{
                    height: 40px;
                    width: 40px;
                    line-height: 40px;
                }
            }
        }
    }
    &-thumb {
        overflow: hidden;
        & img {
            transition: 1.3s all ease;
        }
    }
    &-active {
        margin-right: -440px;
        @media #{$xxl}{
            margin-right: -250px;
        }
        @media #{$xl,$lg,$md,$xs}{
            margin-right: 0;
        }
    }
    &-item {
        &:hover {
            & .it-project-2-thumb {
                & img {
                    transform: rotate(-4deg) scale(1.1);
                }
            }
        }
    }
}
.it-project-2-dots {
    .swiper-pagination-bullet{
        width: 33.33%;
        height: 4px;
        opacity: 1;
        border-radius: 0;
        position: relative;
        background-color: #F3F3F3;  
        &::after{
            position: absolute;
            content: '';
            top: 0;
            left: auto;
            right: 0;
            width: 0;
            height: 100%;
            transition: .3s;
            background-color: var(--it-theme-1);
            
        } 
        &.swiper-pagination-bullet-active{
            &::after{
                right: auto;
                left: 0;
                width: 100%;
            }
        }
    }
}
.it-project-3 {
    &-content {
        position: absolute;
        bottom: 40px;
        left: 40px;
        padding: 30px 30px;
        padding-top: 25px;
        z-index: 1;
        background-color: var(--it-common-white);
        @media #{$lg}{
            bottom: 20px;
            left: 20px;
            padding: 20px;
        }
        @media #{$xs}{
            bottom: 15px;
            left: 15px;
            padding: 10px 20px;
        }
        @media #{$sm}{
            bottom: 20px;
            left: 20px;
            padding: 20px;
        }
        & .it-project-title {
            margin-bottom: 12px;
            color: var(--it-common-black);
        }
        & .it-project-tag {
            padding-bottom: 20px;
            border-bottom: 1px solid #D9D9D9;
            & span {
                color: var(--it-theme-1);
                border: 1px solid var(--it-theme-1);
                @media #{$xs}{
                    padding: 2px 12px;
                    font-size: 10px;
                } 
                @media #{$sm}{
                    padding: 2px 12px;
                    font-size: 14px;
                } 
            }
        }
        & .it-blog-btn {
            font-size: 14px;
            letter-spacing: 0.01em;
            @media #{$xs}{            
                font-size: 12px;
            } 
            @media #{$sm}{
                font-size: 14px;
            } 
            & svg {
                @media #{$xs}{
                    width: 8px;
                } 
                @media #{$sm}{
                    width: 12px;
                } 
            }
        }
    }
    &-info {
        padding: 14px 0;
        border-bottom: 1px solid #D9D9D9;
        @media #{$lg}{
            font-size: 14px;
            padding: 10px 0;
        }
        @media #{$xs}{
            font-size: 10px;
            padding: 5px 0;
        }
        @media #{$sm}{
            font-size: 14px;
            padding: 10px 0;
        } 
    }
    &-thumb {
        & img {
            transition: all 0.7s linear;
        }
    }
    &-item {
        overflow: hidden;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(9, 18, 22, 0.4);
        }
        &:hover {
            & .it-project-3-thumb {
                & img {
                    transform: scale(1.18);
                }
            }
        }
    }
    &-area {
        & .it-project-arrow-wrap {
            @media #{$xxl,$xl,$lg,$md,$xs}{
                display: none !important;
            }
            & .arrow-prev {
                position: absolute;
                top: 38%;
                left: -7.5%;
            }
            & .arrow-next {
                position: absolute;
                top: 38%;
                right: -7.5%;
            }
        }
    }
    
}
.it-project-3-dots {
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        opacity: 1;
        margin: 0 12px;
        position: relative;
        border-radius: 50%;
        transition: .3s;
        background-color: #797979;
        &::after{
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            width: 200%;
            height: 200%;
            opacity: 1;
            border-radius: 50%;
            transition: .4s;
            transform: translate(-50%,-50%) scale(0);
            border: 1px solid var(--it-theme-1);
            
        }      
        &.swiper-pagination-bullet-active{
            background-color: var(--it-theme-1);
            &::after{
                transform: translate(-50%,-50%) scale(1);
            }
        }
    }
}
.it-project-style-2 {
    & .it-project-5-active{
        margin: 0 -435px;
        @media #{$xxl}{
            margin: 0 -235px;
        }
        @media #{$lg,$md,$xs}{
            margin: 0;
        }
    }
    & .it-project-thumb{
        & img {
            transition: 1.3s all ease;
        }
    }
    & .it-project-2-content {
        position: absolute;
        bottom: 30px;
        left: 30px;
        right: 30px;
        z-index: 1;
        opacity: 0;
        transition: 0.9s;
        transform: perspective(400px) scaleY(0);
        transform-origin: bottom;
        & span {
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 0.01em;
            color: var(--it-common-white);
        }
    }
    & .it-project-2-title {
        font-weight: 600;
        font-size: 25px;
        color: var(--it-common-white);
    }
    & .it-project-item {
        overflow: hidden;
        &::after {
            opacity: 0;
            background: linear-gradient(180deg, rgba(23, 36, 38, 0) 0%, #172426 100%);
            -webkit-transform: perspective(200px) rotateX(60deg) scaleY(0.5);
            -ms-transform: perspective(200px) rotateX(60deg) scaleY(0.5);
            transform: perspective(200px) rotateX(60deg) scaleY(0.5);
            -webkit-transform-origin: center;
            -ms-transform-origin: center;
            transform-origin: center;
            transition-delay: 0.1s;
            transition-timing-function: ease-in-out;
            transition-duration: 0.4s;
            transition-property: all;
        }
        &:hover {
            &::after {
                opacity: 1;
                -webkit-transform: perspective(200px) rotateX(0deg) scaleY(1);
                -ms-transform: perspective(200px) rotateX(0deg) scaleY(1);
                transform: perspective(200px) rotateX(0deg) scaleY(1);
                transition-delay: 0.1s;
                transition-timing-function: ease-in-out;
                transition-duration: 0.4s;
                transition-property: all;
            }
            & .it-project-2-content {
                opacity: 1;
                visibility: visible;
                transform: perspective(400px) scaleY(1);
            }
            & .it-project-thumb {
                & img {
                    transform: scale(1.2) rotate(-3deg);
                }
            }
        }
    }
    &.it-project-area .it-project-dots .swiper-pagination-bullet {
        width: 20%;
    }
}

/* details css here */
.it-project-details {
    &-area {
        & .postbox-dsc {
            & p {
                color: #797979;
            }
        }
        & .it-sv-details-list ul li {
            & p {
                font-weight: 700;
                font-size: 24px;
                line-height: 1.33;
                color: var(--it-common-black-2);
                @media #{$xxl}{
                    font-size: 22px;
                }
                @media #{$xl}{
                    font-size: 20px;
                }
                @media #{$lg}{
                    font-size: 16px;
                }
                @media #{$md,$xs}{
                    font-size: 14px;
                }
            }
        }
    }
    &-more {
        &-info {
            & span {
                font-weight: 500;
                font-size: 25px;
                display: block;
                color: var(--it-common-black);
                font-family: var(--it-ff-heading);
                @media #{$xl,$lg,$md,$xs}{
                    font-size: 22px;
                }
                @media #{$lg}{
                    font-size: 20px;
                }
                @media #{$md}{
                    font-size: 22px;
                }
                @media #{$xs}{
                    font-size: 17px;
                }
            }
            & i,a {
                font-weight: 500;
                font-size: 16px;
                line-height: 2;
                font-style: normal;
                @media #{$xl}{
                    font-size: 13px;
                }
                @media #{$lg}{
                    font-size: 11px;
                }
                @media #{$md}{
                    font-size: 13px;
                }
                @media #{$xs}{
                    font-size: 11px;
                }
            }
        }
        &-social {
            & a {
                display: inline-block;
                color: var(--it-common-black);
                & svg {
                    @media #{$xl,$lg,$md,$xs}{
                        width: 11px;
                    }
                }
                &:not(:last-child) {
                    margin-right: 12px;
                }
                &:hover {
                    color: var(--it-theme-1);
                }
            }
        }
    }
}