@use '../utils' as *;

/*----------------------------------------*/
/*  25. slider css start
/*----------------------------------------*/
.it-slider {
    &-subtitle {
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.01em;
        margin-bottom: 23px;
        padding: 9px 17px;
        display: inline-block;
        font-family: var(--it-ff-heading);
        color: var(--it-common-white);
        background: linear-gradient(90deg, #f43939 0%, rgba(9, 18, 22, 0) 100%);
        @media #{$md,$xs}{
            padding: 4px 17px;
            font-size: 12px;
        }
    }
    &-title {
        font-weight: 700;
        font-size: 80px;
        text-transform: uppercase;
        line-height: 1.2;
        margin-bottom: 20px;
        color: var(--it-common-white);
        & span {
            color: var(--it-theme-1);
        }
        & img {
            border-radius: 100px;
            @media #{$md}{
                width: 170px;
            }
            @media #{$xs}{
                width: 100px;
            }
            @media #{$sm}{
                width: 140px;
            }
        }
        @media #{$xl}{
            font-size: 60px;
        }
        @media #{$lg}{
            font-size: 58px;
        }
        @media #{$md}{
            font-size: 60px;
        }
        @media #{$xs}{
            font-size: 37px;
        }
        @media #{$sm}{
            font-size: 49px;
        }
    }
    &-content {
        padding: 215px 0;
        @media #{$xxl}{
            padding: 170px 0;
        }
        @media #{$xl}{
            padding: 150px 0;
        }
        @media #{$lg}{
            padding: 150px 0;
        }
        @media #{$md}{
            padding: 140px 0;
        }
        @media #{$xs}{
            padding: 120px 0;
        }
    }
    &-text {
        & p {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.6;
            color: var(--it-common-white);
            @media #{$xl,$lg}{
                & br {
                    display: none;
                }
                font-size: 17px;
            }
            @media #{$md}{
                margin-right: 40px;
                & br {
                    display: none;
                }
            }
            @media #{$xs}{
                font-size: 15px;
                & br {
                    display: none;
                }
            }
        }
    }
    &-overlay {
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -2;
            background: rgba(9, 18, 22, 0.7);
        }
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: linear-gradient(91deg, #091216 0%, rgba(9, 18, 22, 0) 100%);
        }
    }
    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -2;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-position:center;
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
        -webkit-transition: opacity 1500ms ease-in, -webkit-transform 7000ms ease;
        transition: opacity 1500ms ease-in, -webkit-transform 7000ms ease;
        transition: transform 5000ms ease, opacity 1500ms ease-in;
        transition: transform 5000ms ease, opacity 1500ms ease-in, -webkit-transform 5000ms ease;
    }
    &-shape {
        &-1 {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        &-2 {
            position: absolute;
            bottom: 20%;
            left: 45%;
            z-index: -1;
            animation: itswing 2s forwards infinite alternate;
            transform-origin: top left;
            @media #{$xs}{
                display: none;
            }
        }
    }
    &-author{
        @media #{$xs}{
            margin-top: 20px;
        }
        &-avater {
            @media #{$xs}{
                width: 120px;
            }
        }
        &-designation {
            margin-left: 20px;
            & span {
                font-weight: 700;
                font-size: 14px;
                display: block;
                letter-spacing: 0.01em;
                color: var(--it-common-white);
                font-family: var(--it-ff-heading);
            }
            & i {
                font-weight: 400;
                font-size: 14px;
                color: #F3F3F3;
                font-style: normal;
                display: block;
                margin-bottom: 7px;
            }
        }
    }
    &-active {
        & .swiper-slide-active {
            & .it-slider-subtitle,
            & .it-slider-title,
            & .it-slider-text,
            & .it-slider-btn {
                display: inline-block;
                animation-fill-mode: both;
                animation-name: fadeInUp;
            }
        }
    }
    &-video {
        position: relative;
        z-index: 1;
        padding: 0 115px 80px 115px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;    
        @media #{$md,$xs}{
            display: none;
        }
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            content: '';
            z-index: -1;
            background: linear-gradient(180deg, #f43939 0%, rgba(9, 18, 22, 0) 100%);
            opacity: 0.8;
        }
        & a {
            flex: 0 0 auto;
            display: inline-block;
            height: 104px;
            width: 104px;
            line-height: 104px;
            text-align: center;
            border-radius: 50%;
            position: relative;
            background-color: var(--it-common-white);
            &::before {
                position: absolute;
                content: "";
                left: 50%;
                top: 50%;
                width: 70%;
                height: 70%;
                border-radius: 50%;
                border: 1px solid var(--it-common-white);
                animation: borderanimate 3s linear infinite;
            }
            &::after {
                position: absolute;
                content: "";
                left: 50%;
                top: 50%;
                width: 60%;
                height: 60%;
                border-radius: 50%;
                border: 1px solid var(--it-common-white);
                animation: borderanimate 4s linear infinite;
            }
        }
    }
    &-wrap {
        padding-top: 150px;
        @media #{$xl}{
            padding-top: 147px;
        }
        @media #{$lg,$md}{
            padding-top: 140px;
        }
        @media #{$xs}{
            padding-top: 120px;
        }
        & .swiper-slide{
            &.swiper-slide-active{ 
                & .it-slider-bg{
                    -webkit-transform: scale(1);
                    transform: scale(1)
                }  
            }
        }
    }
    &-style-2 {
        @media #{$xl}{
            padding-top: 147px;
        }
        @media #{$lg}{
            padding-top: 140px;
        }
        @media #{$xs}{
            padding-top: 120px;
        }
        & .it-slider-title {
            margin-bottom: 30px;
            @media #{$md}{
                font-size: 70px;
            }
            @media #{$xs}{
                font-size: 35px;
            }
            @media #{$sm}{
                font-size: 55px;
            }
        }
        & .it-slider-content {
            padding-top: 170px;
            padding-bottom: 250px;
            @media #{$md}{
                padding-top: 120px;
                padding-bottom: 200px;
            } 
            @media #{$xs}{
                padding-top: 120px;
                padding-bottom: 200px;
            } 
        }
        & .it-slider-title {
            line-height: 1.12;
        }
        & .it-slider-subtitle {
            margin-bottom: 20px;
        }
        & .it-slider-overlay {
            &::before {
                display: none;
            }
            &::after {
                background: rgba(9, 18, 22, 0.8);
            }
        }
        & .it-slider-dots {
            right: auto;
            left: 4.5%;
            @media #{$xxl,$xl,$lg,$md,$xs}{
                display: none;
            }
            
        }
    }
}
.it-slider-active  {
    & .swiper-slide-active {
        & .it-slider-subtitle {
            animation-delay: .3s;
            animation-duration: 0.5s;
        }
        & .it-slider-title {
            animation-delay: .7s;
            animation-duration: 0.5s;
        }
        & .it-slider-text {
            animation-delay: .9s;
            animation-duration: 0.7s;
        }
        & .it-slider-btn  {
            animation-delay: 1.1s;
            animation-duration: 0.9s;
        }
        & .it-slider-bg  {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
}
.it-slider-dots {
    position: absolute;
    top: 50%;
    right: 8%;
    z-index: 1;
    transform: translateY(-50%);
    .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
        opacity: 1;
        margin: 20px 0;
        position: relative;
        border-radius: 50%;
        transition: .3s;
        display: flex;
        background-color: var(--it-common-white);
        &::after{
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            width: 200%;
            height: 200%;
            opacity: 1;
            border-radius: 50%;
            transition: .4s;
            transform: translate(-50%,-50%) scale(0);
            border: 1px solid var(--it-theme-1);
            
        }      
        &.swiper-pagination-bullet-active{
            background-color: var(--it-theme-1);
            &::after{
                transform: translate(-50%,-50%) scale(1);
            }
        }
    }
}