<!doctype html>
<html class="fixed">

<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>@(!string.IsNullOrEmpty(ViewData["Title"] as string) ? ViewData["Title"] : "Dashboard") - Admin Panel</title>

    <meta name="keywords" content="Admin Panel" />
    <meta name="description" content="Admin Panel - Gurvent Vantilator">
    <meta name="author" content="GurventVantilator">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800|Shadows+Into+Light"
        rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="~/vendor/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/vendor/boxicons/css/boxicons.min.css" />
    <link rel="stylesheet" href="~/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="~/vendor/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="~/vendor/jquery-ui/jquery-ui.theme.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="~/vendor/morris/morris.css" />
    <link rel="stylesheet" href="~/vendor/pnotify/pnotify.custom.css" />
    <link rel="icon" type="image/png" href="~/img/favicon.ico">

    <!-- Multi-select CSS -->
    <link rel="stylesheet" href="~/vendor/select2/css/select2.css" />
    <link rel="stylesheet" href="~/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/css/theme.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/css/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css">

    <!-- Head Libs -->
    <script src="~/vendor/modernizr/modernizr.js"></script>

    <link rel="stylesheet" href="~/vendor/summernote/summernote-bs4.css" />
    @RenderSection("Styles", required: false)
</head>

<body>
    <section class="body">
        <!-- start: header -->
        <partial name="Partials/_Header" />
        <!-- end: header -->

        <div class="inner-wrapper">

            <!-- start: sidebar -->
            <partial name="Partials/_Sidebar" />

            <!-- end: sidebar -->

            <section role="main" class="content-body content-body-modern mt-0">
                <partial name="Partials/_ContentHeader" />
                <partial name="Partials/_Notifications" />
                <!-- start: page -->

                @RenderBody()

                <!-- end: page -->
            </section>
        </div>

        <partial name="Partials/_SidebarRight" />

    </section>

    <!-- Vendor -->
    <script src="~/vendor/jquery/jquery.js"></script>
    <script src="~/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/vendor/popper/umd/popper.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/vendor/common/common.js"></script>
    <script src="~/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="~/vendor/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="~/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Specific Page Vendor -->
    <script src="~/vendor/jquery-ui/jquery-ui.js"></script>
    <script src="~/vendor/jqueryui-touch-punch/jquery.ui.touch-punch.js"></script>
    <script src="~/vendor/jquery-appear/jquery.appear.js"></script>
    <script src="~/vendor/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
    <script src="~/vendor/jquery.easy-pie-chart/jquery.easypiechart.js"></script>
    <script src="~/vendor/flot/jquery.flot.js"></script>
    <script src="~/vendor/flot.tooltip/jquery.flot.tooltip.js"></script>
    <script src="~/vendor/flot/jquery.flot.pie.js"></script>
    <script src="~/vendor/flot/jquery.flot.categories.js"></script>
    <script src="~/vendor/flot/jquery.flot.resize.js"></script>
    <script src="~/vendor/jquery-sparkline/jquery.sparkline.js"></script>
    <script src="~/vendor/raphael/raphael.js"></script>
    <script src="~/vendor/morris/morris.js"></script>
    <script src="~/vendor/gauge/gauge.js"></script>
    <script src="~/vendor/snap.svg/snap.svg.js"></script>
    <script src="~/vendor/liquid-meter/liquid.meter.js"></script>
    <script src="~/vendor/jqvmap/jquery.vmap.js"></script>
    <script src="~/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
    <script src="~/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
    <script src="~/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
    <script src="~/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
    <script src="~/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
    <script src="~/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
    <script src="~/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
    <script src="~/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>
    <script src="~/vendor/summernote/summernote-bs4.js"></script>

    <!-- Multi-select JS-->
    <script src="~/vendor/select2/js/select2.js"></script>
    <script src="~/vendor/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
    <script src="~/js/examples/examples.advanced.form.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/js/theme.js"></script>

    <!-- Theme Custom -->
    <script src="~/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/js/theme.init.js"></script>

    <!-- Examples -->
    <script src="~/js/examples/examples.dashboard.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>