<header class="page-header">
   <h2>@(ViewData["Title"] ?? "Yönetim Paneli")</h2>

    <div class="right-wrapper text-end">
        <ol class="breadcrumbs">
            <li>
                <a href="#">
                    <i class="bx bx-home-alt"></i>
                </a>
            </li>

            <li><span>Anasayfa</span></li>

            <li><span>Default</span></li>

        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
    </div>
</header>