<header class="header">
    <div class="logo-container">
        <a href="#" class="logo">
            <img src="~/uploads/images/site-info/logo.jpeg" class="rounded" height="35" alt="GurventVantilator Logo" />
        </a>

        <div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html"
            data-fire-event="sidebar-left-opened">
            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
        </div>

    </div>

    <!-- start: search & user box -->
    <div class="header-right">

        <span class="separator"></span>

        <div id="userbox" class="userbox">
            <a href="#" data-bs-toggle="dropdown">
                <figure class="profile-picture">
                    @if (User.IsInRole("DevAdmin"))
                    {
                        <img src="~/img/profile/devadmin.png" alt="Profile Image" class="rounded-circle" />
                    }
                    else
                    {
                        <img src="~/img/profile/admin.png" alt="Profile Image" class="rounded-circle" />
                    }
                </figure>
                <div class="profile-info" data-lock-name="Profile Image">
                    <span class="name">@User.FindFirst("FullName")?.Value</span>
                    <span class="role">
                        @(User.IsInRole("DevAdmin") ? "Dev Admin" : "Admin")
                    </span>
                </div>

                <i class="fa custom-caret"></i>
            </a>

            <div class="dropdown-menu">
                <ul class="list-unstyled mb-2">
                    <li class="divider"></li>
                    <li>
                        <a role="menuitem" tabindex="-1" href="@Url.Action("Index", "Profile")">
                            <i class="bx bx-user-circle"></i> Profilim
                        </a>
                    </li>

                    <li>
                        <form id="logoutForm" asp-controller="Account" asp-action="Logout" method="post"
                            style="display:none;">
                            @Html.AntiForgeryToken()
                        </form>

                        <a role="menuitem" tabindex="-1"
                            href="javascript:document.getElementById('logoutForm').submit();">
                            <i class="bx bx-power-off"></i> Güvenli Çıkış
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end: search & user box -->
</header>